<template>
  <div class="order no-select" v-if="order">
    <div class="order-title">
      <h2>Подробности товара <span>#</span>{{ order.id }}</h2>
    </div>
    <div class="order-images" v-if="order.photo && order.photo.length > 0">
      <div
        class="order-images-nav"
        v-show="order.photo && order.photo.length > 3"
      >
        <div class="slider-btn prev">
          <svg
            width="11"
            height="17"
            viewBox="0 0 11 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M1 1L9 8.5L1 16" stroke="#3878F4" stroke-width="2" />
          </svg>
        </div>
        <div class="slider-btn next">
          <svg
            width="11"
            height="17"
            viewBox="0 0 11 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M1 1L9 8.5L1 16" stroke="#3878F4" stroke-width="2" />
          </svg>
        </div>
      </div>
      <Swiper
        virtual
        :modules="swiperModules"
        :navigation="navigation"
        :breakpoints="sliderBreakpoints"
      >
        <SwiperSlide
          v-for="(photoItem, index) in order.photo"
          :key="index + 'swiper-img'"
          :virtualIndex="index"
          @click="showFullImage(`/images/order/${order.id}/${photoItem}`)"
        >
          <img
            class="no-select"
            :src="`/images/order/${order.id}/thumb.${photoItem}`"
            alt=""
          />
        </SwiperSlide>
      </Swiper>
    </div>
    <div class="order-images" v-else>Нет фото</div>
    <div class="order-description">
      <div class="order-description--fields">
        <div class="field">
          <div class="field-title field-title--status">Статус</div>
          <div
            class="field-value field-value--status"
            :class="{
              blue: order.Deal.status == 'open',
              red: order.Deal.status == 'close'
            }"
          >
            {{ statuses[order.Deal.status] }}
          </div>
        </div>
        <div class="field">
          <div class="field-title field-title--game">Название игры</div>
          <div class="field-value field-value--game">
            {{ order.game_.title }}
          </div>
        </div>
        <div class="field">
          <div class="field-title field-title--category">Категория</div>
          <div class="field-value field-value--category">
            {{ categories[order.category] }}
          </div>
        </div>
        <div class="field">
          <div class="field-title field-title--price">Сумма</div>
          <div class="field-value field-value--price">
            {{ order.price }}&nbsp;<span>&#8381;</span>
          </div>
        </div>
      </div>
      <div class="order-description--text">
        <h3 class="title">Описание</h3>
        {{ order.description }}
      </div>
    </div>

    <ConfirmButton
      :btnClass="'btn btn-primary btn-buy'"
      v-if="
        order.Deal.status === 'open' && order.owner !== $store.state.user.id
      "
      :status="isUserHaveMoney"
      :handler="buyOrder"
      @click="checkUserBalanceGreaterPrice"
    >
      Приобрести товар
    </ConfirmButton>
    <ConfirmButton
      :btnClass="'btn btn-primary btn-buy'"
      v-else-if="
        order.Deal.status === 'progress' && order.owner !== $store.state.user.id
      "
      :handler="() => $emit('confirmOrder')"
    >
      Подтвердить выполнение заказа
    </ConfirmButton>
    <OrderReview
      v-else-if="order.Deal.status === 'close'"
      :rewiew="order?.order_rewiew"
      :client="order.Deal.client"
      @updateRewiew="data => $emit('updateRewiew', data)"
    />
  </div>
</template>

<script>
import { defineAsyncComponent, ref, computed, inject } from 'vue'
import { useStore } from 'vuex'
import { categories, statuses } from '../../utils/listHelpers'
import { Swiper, SwiperSlide } from 'swiper/vue/swiper-vue'
import { Navigation, Virtual } from 'swiper'
import 'swiper/modules/virtual/virtual.min.css'

export default {
  components: {
    Swiper,
    SwiperSlide,
    OrderReview: defineAsyncComponent(() => import('./OrderReview.vue')),
    ConfirmButton: defineAsyncComponent(() => import('../ConfirmButton.vue'))
  },
  props: {
    order: { type: Object, required: true }
  },
  emits: {
    buy: null,
    confirmOrder: null,
    updateRewiew: null
  },
  setup(props, { emit }) {
    const store = useStore()
    const addAlert = inject('addAlert')

    const slides = ref([])
    const navigation = {
      nextEl: '.next',
      prevEl: '.prev',
      hiddenClass: 'swiper-button-hidden'
    }

    const prevBtnVisibility = ref(false)
    const swiperModules = [Navigation, Virtual]

    const sliderBreakpoints = computed(() => ({
      100: {
        slidesPerView: 1.5,
        spaceBetween: 20,
        navigation: false
      },
      350: {
        slidesPerView: 2.2,
        spaceBetween: 20,
        navigation: false
      },
      420: {
        slidesPerView: 2.5,
        spaceBetween: 20
      },
      599: {
        slidesPerView: 3.5,
        spaceBetween: 20
      },
      650: {
        slidesPerView: 4,
        spaceBetween: 20
      },
      899: {
        slidesPerView: 3.3,
        spaceBetween: 15
      },
      1023: {
        slidesPerView: 3.6,
        spaceBetween: 15
      },
      1200: {
        slidesPerView: 4.4,
        spaceBetween: 15
      }
    }))

    const showFullImage = url => {
      store.dispatch('popupActions/showImage', url)
    }

    const buyOrder = () => {
      emit('buy')
    }

    const isUserHaveMoney = ref(false)

    const checkUserBalanceGreaterPrice = () => {
      if (!store.getters['user/auth/isUserAuthenticated']) {
        store.dispatch(
          'popupActions/openPopupComponent',
          store.state.popupActions.popupComponentsList.login
        )
        return
      }

      try {
        if (+store.state.user.balance > +props.order.price) {
          isUserHaveMoney.value = true
        } else {
          addAlert(
            'error',
            `Недостаточно средств.
            Ваш баланс: ${store.state.user.balance} ₽`
          )
        }
      } catch (e) {
        addAlert('error', e)
      }
    }

    return {
      categories,
      statuses,
      slides,
      navigation,
      prevBtnVisibility,
      swiperModules,
      sliderBreakpoints,
      showFullImage,
      isUserHaveMoney,
      checkUserBalanceGreaterPrice,
      buyOrder
    }
  }
}
</script>

<style lang="scss" scoped>
.swiper {
  height: 100px;
  width: 100%;

  @media (max-width: 599px) {
    height: 112px;
  }

  .swiper-wrapper {
    .swiper-slide {
      img {
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        pointer-events: all;
        cursor: pointer;
      }
    }
  }

  &-button-disabled {
    visibility: hidden;
  }
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 54px 20px 35px 60px;
  padding-right: 35px;

  @media (max-width: 899px) {
    margin: 40px 17px 23px;
    padding: 0;
  }

  @media (max-width: 599px) {
    margin: 40px 0 23px;
    padding: 0;
  }

  &-title {
    h2 {
      margin-bottom: 35px;
      font-size: 25px;
      font-weight: 700;
      font-style: normal;
      line-height: 30.45px;
    }
  }
  &-images {
    position: relative;
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    color: rgba(50, 50, 50, 0.6);

    @media (max-width: 599px) {
      height: 112px;
    }

    &-nav {
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% - 1px);
      height: 2px;
      width: 100%;

      .slider-btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: calc(50% - 16px);
        width: 38px;
        height: 38px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 6px 2px rgba(145, 145, 145, 0.1);
        box-sizing: border-box;
        cursor: pointer;
        z-index: 10;
        transition: all 0.1s;

        @media (min-width: 600px) {
          &:hover {
            box-shadow: 0 0 6px 2px rgba(145, 145, 145, 0.2);
          }

          &:active {
            box-shadow: 0 0 6px 2px rgba(145, 145, 145, 0.1);
          }
        }

        @media (max-width: 599px) {
          display: none;
        }
      }

      .prev {
        left: -16px;
        padding-right: 3px;
        & > svg {
          transform: rotate(180deg);
        }
      }

      .next {
        right: -22px;
        padding-left: 3px;
      }
    }
  }

  &-description {
    &--fields {
      display: grid;
      grid-gap: 35px;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 35px;

      @media (max-width: 599px) {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
      }

      .field {
        &:nth-child(1) {
          grid-column: 1/2;

          @media (max-width: 599px) {
            grid-column: 1/2;
            grid-row: 2/2;
          }
        }

        &:nth-child(2) {
          grid-column: 1/2;

          @media (max-width: 599px) {
            grid-column: 1/2;
          }
        }

        &:nth-child(3) {
          grid-row: 2/2;
          grid-column: 1/2;

          @media (max-width: 599px) {
            grid-row: 1/2;
            grid-column: 2/2;
            justify-self: center;
          }
        }

        &:nth-child(4) {
          grid-column: 2/3;
          grid-row: 1/2;

          @media (max-width: 599px) {
            grid-column: 2/2;
            grid-row: 2/2;
            justify-self: center;
          }
        }

        &-title {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 5px;

          &--price {
            font-size: 15px;
            font-weight: 400;
          }
        }

        &-value {
          font-size: 15px;
          font-weight: 400;
          &--status {
            color: rgba(143, 144, 147, 1);
          }

          &--price {
            font-size: 24px;
            font-weight: 600;
          }
        }
      }
    }

    &--text {
      max-width: 550px;
      max-height: 150px;
      margin-bottom: 35px;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      white-space: pre-line;
      overflow-x: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar {
        background-color: rgba(56, 120, 244, 0.149);
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(56, 120, 244, 0.449);
        border-radius: 5px;
      }

      @media (max-width: 599px) {
        white-space: normal;
      }

      & > h3 {
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }

  .btn {
    max-width: fit-content;
    padding: 14px 55px;
    white-space: nowrap;

    @media (max-width: 899px) {
      margin-bottom: 35px;
    }

    @media (max-width: 599px) {
      min-width: 100%;
      margin: 0 0 35px;
      padding: 14px 0;
    }
  }

  .btn-buy {
    font-size: 18px;
    line-height: 21.92px;
    letter-spacing: 0.02em !important;

    @media (max-width: 599px) {
      width: 100% !important;
      font-size: 16px;
    }
  }
}

.blue {
  color: #3878f4 !important;
}

.red {
  color: #c34042 !important;
}
</style>
