<template>
  <div class="rewiew-wrapper">
    <div class="rewiew">
      <div class="rewiew-title">
        <h2>Отзыв о продавце</h2>
        <div class="rewiew-title__rating">
          <icon-base
            :iconName="'star'"
            :width="16"
            :height="16"
            :iconTitle="i"
            :iconColor="
              i > stars ? 'rgba(56, 120, 244, 0.15)' : 'rgba(56, 120, 244, 1)'
            "
            v-for="i in 5"
            class="star"
            :key="i + '-rating'"
            @mouseenter="setStars(i)"
          />
        </div>
      </div>
      <transition name="fade" mode="out-in">
        <div class="content-block" v-if="isChanging">
          <textarea
            class="rewiew-text"
            placeholder="Ваш отзыв"
            v-model="rewiewMessage"
          />
        </div>
        <div class="content-block" v-else>
          <div class="rewiew-content">
            <router-link
              v-slot="{ navigate }"
              :to="{
                name: 'profile',
                params: { userid: client }
              }"
            >
              <img
                @click="navigate"
                :src="`/images/user/${rewiew?.rewiew_author.id}.webp`"
                alt="author"
              />
            </router-link>

            <div class="rewiew-message">
              {{ rewiew?.message || 'Нет сообщения' }}
            </div>
          </div>
        </div>
      </transition>
      <button
        class="btn btn-primary rewiew-btn"
        :class="[loading && 'button-loader']"
        v-if="client === $store.state.user.id"
        @click="updateRewiew"
      >
        {{ !isChanging ? 'Изменить отзыв' : 'Оставить отзыв' }}
      </button>
    </div>
  </div>
</template>

<script>
import { inject, ref } from 'vue'
import { useRoute } from 'vue-router'
import IconBase from '../iconsComponents/iconBase.vue'

export default {
  components: {
    IconBase
  },
  props: {
    rewiew: {
      type: Object
    },
    client: {
      type: String
    }
  },
  emits: ['updateRewiew'],
  setup(props, { emit }) {
    const addAlert = inject('addAlert')
    const axios = inject('axios')
    const route = useRoute()

    const stars = ref(5)
    const rewiewMessage = ref('')
    const isChanging = ref(!props.rewiew)
    const loading = ref(false)

    if (props.rewiew) {
      stars.value = props.rewiew.stars
      rewiewMessage.value = props.rewiew.message
    }

    const setStars = i => {
      if (isChanging.value) stars.value = i
    }

    const updateRewiew = () => {
      if (isChanging.value) {
        if (stars.value === 0) {
          addAlert('error', 'Оценка в отзыве должна быть установлена')
          return
        }
        loading.value = true
        axios
          .patch(`/api/order/${route.params.orderId}`, {
            rewiew: {
              message: rewiewMessage.value,
              stars: stars.value
            }
          })
          .then(response => {
            loading.value = false
            isChanging.value = !isChanging.value
            emit('updateRewiew', response.data.rewiew)
          })
          .catch(e => {
            loading.value = false
            addAlert('error', e)
          })
        return
      }
      isChanging.value = !isChanging.value
    }

    return {
      stars,
      rewiewMessage,
      updateRewiew,
      isChanging,
      setStars,
      loading
    }
  }
}
</script>

<style lang="scss" scoped>
.rewiew-wrapper {
  position: relative;
  box-sizing: border-box;
  border-top: 1px solid rgba(56, 120, 244, 0.15);

  @media (max-width: 899px) {
    border-bottom: 1px solid rgba(56, 120, 244, 0.15);
  }
}

.rewiew {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 23px;

  @media (max-width: 899px) {
    padding-bottom: 23px;
  }

  &-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    & > h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
    }

    &__rating {
      display: flex;
      align-items: center;
      & > svg {
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }
  &-text {
    display: block;
    max-height: 90px;
    box-sizing: border-box;

    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar {
      background-color: rgba(56, 120, 244, 0.149);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(56, 120, 244, 0.449);
      border-radius: 5px;
    }
  }

  .content-block {
    margin: 10px 0;
  }

  &-content {
    display: flex;
    width: 100%;

    @media (max-width: 899px) {
      padding-left: 5px;
    }

    .rewiew-message {
      display: flex;
      width: 100%;
      max-height: 72px;
      padding-right: 5px;
      line-height: 22px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar {
        background-color: rgba(56, 120, 244, 0.149);
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(56, 120, 244, 0.449);
        border-radius: 5px;
      }
    }

    img {
      height: 60px;
      width: 60px;
      margin-right: 20px;
      border-radius: 50%;
    }

    span {
      display: flex;
      align-items: center;
    }
  }
  &-btn {
    max-width: 30%;
    margin: 0;
    margin-top: 10px;
    letter-spacing: 0.04rem;
    transition: all 0.2s ease-in;
  }
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease-in;
}
</style>
