<template>
  <TickerLoader v-if="loader" />
  <div class="order-page__wrapper" v-else>
    <AppOrder
      :order="order"
      @buy="buyOrder"
      @confirmOrder="confirmOrder"
      @updateRewiew="updateRewiew"
    />
    <AppChat :orderOwner="order.order_owner" :order="order.id.toString()" />
  </div>
</template>

<script>
import 'swiper/swiper.scss'
import 'swiper/modules/virtual/virtual.scss'

import AppOrder from '../order/OrderComponent.vue'
import AppChat from '../chat/AppChat.vue'
import TickerLoader from '../wrappers/TickerLoader.vue'

export default {
  name: 'OrderPage',
  inject: ['addAlert'],
  components: {
    AppChat,
    AppOrder,
    TickerLoader
  },
  data() {
    return {
      order: {},
      loader: true
    }
  },
  methods: {
    async requestOrder() {
      try {
        const { data } = await this.axios.get(
          `/api/order/${this.$route.params.orderId}`
        )
        this.order = data
        this.loader = false
      } catch (e) {
        this.addAlert('error', e)
      }
    },
    async buyOrder() {
      try {
        const result = await this.axios.patch(
          `/api/order/${this.$route.params.orderId}`
        )
        this.order.Deal = result.data?.deal
        this.addAlert('success', result.data.message)
      } catch (e) {
        this.addAlert('error', e.message)
      }
    },
    async confirmOrder() {
      try {
        const response = await this.axios.patch(
          `/api/order/${this.$route.params.orderId}`,
          { confirmation: true }
        )
        this.order.Deal = response.data?.deal
        this.addAlert('success', response.data.message)
      } catch (e) {
        this.addAlert('error', e.message)
      }
    },
    updateRewiew(rewiew) {
      this.order.order_rewiew = rewiew
    }
  },
  async beforeMount() {
    await this.requestOrder()
  }
}
</script>

<style lang="scss">
.order-page__wrapper {
  display: grid;
  grid-template-columns: 630px 1fr;
  height: max-content;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 65px rgba(12, 50, 123, 0.06);
  z-index: 1;

  @media (max-width: 1200px) {
    grid-template-columns: 55% 1fr;
  }

  @media (max-width: 899px) {
    grid-template-columns: 100%;
    margin: 0;
    padding: 0 50px;
  }

  @media (max-width: 599px) {
    grid-template-columns: 100%;
    margin: 0;
    padding: 0 20px;
  }
}
</style>
