<template>
  <div class="menu menu-left" :class="[visible && 'menu-active']">
    <ul class="menu-list" :class="[visible && 'menu-list--active']">
      <router-link v-slot="{ isExactActive, navigate }" to="/support" custom>
        <li
          class="menu-list__item clicable"
          :class="[isExactActive && 'menu-active']"
          aria-label="поддержка"
          @click="navigate"
        >
          Тех.поддержка
        </li>
      </router-link>
      <li class="menu-list__item clicable" aria-label="оставить отзыв">
        Оставить отзыв
      </li>
      <li class="menu-list__item">
        <ul class="menu-list__socials reset">
          <li
            class="clicable"
            v-for="icon in icons"
            :key="icon"
            :aria-label="icon.title"
          >
            <icon-base
              class="menu-list__item--icon clicable"
              :width="48"
              :height="48"
              :iconName="icon.img"
            />
            <span class="menu-list__item--desc">{{ icon.title }}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'

const iconBase = defineAsyncComponent(() =>
  import('@/components/iconsComponents/iconBase')
)

export default {
  components: {
    iconBase
  },
  data: () => ({
    icons: [
      { img: 'instaMenu', title: 'Инстаграм' },
      { img: 'vkMenu', title: 'ВКонтакте' },
      { img: 'fbMenu', title: 'Фейсбук' }
    ]
  }),
  computed: {
    visible() {
      return this.$store.state.headerMenus.left.visible
    }
  }
}
</script>

<style lang="scss">
.menu {
  position: absolute;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 200px;
  padding: 0 0 15px;
  background-color: #ffffff;
  box-shadow: 0px 5px 25px rgba(12, 50, 123, 0.04);
  transform: scale(0);
  transform-origin: left top;
  transition: all 0.2s;
  transition-delay: 0.2s;
  z-index: 9;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--main-blue);
    transition: all 0.2s ease-in;
    transition-delay: 0.1s;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: calc(100% + 1px);
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    width: 0;
    height: 0;
    background-color: var(--main-blue);
    transition: all 0.2s ease 0.1s;
    transition-delay: 0.1s;
  }

  @media (max-width: 899px) {
    padding: 5px 0 0;
    transition: all 0.2s;
    z-index: 999;
  }

  &-active {
    transform: scaleY(1);
    transition-delay: 0s;

    @media (max-width: 899px) {
      transition: all 0.2s;
    }

    &::before {
      width: 100% !important;
      transition-delay: 0s;
    }

    &::after {
      width: 10px !important;
      height: 10px !important;
      transition-delay: 0s;
    }
  }

  &-left {
    top: 100%;
    left: 5px;

    &::before {
      top: -2px;
      left: 0;
    }

    &::after {
      left: 28px;
    }

    @media (max-width: 899px) {
      top: 0;
      left: 0;
      border-radius: 0 0 10px 0;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 0;
    width: 100%;
    list-style: none;
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 0s;

    @media (max-width: 899px) {
      padding: 5px 20px 15px;
    }

    &--active {
      transition-delay: 0.2s;
      opacity: 1;
    }

    &__item {
      position: relative;
      width: 100%;
      padding: 15px 0 15px;
      font-family: Montserrat;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: center;

      &:last-child {
        padding: 0;
      }

      &:hover {
        color: #3878f4;
      }
    }

    &__socials {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding-top: 2px;

      & > li > span {
        display: none;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
      }

      @media (max-width: 899px) {
        flex-direction: column;

        & > li {
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 6px;
          overflow: hidden;

          & > svg {
            margin-right: 5px;
          }

          & > span {
            display: block;
          }
        }
      }
    }
  }
}

.clicable {
  cursor: pointer;
}
</style>
