<template>
  <div class="menu menu-right" :class="[visible && 'menu-active']">
    <ul class="menu-list" :class="[visible && 'menu-list--active']">
      <li
        class="menu-list__item clicable"
        aria-label="профиль"
        @click="goTo('profile', { userid: $store.state.user.id })"
      >
        Мой профиль
      </li>
      <li class="menu-list__item clicable" aria-label="сообщения">
        Сообщения<span class="header-menu__msg--indicator">122</span>
      </li>
      <li
        class="menu-list__item clicable"
        aria-label="финансы"
        @click="goTo('transactions', { userid: $store.state.user.id })"
      >
        Финансы
      </li>
      <li
        class="menu-list__item clicable"
        aria-label="настройки"
        @click="goTo('settings', { userid: $store.state.user.id })"
      >
        Настройки
      </li>
      <li
        class="menu-list__item clicable"
        aria-label="история"
        @click="goTo('history', { userid: $store.state.user.id })"
      >
        История
      </li>
      <li class="menu-list__item clicable" aria-label="выход" @click="logout">
        Выйти
      </li>
    </ul>
    <div class="menu-right--delimiter"></div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  computed: {
    visible() {
      return this.$store.state.headerMenus.right.visible
    }
  },
  methods: {
    ...mapActions('user/auth', ['logoutAction']),
    logout() {
      this.logoutAction()
      this.$router.push({ name: 'root' })
    },
    goTo(routeName, params) {
      this.$router.push({ name: routeName, params })
    }
  }
}
</script>

<style lang="scss">
.menu-right {
  min-width: 210px;
  top: 100%;
  right: 15px;
  transform-origin: right top;

  @media (max-width: 899px) {
    top: 0;
    right: 0;
    border-radius: 0 0 0 10px;
  }

  &::before {
    top: -2px;
    right: 0;
  }

  &::after {
    right: 40px;
    left: auto;
  }

  &--delimiter {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 58px;
    height: 1px;
    background-color: rgba(47, 108, 226, 0.2);
    z-index: 9999;
  }

  .menu-list {
    justify-content: space-between;
    padding-left: 35px;
    &__item {
      position: relative;
      box-sizing: border-box;
      font-family: Montserrat;
      text-align: left;
      text-decoration: none;
      padding: 15px 0 8px;

      &:last-child {
        padding: 27px 0 5px;
        margin-top: 0;
      }
    }
  }
}

.header-menu__msg--indicator {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  top: 21px;
  right: 0;
  width: 38px;
  height: 38px;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #fcfcfc;
  background: url('../../assets/img/menu-messages-bg.png');
  transform: translateY(-50%);
}
</style>
