<template>
  <div class="wrapper-container">
    <div class="__bg"></div>
    <div class="wraper-block">
      <div class="wraper-block--content">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.__bg {
  position: absolute;
  width: 100%;
  height: 275px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
  background-color: #f4f7fb;

  @media (max-width: 899px) {
    display: none;
  }
}

.wrapper-container {
  flex-grow: 1;
}

.wraper-block {
  max-width: 1200px;
  min-height: 600px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media (max-width: 899px) {
    padding: 0;
  }

  &--content {
    position: relative;
    margin: 80px 0;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 10px 65px rgba(12, 50, 123, 0.06);
    box-sizing: border-box;
    z-index: 1;

    @media (max-width: 899px) {
      margin: 0;
      padding: 0;
    }
  }
}
</style>
