<template>
  <rect width="24" height="24" fill="#E5E5E5" />
  <g>
    <rect
      width="1920"
      height="5988"
      transform="translate(-1721 -5876)"
      fill="white"
    />
    <rect x="-1721" y="-156" width="1920" height="195" fill="#E6ECF3" />
    <path
      d="M14.2969 12C14.2969 13.2686 13.2686 14.2969 12 14.2969C10.7314 14.2969 9.70312 13.2686 9.70312 12C9.70312 10.7314 10.7314 9.70312 12 9.70312C13.2686 9.70312 14.2969 10.7314 14.2969 12Z"
      fill="#323232"
      fill-opacity="0.15"
    />
    <path
      d="M17.3712 7.93622C17.2608 7.63702 17.0847 7.36621 16.8558 7.14392C16.6335 6.91504 16.3629 6.73889 16.0635 6.62848C15.8207 6.53418 15.456 6.42194 14.7842 6.39136C14.0574 6.35822 13.8395 6.35107 11.9997 6.35107C10.1597 6.35107 9.9418 6.35803 9.21524 6.39117C8.54344 6.42194 8.17851 6.53418 7.9359 6.62848C7.63652 6.73889 7.36571 6.91504 7.14361 7.14392C6.91473 7.36621 6.73858 7.63684 6.62799 7.93622C6.53369 8.17902 6.42145 8.54395 6.39087 9.21576C6.35773 9.94232 6.35059 10.1602 6.35059 12.0002C6.35059 13.8401 6.35773 14.058 6.39087 14.7847C6.42145 15.4565 6.53369 15.8213 6.62799 16.0641C6.73858 16.3635 6.91455 16.6341 7.14342 16.8564C7.36571 17.0853 7.63634 17.2614 7.93571 17.3718C8.17851 17.4663 8.54344 17.5786 9.21524 17.6091C9.9418 17.6423 10.1595 17.6492 11.9995 17.6492C13.8397 17.6492 14.0576 17.6423 14.784 17.6091C15.4558 17.5786 15.8207 17.4663 16.0635 17.3718C16.6644 17.14 17.1394 16.665 17.3712 16.0641C17.4655 15.8213 17.5778 15.4565 17.6085 14.7847C17.6417 14.058 17.6486 13.8401 17.6486 12.0002C17.6486 10.1602 17.6417 9.94232 17.6085 9.21576C17.578 8.54395 17.4657 8.17902 17.3712 7.93622ZM11.9997 15.5384C10.0454 15.5384 8.46122 13.9543 8.46122 12.0001C8.46122 10.0458 10.0454 8.46173 11.9997 8.46173C13.9538 8.46173 15.538 10.0458 15.538 12.0001C15.538 13.9543 13.9538 15.5384 11.9997 15.5384ZM15.6779 9.14874C15.2212 9.14874 14.851 8.7785 14.851 8.32184C14.851 7.86517 15.2212 7.49493 15.6779 7.49493C16.1345 7.49493 16.5048 7.86517 16.5048 8.32184C16.5046 8.7785 16.1345 9.14874 15.6779 9.14874Z"
      fill="#323232"
      fill-opacity="0.15"
    />
    <path
      d="M12 0C5.3736 0 0 5.3736 0 12C0 18.6264 5.3736 24 12 24C18.6264 24 24 18.6264 24 12C24 5.3736 18.6264 0 12 0ZM18.8491 14.8409C18.8157 15.5744 18.6991 16.0752 18.5288 16.5135C18.1708 17.4391 17.4391 18.1708 16.5135 18.5288C16.0754 18.6991 15.5744 18.8156 14.8411 18.8491C14.1063 18.8826 13.8715 18.8906 12.0002 18.8906C10.1287 18.8906 9.8941 18.8826 9.15912 18.8491C8.42578 18.8156 7.9248 18.6991 7.48663 18.5288C7.02667 18.3558 6.61029 18.0846 6.26605 17.7339C5.91559 17.3899 5.64441 16.9733 5.47137 16.5135C5.30109 16.0754 5.18445 15.5744 5.15112 14.8411C5.11725 14.1061 5.10938 13.8713 5.10938 12C5.10938 10.1287 5.11725 9.89392 5.15094 9.15912C5.18427 8.4256 5.30072 7.9248 5.47101 7.48645C5.64404 7.02667 5.91541 6.61011 6.26605 6.26605C6.61011 5.91541 7.02667 5.64423 7.48645 5.47119C7.9248 5.3009 8.4256 5.18445 9.15912 5.15094C9.89392 5.11743 10.1287 5.10938 12 5.10938C13.8713 5.10938 14.1061 5.11743 14.8409 5.15112C15.5744 5.18445 16.0752 5.3009 16.5135 5.47101C16.9733 5.64404 17.3899 5.91541 17.7341 6.26605C18.0846 6.61029 18.356 7.02667 18.5288 7.48645C18.6993 7.9248 18.8157 8.4256 18.8492 9.15912C18.8828 9.89392 18.8906 10.1287 18.8906 12C18.8906 13.8713 18.8828 14.1061 18.8491 14.8409Z"
      fill="#323232"
      fill-opacity="0.15"
    />
    <path
      d="M14.2969 12C14.2969 13.2686 13.2686 14.2969 12 14.2969C10.7314 14.2969 9.70312 13.2686 9.70312 12C9.70312 10.7314 10.7314 9.70312 12 9.70312C13.2686 9.70312 14.2969 10.7314 14.2969 12Z"
      fill="url(#paint0_linear)"
    />
    <path
      d="M17.3712 7.93622C17.2608 7.63702 17.0847 7.36621 16.8558 7.14392C16.6335 6.91504 16.3629 6.73889 16.0635 6.62848C15.8207 6.53418 15.456 6.42194 14.7842 6.39136C14.0574 6.35822 13.8395 6.35107 11.9997 6.35107C10.1597 6.35107 9.9418 6.35803 9.21524 6.39117C8.54344 6.42194 8.17851 6.53418 7.9359 6.62848C7.63652 6.73889 7.36571 6.91504 7.14361 7.14392C6.91473 7.36621 6.73858 7.63684 6.62799 7.93622C6.53369 8.17902 6.42145 8.54395 6.39087 9.21576C6.35773 9.94232 6.35059 10.1602 6.35059 12.0002C6.35059 13.8401 6.35773 14.058 6.39087 14.7847C6.42145 15.4565 6.53369 15.8213 6.62799 16.0641C6.73858 16.3635 6.91455 16.6341 7.14342 16.8564C7.36571 17.0853 7.63634 17.2614 7.93571 17.3718C8.17851 17.4663 8.54344 17.5786 9.21524 17.6091C9.9418 17.6423 10.1595 17.6492 11.9995 17.6492C13.8397 17.6492 14.0576 17.6423 14.784 17.6091C15.4558 17.5786 15.8207 17.4663 16.0635 17.3718C16.6644 17.14 17.1394 16.665 17.3712 16.0641C17.4655 15.8213 17.5778 15.4565 17.6085 14.7847C17.6417 14.058 17.6486 13.8401 17.6486 12.0002C17.6486 10.1602 17.6417 9.94232 17.6085 9.21576C17.578 8.54395 17.4657 8.17902 17.3712 7.93622ZM11.9997 15.5384C10.0454 15.5384 8.46122 13.9543 8.46122 12.0001C8.46122 10.0458 10.0454 8.46173 11.9997 8.46173C13.9538 8.46173 15.538 10.0458 15.538 12.0001C15.538 13.9543 13.9538 15.5384 11.9997 15.5384ZM15.6779 9.14874C15.2212 9.14874 14.851 8.7785 14.851 8.32184C14.851 7.86517 15.2212 7.49493 15.6779 7.49493C16.1345 7.49493 16.5048 7.86517 16.5048 8.32184C16.5046 8.7785 16.1345 9.14874 15.6779 9.14874Z"
      fill="url(#paint_linear_insta_1238679483124134)"
    />
    <path
      d="M12 0C5.3736 0 0 5.3736 0 12C0 18.6264 5.3736 24 12 24C18.6264 24 24 18.6264 24 12C24 5.3736 18.6264 0 12 0ZM18.8491 14.8409C18.8157 15.5744 18.6991 16.0752 18.5288 16.5135C18.1708 17.4391 17.4391 18.1708 16.5135 18.5288C16.0754 18.6991 15.5744 18.8156 14.8411 18.8491C14.1063 18.8826 13.8715 18.8906 12.0002 18.8906C10.1287 18.8906 9.8941 18.8826 9.15912 18.8491C8.42578 18.8156 7.9248 18.6991 7.48663 18.5288C7.02667 18.3558 6.61029 18.0846 6.26605 17.7339C5.91559 17.3899 5.64441 16.9733 5.47137 16.5135C5.30109 16.0754 5.18445 15.5744 5.15112 14.8411C5.11725 14.1061 5.10938 13.8713 5.10938 12C5.10938 10.1287 5.11725 9.89392 5.15094 9.15912C5.18427 8.4256 5.30072 7.9248 5.47101 7.48645C5.64404 7.02667 5.91541 6.61011 6.26605 6.26605C6.61011 5.91541 7.02667 5.64423 7.48645 5.47119C7.9248 5.3009 8.4256 5.18445 9.15912 5.15094C9.89392 5.11743 10.1287 5.10938 12 5.10938C13.8713 5.10938 14.1061 5.11743 14.8409 5.15112C15.5744 5.18445 16.0752 5.3009 16.5135 5.47101C16.9733 5.64404 17.3899 5.91541 17.7341 6.26605C18.0846 6.61029 18.356 7.02667 18.5288 7.48645C18.6993 7.9248 18.8157 8.4256 18.8492 9.15912C18.8828 9.89392 18.8906 10.1287 18.8906 12C18.8906 13.8713 18.8828 14.1061 18.8491 14.8409Z"
      fill="url(#paint_linear_insta_2453467465482346)"
    />
  </g>
  <defs>
    <linearGradient
      id="paint0_linear"
      x1="12"
      y1="9.70312"
      x2="12"
      y2="14.2969"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#DA09B7" />
      <stop offset="0.526042" stop-color="#FF0400" />
      <stop offset="1" stop-color="#FFD207" />
    </linearGradient>
    <linearGradient
      id="paint_linear_insta_1238679483124134"
      x1="11.9996"
      y1="6.35107"
      x2="11.9996"
      y2="17.6492"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="#DA09B7" />
      <stop offset="0.526042" stop-color="#FF0400" />
      <stop offset="1" stop-color="#FFD207" />
    </linearGradient>
    <linearGradient
      id="paint_linear_insta_2453467465482346"
      x1="24"
      y1="7.15256e-07"
      x2="-7.15256e-07"
      y2="24"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0.0999043" stop-color="#B009DA" />
      <stop offset="0.505385" stop-color="#FF0400" />
      <stop offset="0.868626" stop-color="#FFD207" />
    </linearGradient>
    <clipPath id="clip0">
      <rect
        width="1920"
        height="5988"
        fill="white"
        transform="translate(-1721 -5876)"
      />
    </clipPath>
  </defs>
</template>
