<template>
  <div class="container flex justify-center">
    <div class="flex algorithm column align-center text-center">
      <h2 class="algorithm-title justify-center">
        {{ title }}
      </h2>
      <div class="algorithm-sequence flex">
        <div class="algorithm-sequence__step">
          <img
            :src="require(`@/assets/img/algorithm/${images[0]}.svg`)"
            :alt="images[0]"
            width="120"
            height="120"
          />
          <span class="algorithm-sequence__step--text">{{ descs[0] }}</span>
        </div>
        <svg
          width="11"
          height="17"
          viewBox="0 0 11 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="algorithm-sequence__arrow"
        >
          <path
            d="M1 1L9 8.5L1 16"
            stroke="#3878F4"
            stroke-opacity="0.7"
            stroke-width="2"
          />
        </svg>
        <span class="line algorithm-step__line--main" />

        <div class="algorithm-sequence__step">
          <img
            :src="require(`@/assets/img/algorithm/${images[1]}.svg`)"
            :alt="images[1]"
            width="120"
            height="120"
          />
          <span class="algorithm-sequence__step--text">{{ descs[1] }}</span>
        </div>
        <svg
          width="11"
          height="17"
          viewBox="0 0 11 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="algorithm-sequence__arrow"
        >
          <path
            d="M1 1L9 8.5L1 16"
            stroke="#3878F4"
            stroke-opacity="0.7"
            stroke-width="2"
          />
        </svg>
        <span class="algorithm-step__line--right line" />
        <div class="algorithm-sequence__step">
          <img
            :src="require(`@/assets/img/algorithm/${images[2]}.svg`)"
            :alt="images[2]"
            width="120"
            height="120"
          />
          <span class="algorithm-sequence__step--text">{{ descs[2] }}</span>
        </div>
        <span class="algorithm-step__line--left line" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    images: {
      type: Array,
      default: () => ['joistic', 'choise_acc', 'buy']
    },
    descs: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss">
.algorithm {
  width: 100%;
  margin-bottom: 206px;

  &-title {
    margin-bottom: 70px;
    max-width: 579px;
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: #323232;
  }

  &-sequence {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;

    flex-wrap: wrap;

    &__step {
      position: relative;
      z-index: 100;

      &--text {
        position: absolute;
        left: 50%;
        bottom: -40px;
        transform: translateX(-50%);
        font-size: 20px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0.02em;
        text-align: center;
        white-space: nowrap;
      }
    }

    &__arrow {
      transform: translateY(-12px);
    }
  }
}

.line {
  position: absolute;
  z-index: 0;
  display: none;
  background-color: rgba(56, 120, 244, 0.3);
}

.algorithm-step__line--main {
  display: block;
  top: 48%;
  width: 70%;
  height: 1px;
}

.algorithm-step__line--left {
  left: 38%;
  top: 35%;
  bottom: 41%;
  width: 1px;
  transform: rotate(-27deg);
}

.algorithm-step__line--right {
  top: 35%;
  right: 38%;
  bottom: 41%;
  width: 1px;
  transform: rotate(27deg);
}

@media (max-width: 899px) {
  .algorithm {
    align-self: center;
    margin-bottom: 109px;
    max-width: 520px;

    &-title {
      max-width: 379px;
      font-size: 24px;
      font-weight: 800;
      line-height: 29px;
      letter-spacing: 0.02em;
    }

    &-sequence {
      justify-content: space-around;
      &__step {
        &:nth-child(7) {
          margin-top: 51px;
          flex-basis: 100%;
        }

        & img {
          transform: scale(0.9);
        }

        &--text {
          max-width: 117px;
          font-size: 16px;
          white-space: normal;
        }
      }

      &__arrow {
        display: none;
      }
    }
  }
  .algorithm-step__line--right,
  .algorithm-step__line--left {
    display: block;
  }
  .algorithm-step__line--main {
    display: block;
    width: auto;
    left: 40%;
    right: 40%;
    top: 19%;
    height: 1px;
  }
}

@media (max-width: 450px) {
  .algorithm {
    &-sequence {
      justify-content: space-between;
    }
  }
}
</style>
