<template>
  <div class="container">
    <div class="ticker">
      <div class="ticker-text">
        <h2>{{ title }}</h2>
        <p>
          {{ desc }}
        </p>
        <button
          :name="btnText"
          class="btn btn-primary btn-large-screen"
          @click="btnHandler"
        >
          {{ btnText }}
        </button>
      </div>
      <img
        class="ticker-image"
        :src="require('@/assets/img/' + image)"
        :alt="imgAlt"
      />
      <button
        :name="btnSMText"
        class="btn btn-primary btn-smal-screen"
        @click="btnHandler"
      >
        {{ btnSMText }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    desc: {
      type: String,
      default: ''
    },
    image: {
      type: String,
      default: ''
    },
    imgAlt: {
      type: String,
      default: 'image'
    },
    btnHandler: {
      type: Function
    },
    btnText: {
      type: String,
      default: ''
    },
    btnSMText: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss">
.ticker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-sizing: border-box;
  min-height: 549px;
  padding: 0 80px 0 100px;
  background: #ffffff;
  box-shadow: 0px 10px 65px rgba(12, 50, 123, 0.06);
  z-index: 1000;

  img {
    display: block;
    justify-self: flex-end;
    width: 640px;
    height: 440px;
    box-sizing: border-box;

    @media (max-width: 1024px) {
      width: 500px;
      height: 343.75px;
    }

    @media (max-width: 899px) {
      width: 330px;
      height: 240px;
    }
  }

  &-text {
    & h2 {
      margin-bottom: 35px;
      font-size: 36px;
      font-weight: 800;
      line-height: 43.85px;
      white-space: nowrap;
    }

    & p {
      margin-bottom: 59px;
      font-size: 17px;
      line-height: 20.71px;
    }
  }
}

.btn-smal-screen {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 1400px) {
  .ticker {
    margin: 0 60px;
    padding: 0 40px 0 50px;
  }
}

@media screen and (max-width: 1200px) {
  .ticker {
    margin: 0;
    padding: 0 40px;
  }
}

@media screen and (max-width: 899px) {
  .ticker {
    flex-direction: column;
    text-align: center;
    padding: 40px 30px;
    box-shadow: 0px 10px 35px rgba(12, 50, 123, 0.07);

    &-image {
      min-width: 330px;
      margin-bottom: 45px;
    }

    &-text {
      & h2 {
        margin-bottom: 35px;
        font-size: 30px;
        font-weight: 800;
        line-height: 36.54px;
        white-space: nowrap;
      }

      & p {
        max-width: 355px;
      }
    }
  }

  .btn-smal-screen {
    display: block;
    visibility: visible;
    min-width: 231px;
  }

  .btn-large-screen {
    display: none;
    visibility: hidden;
  }
}
</style>
