<template>
  <section class="info-section">
    <div class="info-section__bg" />
    <div class="container">
      <ul class="flex align-center info-counts">
        <li
          v-for="(item, index) in counters"
          :key="index"
          class="flex counts-item"
        >
          <h2 class="counts-item__title">
            {{ item.title }}
          </h2>
          <p class="counts-item__description">
            {{ item.description }}
          </p>
          <span class="items-delimiter" v-if="index !== counters.length - 1" />
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      counters: [
        {
          title: '32500',
          description: 'Довольных клиентов'
        },
        {
          title: '3 года',
          description: 'Уже на рынке'
        },
        {
          title: '97%',
          description: 'Довольных клиентов'
        },
        {
          title: '78926',
          description: 'Проданых аккаунтов'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
.info-section {
  position: relative;
  margin-bottom: 160px;
  z-index: 1;

  @media (max-width: 899px) {
    margin-bottom: 78px;
  }

  &__bg {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 275px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
    background: #f4f7fb;
    z-index: -1;

    @media (max-width: 899px) {
      top: -25px;
    }
  }
}

.info-counts {
  justify-content: space-evenly;
  border-radius: 15px;
  box-shadow: 0px 10px 35px rgba(12, 50, 123, 0.07);
  background-color: #fff;
  list-style: none;
  user-select: none;

  @media (max-width: 899px) {
    flex-direction: column;
  }

  @media (min-width: 900px) {
    height: 230px;
    box-shadow: 0px 10px 65px 0px rgba(12, 50, 123, 0.06);
  }
}

.counts-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 50px 0 25px;
  overflow: hidden;

  @media (max-width: 899px) and(min-width: 600px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;

    & > p {
      width: 40%;
      margin: 0;
      text-align: center;
    }

    & h2 {
      width: 50%;
      text-align: center;
    }
  }

  @media (min-width: 900px) {
    padding: 25px 0 25px;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 50%;
      width: 0;
      height: 4px;
      background-color: var(--main-blue);
      transition: width 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
      overflow: hidden;
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 4px;
      background-color: var(--main-blue);
      transition: width 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
      z-index: 0;
    }

    &:hover::before,
    &:hover::after {
      width: 50%;
    }

    &:first-child {
      &::before {
        border-radius: 0 0 0 14px;
      }

      &:hover::before {
        width: 48.5%;
      }
    }

    &:last-child {
      &::after {
        border-radius: 0 0 14px 0;
      }

      &:hover::after {
        width: 48.5%;
      }
    }
  }
  &__title {
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px;
    letter-spacing: 0.02em;
    color: var(--main-blue);
  }

  &__description {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(50, 50, 50, 1);
  }

  & > .items-delimiter {
    display: block;
    position: absolute;
    right: 0;
    width: 2px;
    height: 180px;
    background-color: rgba(47, 108, 226, 0.05);

    @media (max-width: 899px) {
      width: calc(100% - 80px);
      height: 2px;
      margin: 0 39px;
      left: 0;
      bottom: 0;
      background-color: rgba(47, 108, 226, 0.31);
    }
  }
}
</style>
