<template>
  <section class="offer-section">
    <div class="container flex offer-content">
      <search-input
        aria-label="поиск"
        class="search-container"
        inputPlaceholder="Поиск"
        v-model="searchString"
        v-model:searchResult="searchResult"
        :searching="searchLoader"
        @search="searchGame"
        @change="searchHandler"
        searchBtn
      />
      <div class="offer-content__title flex">
        <h2 class="offer-content__title--buy">
          Найти аккаунт по самой выгодной цене
        </h2>
        <h2 class="offer-content__title--sell">
          Опубликовать&nbsp;объявление о&nbsp;продаже аккаунта
        </h2>
      </div>
      <h2 class="offer-content__sm--title">Купить или продать?</h2>
      <div class="offer-content__desc flex">
        <p>
          Найти и&nbsp;купить интересующий аккаунт по&nbsp;самой выгодной цене
          за&nbsp;считанные минуты
        </p>
        <p>
          Разместить объявление и&nbsp;продать аккаунт за&nbsp;несколько минут
        </p>
      </div>
      <p class="offer-content__sm--desc">
        С помощью нашего сервиса вы сможете безопасно купить или продать аккаунт
        всего за несколько минут
      </p>
      <img
        class="offer-content__sm--image"
        src="../../assets/img/main_bg_sm.webp"
        alt="Hello"
      />
      <div class="offer-content__buttons flex">
        <router-link v-slot="{ navigate }" :to="{ name: 'buy-page' }" custom>
          <button
            class="btn btn-primary btn-sm buy"
            aria-label="купить"
            @click="navigate"
          ></button>
        </router-link>
        <div class="btn-delimiter"></div>
        <button
          class="btn btn-primary btn-sm sell"
          aria-label="продать"
          @click="openSellPopup"
        ></button>
      </div>
    </div>
  </section>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapActions } from 'vuex'

import { saveFilters } from '@/utils/LocalStorageHelpers'

const SearchInput = defineAsyncComponent(() =>
  import('@/components/inputComponents/SearchInput.vue')
)

export default {
  components: {
    SearchInput
  },
  inject: ['addAlert'],
  data() {
    return {
      searchLoader: false,
      searchString: '',
      searchLimit: 4,
      searchResult: this.$store.state.games.oftenGames
    }
  },
  methods: {
    ...mapActions('popupActions', ['openPrivatPopup']),
    searchGame(game) {
      if (!this.searchString.length) {
        this.searchResult = this.$store.state.games.oftenGames
        return
      }

      if (this.searchResult.some(el => el.title === game)) {
        return
      }
      this.searchLoader = true
      this.$store.axios
        .get('api/games/search', {
          params: { game: this.searchString }
        })
        .then(response => {
          this.searchResult = response.data
          this.searchLoader = false
        })
        .catch(e => {
          this.searchLoader = false
          this.addAlert('error', e.message)
        })
    },
    searchHandler() {
      if (!this.searchString) return
      saveFilters({ game: this.searchString })
      this.$router.push({
        name: 'buy-page',
        query: { game: this.searchString }
      })
    },
    openSellPopup() {
      this.openPrivatPopup(
        this.$store.state.popupActions.popupComponentsList.sell
      )
    }
  }
}
</script>

<style lang="scss">
.search-container {
  display: none;
  margin-bottom: 31px;

  @media (max-width: 899px) {
    display: block;
  }
}

.offer-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  height: 689px;
  min-height: 689px;
  margin-bottom: 120px;
  background-color: #fcfdfd;
  background-image: url('../../assets/img/main_bg_image.webp');
  background-size: contain;
  background-position: 56% 0px;
  background-repeat: no-repeat;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.04);
  overflow: hidden;

  @media (max-width: 1400px) {
    min-height: 530px;
    height: 530px;
    margin-bottom: 80px;
  }

  @media (max-width: 899px) {
    background-image: none;
  }

  &__bg {
    position: absolute;
    left: 50%;
    right: 0;
    transform: translate(-37%, 6px);
    z-index: 0;

    @media (max-width: 1400px) {
      opacity: 0.7;
      transform: translate(-41%, -8px) scale(0.8);
    }
  }

  .btn {
    &.sell::before {
      content: 'Хочу продать';
    }

    &.buy::before {
      content: 'Хочу купить';
    }
  }
}

.offer-content {
  flex-direction: column;
  width: 100%;
  padding: 20px 0 0;
  z-index: 1;

  &__title {
    justify-content: space-between;

    & h2 {
      max-width: 550px;
      margin-bottom: 15px;
      font-size: 40px;
      font-style: normal;
      font-weight: 900;
      line-height: 49px;

      @media (max-width: 1200px) {
        font-size: 36px;
      }

      @media (max-width: 1024px) {
        font-size: 32px;
        line-height: 36px;
      }
    }

    & h2:last-child {
      text-align: right;
    }
  }

  &__sm {
    &--title {
      display: none;
      font-size: 30px;
      font-weight: 800;
      line-height: 37px;
      letter-spacing: 0.02em;
      text-align: center;
      white-space: nowrap;
    }

    &--desc {
      display: none;
    }
  }

  &__desc {
    justify-content: space-between;

    & p {
      margin-bottom: 35px;
      max-width: 420px;
      font-size: 19px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
    }

    & p:last-child {
      text-align: right;
    }
  }
  &__buttons {
    justify-content: space-between;
    margin-bottom: 52px;
  }
}

@media (min-width: 900px) {
  .search-container {
    display: none;
  }

  .offer-content__sm--image {
    display: none;
  }
}

@media (max-width: 899px) {
  .offer-section {
    height: auto;
    border-bottom: 2px solid rgba(47, 108, 226, 0.11);
    margin-bottom: 25px;

    &__bg {
      display: none !important;
    }
  }

  .offer-content {
    &__title,
    &__desc {
      justify-content: space-between;
      align-items: center;
      &--sell,
      &--buy {
        display: none;
        visibility: hidden;
      }

      & h2 {
        margin-bottom: 15px;
      }

      & p {
        display: none;
        visibility: hidden;
      }
    }

    &__sm {
      &--title,
      &--desc {
        display: block;
        justify-content: center;
        text-align: center;
        margin-bottom: 17px;
      }

      &--title {
        letter-spacing: 0.01em;
      }

      &--desc {
        align-self: center;
        max-width: 330px;
        margin-bottom: 45px;
        line-height: 21px;
        letter-spacing: 0.05em;
      }
      &--image {
        display: block;
        align-self: center;
        margin-bottom: 24px;
      }
    }

    &__buttons {
      justify-content: space-around;
    }
  }

  .btn-sm {
    min-width: 154px;
    padding: 9px 0 8px;

    @media (max-width: 399px) {
      min-width: 134px;
    }

    &.buy::before {
      content: 'Купить' !important;
    }

    &.sell {
      color: var(--main-blue);
      background-color: #fff;

      &::before {
        content: 'Продать' !important;
      }

      &:hover {
        color: #fff;
        background-color: var(--main-blue);
      }
    }
  }

  @media (max-width: 599px) {
    .offer-content__buttons {
      justify-content: space-between;
    }
  }

  .btn-delimiter {
    display: block;
    width: 1px;
    max-height: 29px;
    transform: translateY(4px);
    background-color: rgba(47, 108, 226, 0.13);
  }
}
</style>
