<template>
  <section class="buy-section">
    <sell-algorithm
      :title="algorithm.title"
      :images="algorithm.images"
      :descs="algorithm.descs"
    />
    <home-ticker
      :title="ticker.title"
      :desc="ticker.desc"
      :image="ticker.image"
      :btnText="ticker.btnText"
      :btnSMText="ticker.btnSMText"
      :btnHandler="openSellPopup"
    />
  </section>
</template>

<script>
import { defineAsyncComponent } from 'vue'

const homeTicker = defineAsyncComponent(() => import('./homeTicker'))
const sellAlgorithm = defineAsyncComponent(() =>
  import('./homeActionsAlgorithm')
)

export default {
  components: {
    homeTicker,
    sellAlgorithm
  },
  data: () => ({
    algorithm: {
      title: 'Как происходит процесс размещения объявлений',
      images: ['joistic', 'description', 'publish'],
      descs: ['Выбор игры', 'Описание аккаунта', 'Публикация объявления']
    },
    ticker: {
      title: 'Продажа аккаунта',
      desc: 'С помощью нашего сервиса вы сможете разместить объявление о продаже всего за несколько минут',
      image: 'sell_block_img.webp',
      imgAlt: 'sell',
      btnText: 'Выбор игры',
      btnSMText: 'Разместить объявление'
    }
  }),
  computed: {
    isAuthenticated() {
      return this.$store.state.user.auth.isLoggedIn
    }
  },
  methods: {
    openSellPopup() {
      this.$store.dispatch('popupActions/openPrivatPopup', 'SellPopup')
    }
  }
}
</script>

<style lang="scss" scoped>
.buy-section {
  position: relative;
  margin-bottom: 140px;
  z-index: 1;

  &__info {
    margin-bottom: 206px !important;
    z-index: 10;

    &--title {
      justify-content: center;
      margin-bottom: 65px;
      font-size: 36px;
      font-weight: 800;
      text-align: center;
    }

    &--sequence {
      position: relative;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0 200px;

      @media screen and (max-width: 1400px) {
        margin: 0 140px;
      }
    }
  }

  .buy-sequence__info {
    position: relative;

    &--line {
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      background-color: rgba(56, 120, 244, 0.3);
      z-index: 0;
    }

    &--wrapper {
      position: relative;
      background: #fcfcfc;
      z-index: 10;

      &::after {
        position: absolute;
        left: -90px;
        right: -90px;
        top: calc(100% + 20px);
        font-family: 'Proxima';
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        white-space: nowrap;
      }

      &:nth-child(1)::after {
        content: 'Выбор игры';
      }

      &:nth-child(3)::after {
        content: 'Описание аккаунта';
      }

      &:nth-child(5)::after {
        content: 'Публикация объявления';
      }
    }
  }
}
</style>
