<template>
  <section class="description-section container flex align-center">
    <div class="description-section__bg"></div>
    <div class="description flex column">
      <span class="description-title" v-html="title"></span>
      <span class="scroll-link" @click="scrollToMoreInfo">
        Узнать больше
        <svg
          width="16"
          height="10"
          viewBox="0 0 16 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="description-link__arrow"
        >
          <path
            d="M0 5H15M15 5L11 1M15 5L11 9"
            stroke="#3878F4"
            stroke-width="1.5"
            stroke-linejoin="round"
          />
        </svg>
      </span>
    </div>
  </section>
</template>

<script>
export default {
  setup() {
    const title =
      'VABAO&nbsp;-&nbsp;сервис&nbsp;облегчающий процесс&nbsp;поиска&nbsp;и&nbsp;делающий покупки&nbsp;и&nbsp;продажи&nbsp;цифровых товаров&nbsp;-&nbsp;безопасными'

    const scrollToMoreInfo = () => {
      document
        .querySelector('.buy-section')
        .scrollIntoView({ behavior: 'smooth', block: 'start' })
    }

    return {
      title,
      scrollToMoreInfo
    }
  }
}
</script>

<style lang="scss" scoped>
.description-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 120px;

  @media (max-width: 1024px) {
    margin-bottom: 50px;
  }

  @media (max-width: 899px) {
    display: none;
  }

  &__bg {
    justify-self: center;
    width: 682px;
    height: 468px;
    margin-right: 60px;
    background-image: url('../../assets/img/handleshake.webp');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 20;
    overflow: hidden;

    @media (max-width: 1400px) {
      width: 540px;
      height: 411px;
    }

    @media (max-width: 1250px) {
      width: 540px;
      height: 411px;
    }

    @media (max-width: 1024px) {
      width: 480px;
      height: 329.38px;
      margin-right: 40px;
    }
  }
}

.description-title {
  display: inline;
  width: fit-content;
  align-self: flex-end;
  margin-bottom: 12px;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 47px;
  letter-spacing: 0.03em;

  @media (max-width: 1400px) {
    font-size: 30px;
    line-height: 40px;
  }

  @media (max-width: 1250px) {
    font-size: 26px;
    line-height: 36px;
  }

  @media (max-width: 1023px) {
    font-size: 22px;
    line-height: 30px;
  }
}

.scroll-link {
  width: fit-content;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-blue);
  cursor: pointer;
}
</style>
