<template>
  <section class="buy-section">
    <buy-algorithm
      :title="algorithm.title"
      :images="algorithm.images"
      :descs="algorithm.descs"
    />
    <home-ticker
      :title="ticker.title"
      :desc="ticker.desc"
      :image="ticker.image"
      :btnText="ticker.btnText"
      :btnSMText="ticker.btnSMText"
      :btnHandler="search"
    />
    <div class="bg-delimiter" />
  </section>
</template>

<script>
import { defineAsyncComponent, defineComponent } from 'vue'
import { useStore } from 'vuex'

const homeTicker = defineAsyncComponent(() => import('./homeTicker'))
const buyAlgorithm = defineAsyncComponent(() =>
  import('./homeActionsAlgorithm')
)

export default defineComponent({
  components: {
    homeTicker,
    buyAlgorithm
  },
  setup() {
    const store = useStore()
    const ticker = {
      title: 'Покупка аккаунта',
      desc: 'С помощью нашего сервиса вы сможете купить интересующий аккаунт всего за несколько минут',
      image: 'buy_block_img.webp',
      imgAlt: 'buy',
      btnText: 'Выбор игры',
      btnSMText: 'Найти аккаунт'
    }

    const algorithm = {
      title: 'Как происходит процесс покупки игровых ценностей',
      images: ['joistic', 'choise_acc', 'buy'],
      descs: ['Выбор игры', 'Выбор аккаунта', 'Покупка']
    }

    const search = () => {
      store.dispatch(
        'popupActions/openPopupComponent',
        store.state.popupActions.popupComponentsList.search
      )
    }

    return {
      ticker,
      algorithm,
      search
    }
  }
})
</script>

<style lang="scss">
.buy-section {
  position: relative;
  padding-top: 80px;
  margin-bottom: 240px;
  z-index: 1;

  @media (max-width: 899px) {
    margin-bottom: 89px !important;
  }
}

.bg-delimiter {
  position: absolute;
  top: calc(100% - 210px);
  left: 0;
  width: 100%;
  height: 365px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
  background: #f4f7fb;
  overflow: hidden;
  z-index: -1;

  @media (max-width: 899px) {
    display: none;
  }
}
</style>
