<template>
  <div class="popup-content flex column justify-center">
    <h2>Объявление &shy;на модерации</h2>
    <p>
      В данный момент объявление проходит модерацию, в ближайшее время ваше
      объявление будет опубликовано
    </p>
    <button class="btn btn-primary popup-btn mb-0" @click="closePopup">
      Отлично
    </button>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  methods: {
    ...mapActions('popupActions', ['closePopup'])
  },
  beforeMount() {
    this.$emit('centered')
  }
}
</script>

<style lang="scss" scoped>
.btn {
  margin-top: 20px;
}
</style>
