<template>
  <div class="popup-content">
    <h2>Изменить пароль</h2>
    <p>Введите новый пароль для входа в&nbsp;вашу учетную запись</p>
    <div class="input-group">
      <input-eyes
        @inputTypeChange="passInputType = !passInputType"
        :showPassword="passInputType"
        v-if="newPassword"
      />
      <input
        placeholder="Введите новый пароль"
        :type="passInputType ? 'text' : 'password'"
        :class="[!passwordsIdenty && 'error-input']"
        v-model="newPassword"
      />
      <pass-dificulty-indicator :validationValue="newPassword" />
    </div>
    <div class="input-group">
      <input-eyes
        @inputTypeChange="passConfirmInputType = !passConfirmInputType"
        :showPassword="passConfirmInputType"
        v-if="newPasswordConfirmation"
      />
      <input
        placeholder="Подтвердите пароль"
        :type="passConfirmInputType ? 'text' : 'password'"
        :class="[!passwordsIdenty && 'error-input']"
        v-model="newPasswordConfirmation"
      />
    </div>
    <button
      style="margin-bottom: 0"
      class="popup-btn btn btn-primary-reverse justify-center change-pass-btn"
      @click="changePasswordRequest"
    >
      Изменить
    </button>
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapActions } from 'vuex'

const InputEyes = defineAsyncComponent(() =>
  import('../iconsComponents/InputTypeChange.vue')
)

const passDificultyIndicator = defineAsyncComponent(() =>
  import('../passDificultyIndicator.vue')
)

export default {
  components: {
    InputEyes,
    passDificultyIndicator
  },
  data: () => ({
    passInputType: false,
    passConfirmInputType: false,
    newPassword: '',
    newPasswordConfirmation: ''
  }),
  methods: {
    ...mapActions('popupActions', ['toggleOverlay', 'openPopupComponent']),
    changePasswordRequest() {
      this.toggleOverlay()
    }
  },
  computed: {
    passwordsIdenty() {
      return this.newPassword === this.newPasswordConfirmation
    }
  }
}
</script>

<style lang="scss" scoped>
.popup-content {
  padding-bottom: 41px;
}

.input-group {
  margin-bottom: 18px;
}

.input-group:last-of-type {
  margin-bottom: 30px;
}

.error {
  border: 1.5px solid #da2323 !important;

  &-input {
    border: 1.5px solid #da2323;
  }
}
</style>
