<template>
  <div class="popup-content flex column justify-center">
    <h2>Подтвердите e-mail</h2>
    <p>
      На&nbsp;ваш адрес электронной почты будет отправлено письмо
      с&nbsp;потдверждением регистрации, перейдите по&nbsp;ссылке в&nbsp;письме
      чтобы завершить регистрацию
    </p>
    <button class="btn btn-primary popup-btn mb-0" @click="close">
      Отправить
    </button>
  </div>
</template>

<script>
import { useStore } from 'vuex'

export default {
  setup() {
    const store = useStore()
    const close = () => store.dispatch('popupActions/toggleOverlay')
    return {
      close
    }
  },
  beforeMount() {
    this.$emit('centered')
  }
}
</script>
