<template>
  <div class="popup-content">
    <h2>Войдите в аккаунт</h2>
    <p>
      Введите свою почту, по&nbsp;которой вы&nbsp;регестрировались&nbsp;и пароль
      для входа
    </p>
    <Form @submit="sendLoginRequest" :validation-schema="validate">
      <app-input
        :modelValue="'den1@mail.com'"
        type="text"
        name="email"
        placeholder="Почта"
      />
      <app-input
        :modelValue="'123123'"
        type="password"
        name="password"
        placeholder="Пароль"
        passwordEyes
      />
      <a
        class="link password-recovery-link"
        @click.prevent="passwordRecovery"
        tabindex="3"
        >Забыли пароль?</a
      >
      <button
        class="popup-btn btn btn-primary justify-center"
        type="submit"
        tabindex="4"
      >
        Войти
      </button>
    </Form>
    <p style="margin-bottom: 25px">или продолжить через</p>
    <ul class="reset flex align-center socials">
      <li v-for="(icon, idx) in socialIcons" :key="`${icon}-${idx + 91}`">
        <a :href="icon.href" target="_blank">
          <iconBase :iconName="icon.name" height="48" width="48" />
        </a>
      </li>
    </ul>
    <div class="delimiter"></div>
    <h2 class="sub-title">У вас нет аккаунта?</h2>
    <p class="register-desc">
      Создайте аккаунт и&nbsp;откройте для себя все преимущества для наших
      зарегистрированных пользователей
    </p>
    <button
      class="popup-btn register-btn btn btn-primary-reverse justify-center"
      @click="openRegister"
    >
      Зарегистрироваться
    </button>
  </div>
</template>

<script>
import { computed, inject } from 'vue'
import { useStore } from 'vuex'
import { Form } from 'vee-validate'
import { validationSchema } from '../../validators/yupValidators'

import iconBase from '../iconsComponents/iconBase.vue'
import AppInput from '../inputComponents/AppInput.vue'

export default {
  components: { iconBase, AppInput, Form },
  setup() {
    const store = useStore()
    const addAlert = inject('addAlert')
    const axios = inject('axios')
    const validate = validationSchema('email', 'password')

    const socialIcons = [
      { name: 'vkMenu', href: 'https://vk.com' },
      { name: 'instaMenu', href: 'https://instagram.com' },
      { name: 'googleMenu', href: 'https://google.com' },
      { name: 'fbMenu', href: 'https://facebook.com' }
    ]

    const popupsList = computed(
      () => store.getters['popupActions/getPopupsList']
    )

    const sendLoginRequest = async formData => {
      try {
        store.dispatch('popupActions/showLoader')
        const { data } = await axios.post('/auth/login', formData)
        const user = await store.dispatch('user/getUserData', data.user)
        store.commit('user/userDataUpdate', user)
        store.commit('user/auth/loginSuccess')
        if (!user.isEmailConfirmed)
          store.dispatch('popupActions/appendPopup', 'confirmEmail')
        store.dispatch('popupActions/closeLoaderAsResolve')
      } catch (e) {
        store.commit('user/auth/logout')
        addAlert('error', e)
        store.dispatch('popupActions/closeLoaderAsReject')
      }
    }

    const openRegister = () => {
      store.dispatch('popupActions/prependPopup', popupsList.value.register)
      store.dispatch('popupActions/closePopup')
    }

    const passwordRecovery = () => {
      store.dispatch(
        'popupActions/prependPopup',
        popupsList.value.passwordRecovery
      )
      store.dispatch('popupActions/closePopup')
    }

    return {
      validate,
      socialIcons,
      openRegister,
      passwordRecovery,
      sendLoginRequest
    }
  }
}
</script>

<style lang="scss">
.popup-content {
  h2 {
    margin-bottom: 25px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;

    @media (max-width: 899px) {
      margin-bottom: 17px;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 37px;
      letter-spacing: 0em;
      text-align: center;
    }
  }

  p {
    margin: 0 auto 35px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

    @media (max-width: 899px) {
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: center;
    }
  }

  .password-recovery-link {
    margin-bottom: 41px;

    @media (max-width: 899px) {
      margin-bottom: 29px;
    }
  }

  .popup-btn {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 205px;
    height: 49px;
    padding: 0;
    margin-bottom: 33px;
  }

  .socials {
    justify-content: center;
    margin-bottom: 32px;
    padding-left: 5px;
    z-index: 99;

    & > li:not(:last-child) {
      margin-right: 8px;
    }
  }

  .delimiter {
    height: 2px;
    width: 100%;
    margin-bottom: 26px;
    background-color: #e2eafa;
  }

  .sub-title {
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.023em;
    text-align: center;
  }
  .register-desc {
    margin-bottom: 25px;
  }

  .register-btn {
    width: 270px;
    margin-bottom: 9px;
  }
}

@media (max-width: 899px) {
  .popup-backdrop {
    padding: 0;
  }

  .popup-container {
    border-radius: 0;
  }
}

.input-group {
  margin-bottom: 25px;
}
</style>
