<template>
  <div class="popup-content flex column justify-center">
    <h2>Забыли пароль?</h2>
    <p>
      Введите&nbsp;адрес&nbsp;электронной&nbsp;почты,&nbsp;который&nbsp;вы
      используете для входа в&nbsp;свою учетную запись, и&nbsp;вы&nbsp;получите
      письмо, содержащее ссылку для&nbsp;изменения пароля
    </p>
    <Form @submit="validateEmailAndSend" :validation-schema="schema">
      <app-input name="email" placeholder="Email" />
      <button type="submit" class="btn btn-primary popup-btn mb-0">
        Отправить
      </button>
    </Form>
  </div>
</template>

<script>
import { Form } from 'vee-validate'
import { validationSchema } from '../../validators/yupValidators'
import AppInput from '../inputComponents/AppInput.vue'

export default {
  components: { AppInput, Form },
  setup() {
    const schema = validationSchema('email')

    const validateEmailAndSend = async () => {}

    return {
      schema,
      validateEmailAndSend
    }
  },
  beforeMount() {
    this.$emit('centered')
  }
}
</script>
