<template>
  <div class="popup-content">
    <h2>Payment</h2>
    <p>Для пополнения введите сумму</p>
    <input type="text" v-model="sum" ref="focused" />
    <button
      class="popup-btn register-btn btn btn-primary-reverse justify-center"
      @click="sendPaymentRequest"
    >
      Пополнить
    </button>
  </div>
</template>

<script>
import { ref, inject, onMounted } from 'vue'
import { useStore } from 'vuex'

export default {
  setup() {
    const store = useStore()
    const axios = inject('axios')
    const addAlert = inject('addAlert')
    const sum = ref('')

    const focused = ref(null)

    const sendPaymentRequest = () => {
      store.dispatch('popupActions/showLoader')
      axios
        .post(`/api/user/${store.state.user.id}/payment`, {
          sum: sum.value
        })
        .then(response => {
          store.commit('user/setTransactions', response.data.transactions)
          store.commit('user/setBalance', response.data.balance)
          store.dispatch('popupActions/closeLoaderAsResolve')
        })
        .catch(e => {
          store.dispatch('popupActions/closeLoaderAsReject')
          addAlert('error', e.message)
        })
    }

    onMounted(() => {
      focused.value.focus()
    })

    return { sum, sendPaymentRequest, focused }
  }
}
</script>

<style lang="scss" scoped>
input {
  margin-bottom: 30px;
}
</style>
