<template>
  <div class="popup-content flex column justify-center">
    <h2>Поздравляем!</h2>
    <p>Ваш аккаунт успешно зарегистрирован, пора перейти к&nbsp;объявлениям</p>
    <button class="btn btn-primary popup-btn mb-0" @click="close">
      Перейти
    </button>
  </div>
</template>

<script>
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'

export default {
  setup() {
    const store = useStore()
    const router = useRouter()
    const close = async () => {
      await router.push({ name: 'buy-page' })
      store.dispatch('popupActions/toggleOverlay')
    }
    return {
      close
    }
  },
  beforeMount() {
    this.$emit('centered')
  }
}
</script>
