<template>
  <div class="popup-content">
    <h2>Создайте аккаунт</h2>
    <p>Заполните все поля формы, чтобы зарегистрировать аккаунт</p>
    <Form @submit="registerRequest" :validation-schema="schema">
      <app-input name="username" placeholder="Ваше имя" />
      <app-input name="login" placeholder="Логин" />
      <app-input name="email" placeholder="Email" />
      <app-input
        name="password"
        type="password"
        placeholder="Пароль"
        passwordEyes
        dificulty
      />
      <app-input
        name="passwordConfirm"
        type="password"
        placeholder="Подтвердите пароль"
        passwordEyes
      />
      <div class="input-group">
        <label for="rulesConfirm" class="flex align-center">
          <ValidateCheckbox name="rulesConfirm" :label="termsToUse" />
        </label>
      </div>
      <button
        type="submit"
        style="margin-bottom: 0"
        class="popup-btn btn btn-primary-reverse justify-center"
      >
        Зарегистрировать
      </button>
    </Form>
  </div>
</template>

<script>
import { inject } from 'vue'
import { useStore } from 'vuex'
import { Form } from 'vee-validate'
import AppInput from '../inputComponents/AppInput.vue'
import ValidateCheckbox from '../inputComponents/ValidationCheckbox.vue'
import { validationSchema } from '../../validators/yupValidators'

export default {
  components: { Form, AppInput, ValidateCheckbox },
  setup() {
    const addAlert = inject('addAlert')
    const axios = inject('axios')
    const termsToUse =
      'Я&nbsp;прочитал и&nbsp;согласен с&nbsp;политикой конфиденциальности'

    const store = useStore()

    const schema = validationSchema(
      'username',
      'login',
      'email',
      'password',
      'passwordConfirm',
      'rulesConfirm'
    )

    const socialIcons = [
      { name: 'vkMenu', href: '#' },
      { name: 'instaMenu', href: '#' },
      { name: 'googleMenu', href: '#' },
      { name: 'fbMenu', href: 'https://facebook.com' }
    ]

    const registerRequest = async formData => {
      try {
        store.dispatch('popupActions/showLoader')
        const { data } = await axios.post('/auth/register', formData)
        const user = await store.dispatch('user/getUserData', data.user)
        store.commit('user/userDataUpdate', user)
        store.commit('user/auth/loginSuccess')
        store.dispatch(
          'popupActions/appendPopup',
          store.state.popupActions.popupComponentsList.registerSuccess
        )
        store.dispatch('popupActions/closeLoaderAsResolve')
        // store.dispatch('popupActions/closePopup')
      } catch (e) {
        addAlert('error', e)
        store.dispatch('popupActions/closeLoaderAsReject')
      }
    }

    return {
      termsToUse,
      socialIcons,
      schema,
      registerRequest
    }
  }
}
</script>
