<template>
  <div class="popup-content flex column justify-center">
    <div class="input-group">
      <input
        type="text"
        placeholder="Поиск"
        class="search-popup--input"
        v-model="searchString"
        ref="serchInputElement"
        @keydown.enter="search"
      />
      <label />
      <svg
        width="19"
        height="21"
        viewBox="0 0 19 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="search-popup-lense"
        @mousedown.prevent="search"
      >
        <rect
          width="1.5"
          height="8.10313"
          rx="0.75"
          transform="matrix(0.76468 -0.64441 0.644412 0.764678 11.953 14.1567)"
          fill="#8e8e8e"
        />
        <rect
          x="0.75"
          y="0.86972"
          width="14.5"
          height="14.5"
          rx="7.25"
          stroke="#8e8e8e"
          stroke-width="1.5"
        />
      </svg>
    </div>
    <h2>Популярные запросы</h2>
    <ul @mousedown.prevent="selectFromFastSearch">
      <li class="search-item" v-for="item in fastSearchItems" :key="item.id">
        {{ item.title }}
      </li>
    </ul>
  </div>
</template>
<script setup>
import { ref, computed, onBeforeMount, onMounted } from 'vue'
import { useStore } from 'vuex'
import { useRouter, useRoute } from 'vue-router'

const store = useStore()
const router = useRouter()
const emit = defineEmits(['centered'])

const searchString = ref('')
const serchInputElement = ref(null)

const fastSearchItems = computed(() => store.state.games.oftenGames)
const selectFromFastSearch = e => {
  if (e.target.classList.contains('search-item')) {
    searchString.value = e.target.textContent
    search()
  }
}

const savedFilters = JSON.parse(localStorage.getItem('sort-filters'))

const search = async () => {
  const newStorageFilters = {
    ...savedFilters,
    game: searchString.value
  }
  localStorage.setItem('sort-filters', JSON.stringify(newStorageFilters))
  await router.push({
    name: 'buy-page',
    query: newStorageFilters
  })
  store.dispatch('popupActions/closePopup')
}

onBeforeMount(() => {
  emit('centered')
})

onMounted(() => {
  serchInputElement.value.focus()
})
</script>

<style lang="scss" scoped>
.popup-content {
  max-width: inherit;

  h2 {
    margin-bottom: 25px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24.36px;
    text-align: start;
  }
  .input-group {
    position: relative;
    margin-bottom: 45px;

    .search-popup--input {
      display: block;
      width: 570px;
      border: none;
      font-size: 19px;

      @media (max-width: 899px) {
        width: auto;
      }

      &::placeholder {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24.36px;
      }

      & + label {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgba(142, 142, 142, 0.4);
      }

      &:focus + label {
        background-color: var(--main-blue);
      }
    }

    svg {
      position: absolute;
      top: 12px;
      right: 25px;
      cursor: pointer;
      pointer-events: inherit;

      &:hover > rect {
        stroke: var(--main-blue);
      }

      &:active {
        transform: scale(0.92);
        user-select: none;
      }
    }
  }

  ul {
    li {
      width: fit-content;
      padding: 5px 0 10px;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        color: var(--main-blue);
      }
    }
  }
}
</style>
