<template>
  <div class="popup-content flex column justify-center sell-popup--container">
    <h2>Новое объявление</h2>
    <div class="new-anouncement">
      <form class="flex column" @submit.prevent="createAnouncement">
        <div class="input-group">
          <SelectElement
            name="select"
            :optionsList="options"
            :defaultPlaceholder="'Тип объявления'"
            v-model="anouncementType"
          />
        </div>
        <div class="input-group">
          <SearchInput
            :inputPlaceholder="'Выбор игры'"
            :searching="searchLoader"
            v-model="searchString"
            v-model:searchResult="games"
            @search="searchGameHandler"
          />
        </div>
        <div class="input-group">
          <FileInput
            previewClass="sell-upload-preview"
            @setFiles="updateFiles"
          />
        </div>
        <div class="input-group">
          <Field
            name="textarea"
            v-model="description"
            type="textarea"
            v-slot="{ errors, handleChange }"
          >
            <textarea
              maxlength="301"
              placeholder="Описание"
              :class="{ error: errors.length }"
              @input="handleChange"
            />
          </Field>
          <ErrorMessage name="textarea" class="help-message" />
        </div>
        <app-input
          name="price"
          placeholder="Цена в рублях"
          rounded
          v-model.number="price"
        />
        <button class="btn btn-primary sell-btn" type="submit"></button>
      </form>
    </div>
  </div>
</template>

<script>
import { ref, inject } from 'vue'
import { useStore } from 'vuex'
import { useForm, Field, ErrorMessage } from 'vee-validate'
import { validators } from '../../validators/yupValidators'
import SearchInput from '../inputComponents/SearchInput.vue'
import FileInput from '../FileUploadField.vue'
import AppInput from '../inputComponents/AppInput.vue'
import SelectElement from '../inputComponents/SelectElement.vue'

export default {
  inject: ['addAlert'],
  components: {
    SearchInput,
    SelectElement,
    FileInput,
    AppInput,
    Field,
    ErrorMessage
  },
  setup() {
    const axios = inject('axios')
    const addAlert = inject('addAlert')
    const store = useStore()

    const searchString = ref('')
    const searchLoader = ref(false)
    const description = ref('')
    const price = ref('')
    const files = ref([])
    const anouncementType = ref('')
    const options = ref([
      { title: 'Аккаунт', value: 'account' },
      { title: 'Услуга', value: 'service' },
      { title: 'Предмет', value: 'item' },
      { title: 'Прочее', value: 'other' }
    ])

    const games = ref(store.state.games.oftenGames)

    const updateFiles = filesArray => {
      files.value = filesArray
    }

    const useFormData = useForm({
      validationSchema: {
        select: validators.select,
        price: validators.price,
        textarea: validators.textarea,
        search(value) {
          return searchValidator(value)
        }
      }
    })

    const searchValidator = value => {
      if (!value) {
        return 'Обязательное поле'
      }
      if (!games.value[0] || games.value[0]?.title !== value) {
        return 'Игра не найдена'
      }
      return true
    }

    const searchGameHandler = async () => {
      if (!searchString.value.length) {
        games.value = store.state.games.oftenGames
        return
      }
      if (games.value.some(el => el.title === searchString.value)) {
        games.value = [games.value.find(el => el.title == searchString.value)]
        return
      }

      searchLoader.value = true
      try {
        const { data } = await axios.get('api/games/search', {
          params: {
            game: searchString.value
          }
        })
        games.value = data
        searchLoader.value = false
      } catch (e) {
        addAlert('error', 'Ошибка запроса')
      }
    }

    const createAnouncement = async () => {
      useFormData.setErrors({})
      const { valid } = await useFormData.validate()
      if (!valid) return

      const formDataToSend = {
        category: anouncementType.value,
        game: games.value[0].id,
        price: price.value,
        description: description.value
      }

      store.dispatch('popupActions/showLoader')
      try {
        await store.dispatch('support/sendForm', [
          'order/create',
          formDataToSend,
          files.value
        ])

        const userData = await store.dispatch(
          'user/getUserData',
          store.state.user.id
        )
        store.commit('user/userDataUpdate', userData)
        store.dispatch(
          'popupActions/appendPopup',
          store.state.popupActions.popupComponentsList.onModeration
        )
        store.dispatch('popupActions/closeLoaderAsResolve')
      } catch (e) {
        store.dispatch('popupActions/closeLoaderAsReject')
        addAlert('error', e)
      }
    }

    return {
      useFormData,
      options,
      anouncementType,
      searchString,
      games,
      searchGameHandler,
      searchLoader,
      updateFiles,
      description,
      price,
      createAnouncement
    }
  }
}
</script>

<style lang="scss">
.error {
  border: 1px solid red !important;
}
.popup-content {
  min-width: 540px;

  @media (max-width: 599px) {
    min-width: 100vw;
  }
}

.sell-upload-preview {
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 899px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 599px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.sell-btn {
  margin: 0 auto;

  &::after {
    content: 'Разместить объявление';
    white-space: nowrap;

    @media (max-width: 899px) {
      content: 'Далее';
    }
  }
}
</style>
