<template>
  <div class="popup-content">
    <h2>Заявление отправлено</h2>
    <p>
     Ваше заявление было отправлено в тех.поддержку. Наши менеджеры постараются решить вашу проблему как можно скорее!
    </p>
    <button class="btn btn-primary popup-btn mb-0" @click="close">
      На главную
    </button>
  </div>
</template>

<script setup>
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'
import { onBeforeMount } from '@vue/runtime-core'
const emit = defineEmits(['centered'])

const store = useStore()
const router = useRouter()

const close = async () => {
  router.push({ name: 'root', scrollBehavior: { top: 0 } })
  store.dispatch('popupActions/clearPopupsChain')
}

onBeforeMount(() => {
  emit('centered')
})
</script>
