<template>
  <div class="popup-content flex column justify-center">
    <h2>Заявление отправлено</h2>
    <p>
      Ваше заявление было отправлено в&nbsp;тех.поддержку. В&nbsp;течении
      30&nbsp;минут с&nbsp;вами свяжется наш сотрудник для решение вашего
      вопроса.
    </p>
    <div class="input-group">
      <input type="text" placeholder="Email address" class="mb-20" />
    </div>
    <button class="btn btn-primary popup-btn mb-0">Понятно</button>
  </div>
</template>

<script>
export default {
  beforeMount() {
    this.$emit('centered')
  }
}
</script>
