<template>
  <div class="chat-wrapper">
    <ChatTitle :user="orderOwner" :orderId="order" />
    <ChatMessages :messages="[]" />
    <ChatInput />
  </div>
</template>

<script>
import ChatTitle from './ChatTitle.vue'
import ChatMessages from './ChatMessages.vue'
import ChatInput from './ChatInput.vue'

export default {
  components: {
    ChatTitle,
    ChatMessages,
    ChatInput
  },
  props: {
    orderOwner: { type: Object, required: true },
    order: { type: String, required: true }
  }
}
</script>

<style lang="scss" scoped>
.chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid rgba(56, 120, 244, 0.15);
  box-sizing: border-box;

  @media (max-width: 899px) {
    margin: 0 17px 17px;
    border: 1px solid rgba(56, 120, 244, 0.15);
    border-radius: 5px;
    box-shadow: 0px 1px 21px 1px rgba(12, 50, 123, 0.07);
  }

  @media (max-width: 599px) {
    margin: 0 0 20px;
  }
}

// .backdrop {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
//   background-color: rgba(17, 20, 37, 0.4);
//   color: #fff;
//   font-size: 30px;
//   font-weight: 600;
//   box-sizing: border-box;
// }

// .order-not-buy {
//   padding: 40px 0;

//   @media (max-width: 599px) {
//     padding: 4px 0;
//   }
// }
</style>
