<template>
  <div class="chat-title--wrapper">
    <div class="title-userdata">
      <div class="foto pulse-animation" />
      <div class="user-data">
        <div class="login pulse-animation" />
        <div class="last-incoming pulse-animation" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.chat-title--wrapper {
  display: flex;
  justify-content: space-between;
  padding: 19.5px 25px;
  box-sizing: border-box;

  @media (max-width: 599px) {
    padding: 15px 20px;
  }
}

.title-userdata {
  display: flex;
  align-items: center;

  .foto {
    width: 45px;
    height: 45px;
    margin-right: 15px;
    border-radius: 50%;
  }

  .user-data {
    display: flex;
    flex-direction: column;

    .login {
      width: 150px;
      min-height: 18px;
      margin-bottom: 6px;
      border-radius: 4px;
    }

    .last-incoming {
      width: 200px;
      min-height: 16px;
      border-radius: 4px;
    }
  }
}

.pulse-animation {
  position: relative;
  background-color: rgba(238, 238, 238, 0.5);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    background-color: rgba(255, 255, 255, 0.466);
    animation: pulse 2s ease-in-out infinite;
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.466);
  }
}

@keyframes pulse {
  0% {
    left: -50%;
  }
  100% {
    left: 120%;
  }
}
</style>