<template>
  <div class="chat-messages-wrapper">
    <ChatPlug />
  </div>
</template>

<script>
import ChatPlug from './ChatPlug.vue'

export default {
  components: {
    ChatPlug
  },
  props: {
    messages: Object
  },
  data() {
    return {}
  }
}
</script>

<style lang="scss" scoped>
.chat-messages-wrapper {
  display: flex;
  height: 100%;
  background-color: #fafbfd;
  border-top: 1px solid rgba(56, 120, 244, 0.2);
  border-bottom: 1px solid rgba(56, 120, 244, 0.2);
}
</style>
