<template>
  <div class="chat-title--wrapper">
    <div class="title-userdata">
      <slot></slot>
      <img
        class="user-foto"
        alt="user"
        :src="`/images/user/${user.id}.webp`"
        @click="goToUserProfile"
      />

      <div class="user">
        <div class="flex">
          <div class="user-login">{{ user.login }}</div>
          <div class="user-stars" :title="user.stars">
            <icon-base
              :iconName="'star'"
              :width="16"
              :height="16"
              :iconColor="
                i > Math.round(user.stars)
                  ? 'rgba(56, 120, 244, 0.15)'
                  : 'rgba(56, 120, 244, 1)'
              "
              :iconTitle="user.stars"
              class="star"
              v-for="(i, idx) in 5"
              :key="`${user.id}-star-${idx}`"
            />
          </div>
        </div>
        <div class="user-last-incoming">Был в сети сегодня в 16:26</div>
      </div>
    </div>
    <div class="chat-title--buttons">
      <div
        class="chat-btn__to-order chat-btn"
        v-if="btnToCurrentOrderVisibility"
      >
        <svg
          width="15"
          height="17"
          viewBox="0 0 15 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="1"
            width="14"
            height="16"
            rx="2"
            fill="#5B8EF1"
            fill-opacity="0.59"
          />
          <rect y="2" width="13" height="15" rx="2" fill="#5B8EF1" />
        </svg>
      </div>
      <div
        class="chat-btn__complaint chat-btn"
        v-if="user.id && $store.state.user.id !== user.id"
        @click="createComplaint"
      >
        <svg
          width="22"
          height="22"
          viewBox="0 0 22 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <mask
            id="mask0_7:7338"
            style="mask-type: alpha"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="22"
            height="22"
          >
            <rect width="22" height="22" fill="#3878F4" />
          </mask>
          <g mask="url(#mask0_7:7338)">
            <path
              d="M8.40193 3.5C9.55663 1.5 12.4434 1.5 13.5981 3.5L20.9593 16.25C22.114 18.25 20.6706 20.75 18.3612 20.75H3.63878C1.32938 20.75 -0.113992 18.25 1.04071 16.25L8.40193 3.5Z"
              fill="#3878F4"
              fill-opacity="0.8"
            />
            <path
              d="M11.7289 14.179L11.9889 8.329H9.99991L10.2729 14.179H11.7289ZM11.0009 17.13C11.5729 17.13 12.0539 16.649 12.0539 16.09C12.0539 15.518 11.5729 15.037 11.0009 15.037C10.4289 15.037 9.96091 15.518 9.96091 16.09C9.96091 16.649 10.4289 17.13 11.0009 17.13Z"
              fill="white"
            />
          </g>
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
import { computed, defineAsyncComponent } from 'vue'
import { useStore } from 'vuex'
import { useRouter, useRoute } from 'vue-router'

export default {
  components: {
    IconBase: defineAsyncComponent(() =>
      import('../iconsComponents/iconBase.vue')
    )
  },
  props: {
    user: { type: Object, required: true },
    orderId: { type: String, required: true }
  },
  setup(props) {
    const store = useStore()
    const router = useRouter()
    const route = useRoute()

    const createComplaint = () => {
      router.push({
        name: 'support',
        query: {
          email: store.state.user.email,
          login: store.state.user.login,
          orderId: props.orderId
        }
      })
    }

    const btnToCurrentOrderVisibility = computed(
      () => !(route.name === 'order')
    )

    const goToUserProfile = () => {
      router.push({ name: 'profile', params: { userid: props.user.id } })
    }

    return {
      goToUserProfile,
      createComplaint,
      btnToCurrentOrderVisibility
    }
  }
}
</script>

<style lang="scss" scoped>
.chat-title--wrapper {
  display: flex;
  justify-content: space-between;
  padding: 19.5px 25px;
  box-sizing: border-box;

  @media (max-width: 599px) {
    padding: 15px 20px;
  }
}

.title-userdata {
  display: flex;
  align-items: center;

  .user-foto {
    width: 45px;
    height: 45px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
}

.title-userdata .user {
  &-data {
    display: flex;
  }

  &-login {
    margin-right: 10px;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    line-height: 20.71px;
  }

  &-stars {
    .star {
      &:not(:last-of-type) {
        margin-right: 4.62px;
      }
    }

    @media (max-width: 370px) {
      display: none;
    }
  }

  &-last-incoming {
    font-size: 13px;
    font-weight: 400;
    color: rgba(50, 50, 50, 0.5);
  }
}

.chat-title--buttons {
  display: flex;
  align-items: center;

  .chat-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #ebf1fe;
    transition: all 0.1s ease-in-out;
    box-shadow: 2px 2px 6px rgba(135, 194, 204, 0.6);
    cursor: pointer;

    @media (max-width: 599px) {
      width: 35px;
      height: 35px;
    }

    &:hover {
      box-shadow: 2px 2px 6px rgba(68, 128, 245, 0.6);
    }

    &:active {
      box-shadow: 2px 2px 6px rgba(135, 194, 204, 0.6);
    }

    &__to-order {
      @media (min-width: 900px) {
        display: none;
      }
    }
    &__complaint {
      margin-left: 12.5px;
    }
  }
}
</style>
