<template>
  <div class="chat-input-wrapper">
    <svg
      class="chat-btn"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M18.3094 1.69517C20.564 3.88717 20.5635 7.39144 18.3083 9.5829L8.64653 18.774C6.85831 20.436 3.99246 20.4042 2.24543 18.7031C0.527111 17.03 0.527111 14.3578 2.24543 12.6847L10.9943 4.36198C12.1316 3.28002 13.9757 3.28002 15.1131 4.36198C16.2504 5.44395 16.2504 7.1982 15.1131 8.28017L6.74464 16.241C6.44241 16.5187 5.96081 16.5107 5.66893 16.2232C5.38418 15.9428 5.38418 15.4982 5.66893 15.2177L14.0373 7.25685C14.569 6.72895 14.55 5.89102 13.9951 5.38534C13.4569 4.89493 12.6081 4.89493 12.07 5.38534L3.32119 13.708C2.1561 14.8323 2.16974 16.6423 3.35164 17.7507C4.52158 18.8478 6.40087 18.8478 7.57081 17.7507L17.2326 8.55953C18.9542 6.92236 18.9547 4.26755 17.2337 2.62978C15.5128 0.992006 12.722 0.991541 11.0004 2.62867L1.33862 11.8198C1.06532 12.1234 0.58506 12.1588 0.26594 11.8988C-0.0531823 11.6388 -0.0903584 11.1819 0.182938 10.8784C0.208435 10.85 0.236163 10.8237 0.26594 10.7994L9.92769 1.60824C12.2675 -0.569561 16.0201 -0.530674 18.3094 1.69517Z"
        fill="#8E8E8E"
        fill-opacity="0.8"
      />
    </svg>

    <input
      class="chat-input"
      type="text"
      placeholder="Написать..."
      v-model="messageText"
    />
    <svg
      class="chat-btn"
      width="22"
      height="18"
      viewBox="0 0 22 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0 18L22 9L0 0V7L15.7143 9L0 11V18Z" fill="#3878F4" />
    </svg>
  </div>
</template>

<script>
export default {
  data() {
    return {
      messageText: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.chat-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 50px;
  height: 86px;
  padding: 0 25px;
  box-sizing: border-box;

  @media (max-width: 899px) {
    padding: 0 19px;
    height: 50px;
  }
}
.chat-input {
  width: 100%;
  height: 100%;
  margin: 0 10px;
  padding: 0 10px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;

  &:focus {
    border: none;
    outline: none;
  }
}

.chat-btn {
  cursor: pointer;
}
</style>
