<template>
  <div
    class="alert-wrapper"
    @mouseenter="timer.stop"
    @mouseleave="timer.resume"
  >
    <div class="alert-image alert-image--error" v-if="type === 'error'">
      <span class="error-img"></span>
      <span class="error-img"></span>
    </div>
    <div class="alert-image alert-image--info" v-else-if="type === 'info'">
      <span class="info-img"> i </span>
    </div>
    <div
      class="alert-image alert-image--success"
      v-else-if="type === 'success'"
    >
      <span class="success-img"></span>
      <span class="success-img"></span>
    </div>
    <p :class="type + '-alert'">{{ message }}</p>
    <span class="close-alert" @click="close(id)">x</span>
  </div>
</template>

<script>
import { onBeforeUnmount, inject } from 'vue'

class Timer {
  constructor(cb, time) {
    this.cb = cb
    this.time = time
    this.startTime = Date.now()
    this.timer = setTimeout(cb, time)
  }

  stop() {
    this.clear()
    this.time -= Date.now() - this.startTime
  }

  resume() {
    this.startTime = Date.now()
    this.timer = setTimeout(this.cb, this.time)
  }

  clear() {
    clearTimeout(this.timer)
  }
}

export default {
  props: ['alertObj'],
  setup(props) {
    const { type, id, message } = props.alertObj
    const close = inject('closeAlert')
    const timer = new Timer(() => close(id), 4000)

    onBeforeUnmount(() => {
      timer.clear()
    })

    return { close, timer, type, id, message }
  }
}
</script>

<style lang="scss">
.alert-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin: 0 auto 10px;
  padding: 1em 30px 1em;
  background-color: #fff;
  box-shadow: 0 0 1px rgb(0 0 0 / 8%), 0 1px 2px rgb(0 0 0 / 8%),
    1px 2px 4px rgb(0 0 0 / 8%), 1px 3px 8px rgb(0 0 0 / 8%),
    2px 4px 16px rgb(0 0 0 / 8%);
  border-radius: 10px;

  .alert-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    margin-right: 20px;
    border: 3px solid #f27474;
    border-radius: 50%;
    overflow: hidden;

    &--error {
      border-color: #f27474;
    }

    &--info {
      border-color: #e4da59;
    }

    &--success {
      border-color: #0fad37;
    }

    .error-img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 22px;
      width: 3px;
      border-radius: 2px;
      padding: 5px 0;
      background-color: #f27474;

      &:first-child {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:last-child {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }

    .info-img {
      font-size: 30px;
      font-weight: 600;
      color: #e4da59;
    }
    .success-img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 25px;
      width: 3px;
      border-radius: 2px;
      padding: 5px 0;
      font-size: 30px;
      background-color: #0fad37;

      &:first-of-type {
        transform: translate(3px, -47%) rotate(35deg);
      }
      &:last-of-type {
        transform: translate(-8px, -22%) rotate(-35deg);
        height: 15px;
      }
    }
  }

  p {
    width: 100%;
    font-size: 18px;
    font-family: Proxima;
    z-index: 99999999999999999;

    &.error-alert {
      color: #f27474;
    }

    &.info-alert {
      color: #e4da59;
    }

    &.success-alert {
      color: #0fad37;
    }
  }
}

.close-alert {
  position: absolute;
  right: 12px;
  top: 10px;
  padding: 0 5px 2px;
  color: #f27474;
  line-height: 16px;
  background-color: #f8f8f8;
  border: 1px solid rgba(26, 26, 26, 0.05);
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 7px 4px rgb(0 0 0 / 8%);
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 4px 2px rgb(0 0 0 / 6%);
  }

  &:active {
    transform: translateY(1px);
  }
}
</style>
