<template>
  <div class="alert-block">
    <transition-group name="slide" move-class="alerts-list-move">
      <app-alert
        :alertObj="alertEl"
        v-for="alertEl in alerts.values()"
        :key="alertEl.id"
      />
    </transition-group>
  </div>
</template>

<script>
import AppAlert from './AppAlert.vue'

export default {
  props: {
    alerts: {
      type: Map
    }
  },
  components: {
    AppAlert
  }
}
</script>

<style lang="scss" scoped>
.alert-block {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: transparent;
  z-index: 9999999999999999;
  overflow: hidden;

  @media (max-width: 599px) {
    width: 100%;
    top: 0;
    right: 0;
  }
}

.slide-enter-from {
  transform: translateY(-150%);
  opacity: 0;
}

.slide-leave-to {
  opacity: 0;
}

.slide-enter-to,
.slide-leave-from {
  transform: translateY(0);
  opacity: 1;
}

.slide-enter-active {
  transition: all 0.4s cubic-bezier(0, 0, 0.29, 1.4);
}

.slide-leave-active {
  transition: all 0.3s linear;
}

.alerts-list-move {
  transition: all 0.3s;
}
</style>
