<template>
  <div class="password-change-wrapper">
    <Form @submit="changePassRequest" :validation-schema="schema">
      <div class="input-group">
        <h3>Новый пароль</h3>
        <AppInput name="new-password" type="password" :passwordEyes="true" />
      </div>
      <div class="input-group">
        <h3>Введите старый пароль</h3>
        <AppInput name="old-password" type="password" :passwordEyes="true" />
      </div>
      <div class="button-group">
        <button class="btn btn-primary-reverse password-btn" type="submit">
          Изменить пароль
        </button>
        <span @click="restorePassword">Забыли пароль?</span>
      </div>
    </Form>
  </div>
</template>

<script>
import { useStore } from 'vuex'
import { Form } from 'vee-validate'
import AppInput from '../inputComponents/AppInput.vue'
import { validators } from '../../validators/yupValidators'

export default {
  components: {
    AppInput,
    Form
  },
  setup() {
    const store = useStore()
    const restorePassword = () =>
      store.dispatch(
        'popupActions/openPopupComponent',
        store.state.popupActions.popupComponentsList.passwordRecovery
      )

    const schema = validators.object({
      'new-password': validators.password,
      'old-password': validators.password
    })

    const changePassRequest = formData => {
      console.log(formData) // TO DO  send pass change request
    }

    return {
      changePassRequest,
      restorePassword,
      schema
    }
  }
}
</script>

<style lang="scss" scoped>
h3 {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
.password-change-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .input-group {
    max-width: 100%;
    margin-bottom: 20px;

    @media (max-width: 899px) {
      max-width: 400px;
    }
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .password-btn {
      min-width: auto;
      padding: 12px 32px;

      @media (max-width: 899px) {
        padding: 8px 10px;
      }
    }

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      color: #848a96;
      cursor: pointer;

      &:hover {
        color: #3878f4;
      }
    }
  }
}
</style>