<template>
  <TickerLoader v-if="loader" />
  <div class="finance-container" v-else>
    <div class="finance-block--title">
      <h2>Финансы</h2>
      <AppSelect
        v-model="filterSelectValue"
        :defaultPlaceholder="'Все операции'"
        :optionsList="selectValues"
      />
      <span class="vert-line" />
      <div class="balance">Баланс: {{ balance }}&nbsp;руб.</div>
      <div class="finance-buttons">
        <button class="btn btn-primary" @click="payment" />
        <span class="btn-line"></span>
        <button class="btn btn-primary-reverse" />
      </div>
    </div>
    <div class="finance-title">
      <div class="finance-title__item">Дата</div>
      <div class="finance-title__item">Описание</div>
      <div class="finance-title__item">Статус</div>
      <div class="finance-title__item">Баланс</div>
    </div>
    <ul
      class="transactions-list"
      @click="openOrderDetails"
      :style="{ maxHeight: offset * 111 + 'px' }"
      v-if="transactionsList.length"
    >
      <li
        class="transactions-item"
        v-for="row in transactionsList"
        :key="row.id"
        :order="row.reason === 'order' ? row.Deal?.order : null"
      >
        <div class="flex column p-fix">
          <div class="date-time">
            <span
              >{{ row.createdAt.date }}
              {{ row.createdAt.month }}
            </span>
            <span>{{
              `  ${row.createdAt.hours}:${row.createdAt.minutes}`
            }}</span>
          </div>

          <span class="after-date"
            >{{ anyTimeAgo(row.createdAt.abs) }} назад</span
          >
        </div>
        <div>
          <span v-if="row.Deal"
            >Заказ&nbsp;<span class="blue"
              >№ {{ row.Deal.order || row.Deal?.order }}</span
            >
          </span>
          <span v-else>{{
            row.type === 'payment' ? 'Пополнение баланса' : 'Вывод средств'
          }}</span>
        </div>
        <div
          :class="[
            row.type == 'payment' && 'green',
            row.type == 'withdraw' && 'red',
            row.Deal && 'blue'
          ]"
        >
          <span>Статус</span>
          {{ row.accepted ? 'Завершено' : 'В обработке' }}
        </div>
        <div class="transaction-sum">
          <span class="sum-type">{{
            row.type === 'payment' ? '&plus;' : '&minus;'
          }}</span
          >&nbsp;{{ row.sum }}&nbsp;<strong>&#8381;</strong>
        </div>
      </li>
    </ul>
    <div class="transactions-plug" v-else>
      Вы не совершили ни одной транзакции
    </div>
    <transition name="scale-hor">
      <div
        class="show-more-transactions"
        v-if="offset < financeTable.length"
        @click="offset += 4"
      >
        Показать еще
      </div>
    </transition>
    <div class="load-trigger" ref="transactionsCountTrigger"></div>
  </div>
</template>

<script>
import {
  computed,
  ref,
  inject,
  onMounted,
  onBeforeUnmount,
  onBeforeMount
} from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'
import AppSelect from '../inputComponents/SelectElement.vue'
import TickerLoader from '../wrappers/TickerLoader.vue'
import anyTimeAgo from '../../utils/anyTimeAgo'

export default {
  name: 'transactions',
  components: {
    AppSelect,
    TickerLoader
  },
  setup() {
    const store = useStore()
    const axios = inject('axios')
    const addAlert = inject('addAlert')
    const router = useRouter()
    const offset = ref(4)
    const transactionsCountTrigger = ref(null)
    const loader = ref(true)
    const filterSelectValue = ref('all')

    const selectValues = [
      { value: 'all', title: 'Все операции' },
      { value: 'payment', title: 'Пополнение' },
      { value: 'withdraw', title: 'Вывод' },
      { value: 'order', title: 'Заказы' },
      { value: 'other', title: 'Другое' }
    ]

    const balance = computed(() => {
      return store.state.user.balance
    })

    const financeTable = computed(() => {
      switch (filterSelectValue.value) {
        case 'withdraw':
          return store.state.user.transactions
            .filter(el => el.type === 'withdraw' && !el.Deal)
            .sort((a, b) => b.createdAt.abs - a.createdAt.abs)

        case 'payment':
          return store.state.user.transactions
            .filter(el => el.type === 'payment' && !el.Deal)
            .sort((a, b) => b.createdAt.abs - a.createdAt.abs)

        case 'order':
          return store.state.user.transactions
            .filter(el => !!el.Deal)
            .sort((a, b) => b.createdAt.abs - a.createdAt.abs)

        case 'other':
          return store.state.user.transactions
            .filter(el => el.mark)
            .sort((a, b) => b.createdAt.abs - a.createdAt.abs) // TO DO other filter

        default:
          return store.state.user.transactions.sort(
            (a, b) => b.createdAt.abs - a.createdAt.abs
          )
      }
    })

    const transactionsList = computed(() => {
      return financeTable.value.slice(0, offset.value)
    })

    const payment = () => {
      store.dispatch('popupActions/openPrivatPopup', 'PaymentPopup')
    }

    const openOrderDetails = e => {
      const orderId = e.target.closest('[order]')?.getAttribute('order')
      if (orderId) {
        router.push({ name: 'order', params: { orderId } })
      }
    }

    const showMoreTransactions = () => {
      if (offset.value >= financeTable.value.length) return
      if (
        window.innerWidth > 599 &&
        window.innerHeight >=
          transactionsCountTrigger.value.getBoundingClientRect().top
      ) {
        offset.value += 6
      }
    }

    onBeforeMount(() => {
      axios
        .get(`/api/user/${store.state.user.id}/transactions`)
        .then(response => {
          store.commit('user/setTransactions', response.data.transactions)
          store.commit('user/setBalance', response.data.balance)
          loader.value = false
        })
        .catch(e => {
          addAlert('error', e)
          router.push({ name: 'root' })
          store.dispatch('user/auth/logoutAction')
        })
    })

    onMounted(() => {
      if (document.documentElement.offsetWidth > 599) {
        offset.value += 3
      }
      window.addEventListener('scroll', showMoreTransactions)
    })

    onBeforeUnmount(() => {
      window.removeEventListener('scroll', showMoreTransactions)
    })

    return {
      loader,
      anyTimeAgo,
      selectValues,
      filterSelectValue,
      payment,
      balance,
      financeTable,
      transactionsList,
      openOrderDetails,
      transactionsCountTrigger,
      offset
    }
  }
}
</script>

<style lang="scss" scoped>
.finance-container {
  min-height: 600px;
}

.finance-block {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 899px) {
    padding: 0;
  }

  &--wrapper {
    margin: 80px 0;
    padding: 40px 0 0;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 10px 65px rgba(12, 50, 123, 0.06);

    @media (max-width: 899px) {
      margin: 0;
      padding: 0;
    }
  }

  &--title {
    display: flex;
    align-items: center;
    height: 166px;
    width: 100%;
    padding: 0 45px;

    @media (max-width: 899px) {
      height: 82px;
      padding: 0 14px;
    }

    & > h2 {
      margin-right: 34px;
      font-size: 25px;
      font-weight: 700;
      font-style: normal;

      @media (max-width: 1023px) {
        margin-right: 12px;
      }

      @media (max-width: 899px) {
        font-size: 23px;
      }

      @media (max-width: 599px) {
        font-size: 20px;
      }
    }

    & > .input-select {
      width: 197px;
      margin-right: 44px;
      cursor: pointer;

      @media (max-width: 1023px) {
        margin-right: 12px;
      }

      @media (max-width: 899px) {
        display: none;
      }
    }

    & > .vert-line {
      height: 56px;
      width: 1px;
      margin-right: 44px;
      background-color: rgba(47, 108, 226, 0.13);

      @media (max-width: 1023px) {
        margin-right: 12px;
      }

      @media (max-width: 899px) {
        height: 32px;
      }
    }

    & > .balance {
      font-size: 18px;
      font-weight: 400;

      @media (max-width: 899px) {
        font-size: 16px;
      }

      @media (max-width: 499px) {
        font-size: 14px;
      }
    }

    & > .finance-buttons {
      display: flex;
      align-items: center;
      margin-left: auto;

      .btn {
        margin-top: 3px;
        min-width: auto;
        width: 158px;
        padding: 19px 8px;
        line-height: 0;

        &::after {
          font-size: 18px;
          font-weight: 600;
        }

        &:first-of-type::after {
          content: 'Пополнить';
        }

        &:last-of-type::after {
          content: 'Вывести';
        }

        @media (max-width: 1023px) {
          position: relative;
          width: 30px;
          padding: 13px 0;

          &:first-of-type::after {
            content: '\002B';
            position: absolute;
            left: 50%;
            top: 56%;
            transform: translate(-50%, 50%);
            font-size: 30px;
          }

          &:last-of-type::after {
            content: '\2014';
            position: absolute;
            left: 50%;
            top: 47%;
            transform: translate(-50%, -70%);
            font-size: 20px;
          }
        }
      }

      .btn-line {
        display: inline-block;
        height: 52px;
        width: 1px;
        margin: 0 19px 5px;
        background-color: rgba(47, 108, 226, 0.13);
        @media (max-width: 1023px) {
          margin: 0 6px 5px;
        }
        @media (max-width: 899px) {
          width: 0;
        }
      }
    }
  }
}

.finance-title {
  display: grid;
  grid-template-columns: 1.3fr 2.1fr 1fr 0.7fr;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  box-sizing: content-box;

  @media (max-width: 599px) {
    display: none;
  }

  &__item {
    padding-left: 25px;
    text-align: start;
  }
}

.transactions-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  li {
    display: grid;
    grid-template-columns: 1.3fr 2.1fr 1fr 0.7fr;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    position: relative;
    padding: 15px;
    border-top: 1px solid rgba(47, 108, 226, 0.25);
    cursor: pointer;

    @media (min-width: 900px) {
      &:hover {
        box-shadow: 5px 0 0 1px rgba(47, 108, 226, 1) inset;
      }
    }

    @media (max-width: 599px) {
      grid-template-rows: 27px 2.5fr;
      grid-template-columns: 1.2fr 2.2fr 1fr;
      align-items: start;
      margin: 17px 10px !important;
      padding: 0;
      border: 1px solid rgba(56, 119, 244, 0.28) !important;
      border-radius: 5px;
      box-shadow: 0px 1px 21px 1px rgba(12, 50, 123, 0.07);
      box-sizing: border-box;

      &:not(:last-of-type) {
        margin-bottom: 34px;

        &::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -17px;
          width: 77%;
          height: 1px;
          background-color: rgba(47, 108, 226, 0.3);
          transform: translateX(-50%);
        }
      }

      &:first-of-type {
        margin-top: 0;
      }
    }

    & > div {
      display: flex;
      height: 90%;
      align-items: center;
      padding-left: 25px;
      font-size: 15px;
      box-sizing: border-box;
      white-space: nowrap;

      & .date-time {
        & > span {
          white-space: nowrap;
        }

        @media (max-width: 899px) {
          display: flex;
          flex-direction: column;
        }
      }

      & .after-date {
        white-space: nowrap;
      }

      @media (max-width: 899px) {
        text-align: center;
      }

      @media (max-width: 599px) {
        justify-content: center;
        align-items: center;
        grid-row: 2;
        padding: 0;
        text-align: center;
      }

      &.p-fix {
        justify-content: center;
        align-items: start;
        padding: 10px 25px;

        @media (max-width: 599px) {
          padding: 10px;
          font-size: 12px;
        }

        & > span:last-child {
          margin-top: 2px;
          font-size: 13px !important;
          color: #323232b3;

          @media (max-width: 899px) {
            display: none;
          }
        }
      }

      &:nth-child(3) {
        font-weight: 600;

        & > span {
          display: none;
        }

        @media (max-width: 599px) {
          display: flex;
          justify-content: space-between;
          grid-row: 1;
          grid-column: 1/4;
          background-color: #e8effa;
          border-right: none !important;
          border-bottom: 1px solid rgba(63, 106, 190, 0.28);

          padding: 0 12px;

          & > span {
            display: block;
          }
        }
      }
      &:nth-child(4) {
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;

        & > .sum-type {
          font-family: sans-serif;
          font-size: 16px;

          @media (max-width: 599px) {
            font-size: 15px;
          }
        }

        @media (max-width: 599px) {
          font-size: 15px;
        }
      }

      &:not(:last-of-type) {
        border-right: 1px solid rgba(47, 108, 226, 0.25);

        @media (max-width: 599px) {
        }
      }
    }
  }
}

.transactions-plug {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  color: #323232b3;
  height: 80px;
}

.show-more-transactions {
  display: none;
  justify-content: center;
  align-items: flex-start;
  height: 38px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: rgba(50, 50, 50, 0.7);

  @media (max-width: 599px) {
    display: flex;
  }
}

.load-trigger {
  height: 1px;
  visibility: hidden;
}

.green {
  color: #3ca04d;
}

.red {
  color: #c34042;
}

.blue {
  color: #3878f4;
}

.fade-load-enter-active {
  transition: all 0.25s ease-out;
}
.fade-load-leave-active {
  transition: all 0.25s ease-out;
}

.fade-load-enter-to {
  opacity: 1;
}

.fade-load-enter-from,
.fade-load-leave-to {
  opacity: 0;
}

.scale-hor-leave-active {
  transition: all 0.3s ease 0.2s;
}

.scale-hor-leave-to {
  height: 0;
  opacity: 0;
  transform: translateY(-20px);
}
</style>
