<template>
  <div class="profile-rewiews">
    <div class="profile-rewiews__title">
      <h2 class="rewiews-title">Последние отзывы</h2>
      <div class="slider-navigation" v-if="rewiews.length > 3">
        <div
          class="slider-navigation__btn"
          @click="prevRewiew"
          :class="[rewiewOffset <= 0 && 'disabled']"
        >
          <svg
            transform="rotate(180)"
            width="8"
            height="15"
            viewBox="0 0 11 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M1 1L9 8.5L1 16" stroke="#3878F4" stroke-width="2" />
          </svg>
        </div>
        <div class="slider-navigation__line"></div>
        <div
          class="slider-navigation__btn"
          @click="nextRewiew"
          :class="[rewiewOffset >= rewiews.length - REWIEWS_STEP && 'disabled']"
        >
          <svg
            width="8"
            height="15"
            viewBox="0 0 11 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M1 1L9 8.5L1 16" stroke="#3878F4" stroke-width="2" />
          </svg>
        </div>
      </div>
    </div>
    <div class="profile-rewiews__list" v-if="rewiews.length">
      <ul
        class="user-rewiew-wrapper"
        :style="{
          transform: `translateY(-${145 * rewiewOffset}px)`,
          height: blockHeight
        }"
      >
        <li class="user-rewiew" v-for="rewiew in rewiews" :key="rewiew.id">
          <img
            :src="`/images/user/${rewiew.author}.webp`"
            alt="img"
            class="rewiew-img"
          />
          <div class="rewiew-data">
            <div class="rewiew-data__title">
              <div class="title-username">
                {{ rewiew.rewiew_author.name ?? rewiew.rewiew_author.login }}
              </div>
              <div class="title-rating">
                <IconBase
                  :iconName="'star'"
                  :width="16"
                  :height="16"
                  :iconTitle="star"
                  :iconColor="
                    star > rewiew.stars
                      ? 'rgba(56, 120, 244, 0.15)'
                      : 'rgba(56, 120, 244, 1)'
                  "
                  class="star"
                  v-for="star in 5"
                  :key="star + 'rewiew-star'"
                />
              </div>
            </div>
            <div class="rewiew-data__content">
              {{ rewiew.message || ' . . . ' }}
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="profile-rewiews__empty" v-else>Нет отзывов</div>
    <transition name="scale-hor">
      <div
        class="showMoreRewiew"
        @click="nextRewiew"
        v-if="rewiews.length - REWIEWS_STEP > rewiewOffset"
      >
        Показать еще
      </div>
    </transition>
    <hr class="sm-delimiter" />
  </div>
</template>

<script>
import { computed, ref, watch } from 'vue'
import IconBase from '../iconsComponents/iconBase.vue'

export default {
  components: {
    IconBase
  },
  props: {
    rewiews: {
      type: Array,
      default: () => []
    }
  },
  setup(props) {
    const REWIEWS_STEP = 3
    const rewiewOffset = ref(0)
    const openedRewiewHeightModificator = ref(0)

    const nextRewiew = () => {
      rewiewOffset.value += REWIEWS_STEP
    }

    const prevRewiew = () => {
      rewiewOffset.value -= REWIEWS_STEP
    }

    watch(
      () => rewiewOffset.value,
      newVal => {
        if (newVal <= 0) {
          rewiewOffset.value = 0
        }
        if (newVal + REWIEWS_STEP >= props.rewiews.length) {
          rewiewOffset.value = props.rewiews.length - REWIEWS_STEP
        }
      }
    )

    const blockHeight = computed(() => {
      if (document.documentElement.offsetWidth < 899) {
        return (
          (rewiewOffset.value +
            (props.rewiews.length > REWIEWS_STEP
              ? REWIEWS_STEP
              : props.rewiews.length)) *
            132 /* rewiiew sm block height */ +
          openedRewiewHeightModificator.value +
          'px'
        )
      }
      return props.rewiews.length < 3
        ? 143 * props.rewiews.length + 'px'
        : '430px'
    })

    const showFullText = e => {
      const { scrollHeight, offsetHeight } = e.target.closest(
        '.rewiew-data__content'
      )
      const hiddenTextHeight = scrollHeight - offsetHeight
      const rewiewEl = e.target.closest('.user-rewiew')
      rewiewEl.style.maxHeight = rewiewEl.offsetHeight + hiddenTextHeight + 'px'
      rewiewEl.style.height = 'auto'
      openedRewiewHeightModificator.value += hiddenTextHeight
      e.target.remove()
    }

    return {
      REWIEWS_STEP,
      nextRewiew,
      prevRewiew,
      rewiewOffset,
      blockHeight,
      showFullText
    }
  }
}
</script>

<style lang="scss" scoped>
.profile-rewiews {
  display: flex;
  flex-direction: column;
  padding: 45px 65px;
  border-bottom: 2px solid rgba(56, 120, 244, 0.15);

  @media (max-width: 899px) {
    padding: 30px 25px 0;
    border: none;
  }

  @media (max-width: 599px) {
    padding: 30px 13px 0;
  }

  .sm-delimiter {
    display: none;
    margin: 31px 12px 0;
    border: none;
    border-bottom: 1px solid rgba(56, 120, 244, 0.25);

    @media (max-width: 899px) {
      display: block;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 35px;

    @media (max-width: 899px) {
      padding-left: 12px;
      margin-bottom: 29px;
    }

    .rewiews-title {
      @media (max-width: 899px) {
        font-weight: 600;
        font-size: 20px;
        line-height: 24.36px;
      }
    }

    .slider-navigation {
      display: flex;
      align-items: center;

      @media (max-width: 899px) {
        display: none;
      }

      &__line {
        width: 1px;
        height: 100%;
        margin: 0 8px;
        background-color: rgba(44, 53, 107, 0.1);
      }

      &__btn {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        background-color: rgba(239, 241, 253, 0.4);
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        @media (min-width: 900px) {
          &:hover {
            box-shadow: 0 0 10px 5px rgba(221, 236, 255, 0.5);
          }
        }

        &:active {
          box-shadow: 0 0 8px 5px rgba(221, 236, 255, 0.4);
          transform: scale(0.8);
        }
      }
    }
  }

  &__list {
    color: rgba(50, 50, 50, 0.5);
    overflow: hidden;
  }

  &__empty {
    color: rgba(50, 50, 50, 0.5);
    margin-left: 12px;
  }
}

.showMoreRewiew {
  display: none;
  margin: 0 auto;
  height: 44px;
  color: rgba(50, 50, 50, 0.7);
  box-sizing: border-box;

  @media (max-width: 899px) {
    display: flex;
    align-items: flex-end;
  }
}

.user-rewiew-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 15px;
  transition: all 0.4s ease;

  @media (max-width: 899px) {
    grid-row-gap: 12px;
    transform: translateY(0) !important;
  }
}
.user-rewiew {
  display: flex;
  width: 100%;
  height: 130px;
  padding: 22px 24px 20px;
  border: 1.5px solid #d7def0;
  border-radius: 6px;

  @media (max-width: 899px) {
    height: 121px;
    max-height: 121px;
    padding: 10px 13px;
    background-color: #eef1fe;
    transition: max-height 0.4s ease;
  }

  .rewiew-img {
    height: 70px;
    margin-right: 24px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }
  .rewiew-data {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
      display: flex;
      margin-bottom: 9px;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      box-sizing: border-box;

      .title-username {
        margin-right: 15px;
      }

      .title-rating {
        white-space: nowrap;
        .star:not(:last-of-type) {
          margin-right: 5px;
        }
      }
    }
    &__content {
      display: -webkit-box;
      box-orient: vertical;
      -webkit-box-orient: vertical;
      max-height: 100px;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      padding-right: 100px;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      overflow: hidden;

      @media (max-width: 899px) {
        padding-right: 0;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
  &:hover {
    box-shadow: none;
  }
}

.scale-hor-leave-active {
  transition: all 0.2s ease-in 0.4s;
}

.scale-hor-leave-to {
  height: 0px;
  opacity: 0;
}

.show-full-text {
  display: none;
  position: absolute;
  left: calc(100% - 130px);
  right: 0;
  bottom: -2px;
  padding: 3px;
  color: rgba(56, 120, 244, 1);
  line-height: 14, 62px;
  transition: all 0.2s ease-out;

  @media (max-width: 520px) {
    display: inline-block;
    background-color: #eef1fe;
  }
}
</style>
