<template>
  <li class="user-order standard">
    <div class="order-title">
      <div class="order-title__game">{{ game }}</div>
      ,&nbsp;
      <div class="order-title__category">{{ categories[category] }}</div>
    </div>
    <div class="order-description">
      {{ description }}
    </div>
    <div class="order-meta">
      <div class="order-meta__price">{{ price }}&nbsp;&#8381;</div>
      <div
        class="order-meta__status"
        :class="[
          status == 'open' && 'open',
          status == 'close' && 'close',
          status == 'progress' && 'progress'
        ]"
      >
        {{ statuses[status] }}
      </div>
    </div>
  </li>
</template>

<script setup>
import { categories, statuses } from '../../utils/listHelpers'
defineProps({
  game: { type: String, required: true },
  category: { type: String, required: true },
  description: { type: String, required: true },
  price: { type: [String, Number], required: true },
  status: { type: String, required: true },
  promotion: { type: String, default: 'standard' }
})
</script>

<style lang="scss" scoped>
.user-order {
  padding: 28px;
  border: 1.5px;
  border-top: 16.81px;
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;

  @media (max-width: 599px) {
    padding: 24px;
    border-top: 12.9px;
  }

  .order-title {
    display: flex;
    padding-bottom: 5px;
    color: rgba(50, 50, 50, 0.5);

    & > * {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: inherit;
    }
  }
  .order-description {
    height: 58px;
    margin-bottom: 23px;
    white-space: pre-wrap;
    box-sizing: border-box;
    overflow: hidden;

    @media (max-width: 899px) {
      margin-bottom: 10px;
    }
  }
  .order-meta {
    display: flex;
    justify-content: space-between;

    &__price {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 19px;
    }

    &__status {
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;

      &.open {
        color: #5d92f6;
      }
      &.close {
        color: #c34042;
      }
      &.progress {
        color: rgba(16, 190, 45, 0.6);
      }
    }
  }
}

.standard {
  border-color: rgba(219, 230, 251, 1);
  border-style: solid;
}
</style>
