<template>
  <div class="profile-title__data">
    <div class="user-data">
      <button
        class="user-data__name--btn btn btn-primary"
        @click="changeName"
        v-if="$route.name == 'settings'"
      >
        {{ isNameEditable ? 'Сохранить' : 'Изменить' }}
      </button>
      <h2
        class="user-name"
        :contenteditable="isNameEditable"
        ref="userNameEl"
        @keydown.enter.prevent
      >
        {{ user.name || user.login }}
      </h2>
      <div class="user-activity">
        <p class="registration-date">
          Дата регистрации:
          {{ new Date(user.createdAt).toLocaleDateString() }}
        </p>
        <p class="last-visit-date">
          Последний визит:
          {{ new Date(user.lastVisit).toLocaleDateString() }}
        </p>
      </div>
      <div class="user-raiting" :title="user.stars">
        <h2>Рейтинг:</h2>
        <span>
          <AppIcon
            :width="16"
            v-for="i in 5"
            :height="16"
            iconName="star"
            :iconTitle="user.stars"
            :iconColor="
              i > Math.round(user.stars)
                ? 'rgba(56, 120, 244, 0.15)'
                : 'rgba(56, 120, 244, 1)'
            "
            :key="`${i}-${user.id}-rating`"
            role="icon"
            class="star"
          />
        </span>
      </div>
      <p class="user-rewiews-count">
        Всего {{ user.user_rewiews?.length ?? 0 }}
        {{
          counterModificator(user.user_rewiews?.length, [
            'отзыв',
            'отзыва',
            'отзывов'
          ])
        }}.
      </p>
    </div>
  </div>
</template>

<script>
import { defineComponent, nextTick, ref } from 'vue'
import { useStore } from 'vuex'

import AppIcon from '../iconsComponents/iconBase.vue'
import counterModificator from '../../utils/counterModificator'

export default defineComponent({
  components: { AppIcon },
  props: {
    user: { type: Object, required: true }
  },
  setup() {
    const store = useStore()

    const userNameEl = ref(null)
    const isNameEditable = ref(false)
    const changeName = () => {
      isNameEditable.value = !isNameEditable.value
      if (isNameEditable.value) {
        nextTick(() => {
          const selection = window.getSelection()
          const range = document.createRange()
          selection.removeAllRanges()
          range.selectNodeContents(userNameEl.value)
          range.collapse(false)
          selection.addRange(range)
          userNameEl.value.focus()
        })
      } else {
        const formData = new FormData()
        formData.set('name', userNameEl.value.textContent)
        store.state.user.name = userNameEl.value.textContent
        store.dispatch('user/saveChangedUserProfile', formData)
      }
    }

    const changeNameRequest = val => {
      isNameEditable.value = false
      if (val == store.state.user.name) return
      const formData = new FormData()
      formData.set('name', val)
      store.dispatch('user/saveChangedUserProfile', formData)
    }

    return {
      userNameEl,
      isNameEditable,
      changeName,
      changeNameRequest,
      counterModificator
    }
  }
})
</script>

<style lang="scss" scoped>
.profile-title__data {
  display: flex;

  @media (max-width: 1199px) {
    width: 100%;
  }

  .user-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0 20px;

    @media (max-width: 899px) {
      padding: 0;
    }

    &__name--btn {
      display: none;

      @media (max-width: 899px) {
        position: absolute;
        display: block;
        right: 25px;
        top: 35px;
        padding: 0 8px;
        max-width: 80px;
        min-width: auto;
        font-size: 11px;
        z-index: 99;
      }
    }

    .user-name {
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      letter-spacing: 0.02em;
      order: 0;

      &:focus {
        outline: none;
      }
    }

    .user-activity {
      @media (max-width: 899px) {
        order: 2;
      }
      .registration-date,
      .last-visit-date {
        margin: 0;
        padding: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #323232b3;

        @media (max-width: 899px) {
          font-size: 13px;
          line-height: 16px;
        }
      }

      .last-visit-date {
        @media (max-width: 899px) {
          display: none;
        }
      }
    }

    .user-raiting {
      h2 {
        display: inline-block;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: rgba(50, 50, 50, 1);
      }

      span {
        padding-left: 15px;
      }

      .star {
        margin-right: 5px;

        @media (max-width: 899px) {
          width: 20px;
          height: 20px;
        }
      }

      @media (max-width: 899px) {
        order: 1;
        & > h2 {
          display: none;
        }

        & > span {
          padding: 0;
        }
      }
    }

    .user-rewiews-count {
      order: 4;
      margin: 0;
      padding: 0;
      color: #323232b3;

      @media (max-width: 899px) {
        font-size: 15px;
        line-height: 18px;
      }
    }
  }
}
</style>