<template>
  <TickerLoader v-if="loader" />
  <div class="history" v-else>
    <h2 class="history-title">История сделок</h2>
    <div class="history-list">
      <div class="history-list__title">
        <h3>Дата</h3>
        <h3 style="text-align: center">Заказ</h3>
        <h3>Описание</h3>
        <h3>Продавец</h3>
        <h3>Статус</h3>
        <h3>Сумма</h3>
      </div>
      <ul
        class="history-list__container"
        :style="{ maxHeight: offset * 175 + 'px' }"
        v-if="deals.length"
      >
        <li
          class="history-list__container--item"
          v-for="deal in deals"
          :key="deal.order_.id"
          @click="
            $router.push({
              name: 'order',
              params: { orderId: deal.order_.id }
            })
          "
        >
          <div class="order-item order-item__date">
            <h3>Дата</h3>
            <div class="date-time">
              {{ deal.updatedAt.date }} <br />{{ deal.updatedAt.time }}
            </div>
            <div>{{ anyTimeAgo(deal.updatedAt.abs) }} назад</div>
          </div>
          <div class="order-item order-item__order">
            <span>Товар</span>&nbsp;#{{ deal.order_.id }}
          </div>
          <div class="order-item order-item__description">
            <span>{{ deal.order_.description || 'Нет описания' }}</span>

            <span
              >{{ deal.order_.game_.title }},
              {{ categories[deal.order_.category] }}</span
            >
          </div>
          <div class="order-item order-item__owner">
            <div class="order-item__owner--photo">
              <img :src="`/images/user/${deal.order_.owner}.webp`" alt="user" />
            </div>
            <div class="order-item__owner--info">
              <span>{{ deal.order_.order_owner.login }}</span>
              <span>{{ deal.order_.order_owner.last_visit ?? 'online' }}</span>
            </div>
          </div>
          <div
            class="order-item order-item__status"
            :class="[
              deal.status === 'close' && 'red',
              deal.status === 'progress' && 'gray'
            ]"
          >
            {{ statuses[deal.status] }}
          </div>
          <div class="order-item order-item__price">
            <span>Сумма</span>
            {{ deal.order_.price }}&nbsp;&#8381;
          </div>
        </li>
      </ul>
      <div class="deals-plug" v-else>
        У Вас ещё нет сделок.&nbsp;
        <router-link :to="{ name: 'buy-page' }">Начнём?</router-link>
      </div>
    </div>
    <transition name="scale-hor">
      <div
        class="show-more"
        @click="offset += 4"
        v-if="offset < allOrders.length"
      >
        Показать еще
      </div>
    </transition>
    <div class="load-trigger" ref="trigger"></div>
  </div>
</template>
<script>
import { ref, computed, inject, onMounted, onBeforeUnmount } from 'vue'
import { useStore } from 'vuex'
import TickerLoader from '../wrappers/TickerLoader.vue'
import anyTimeAgo from '../../utils/anyTimeAgo'
import { categories, statuses } from '../../utils/listHelpers'
import { parseTime } from '../../utils/parseTime'

export default {
  components: {
    TickerLoader
  },
  setup() {
    const loader = ref(true)
    const store = useStore()
    const addAlert = inject('addAlert')

    const allOrders = ref([])

    try {
      store.dispatch('user/getDeals').then(response => {
        allOrders.value = response.deals.map(el => {
          return {
            ...el,
            updatedAt: parseTime(new Date(el.updatedAt))
          }
        })
        loader.value = false
      })
    } catch (e) {
      addAlert('error', e)
    }

    const trigger = ref(null)
    const offset = ref(4)
    const deals = computed(() => allOrders.value.slice(0, offset.value))

    const showMoreDeals = () => {
      if (offset.value >= allOrders.value.length) return
      if (
        window.innerWidth > 599 &&
        window.innerHeight >= trigger.value.getBoundingClientRect().top
      ) {
        offset.value += 6
      }
    }

    onMounted(() => {
      if (document.documentElement.offsetWidth > 599) {
        offset.value += 3
      }
      window.addEventListener('scroll', showMoreDeals)
    })

    onBeforeUnmount(() => {
      window.removeEventListener('scroll', showMoreDeals)
    })

    return {
      trigger,
      loader,
      offset,
      allOrders,
      deals,
      categories,
      statuses,
      anyTimeAgo
    }
  }
}
</script>

<style lang="scss" scoped>
.history {
  min-height: 600px;
  &-title {
    padding: 45px 35px;

    @media (max-width: 899px) {
      padding: 23px 20px 4px;
    }
  }
  &-list {
    &__title {
      display: grid;
      grid-template-columns: 1.66fr 1.2fr 3.5fr 2fr 1fr 1.08fr;
      padding: 0 20px 15px;
      border-bottom: 1px solid rgba(47, 108, 226, 0.28);

      @media (max-width: 899px) {
        display: none;
      }

      h3 {
        padding: 0 25px;
      }
    }
    &__container {
      transition: max-height 0.3s ease-in-out;
      overflow: hidden;

      &--item {
        position: relative;
        display: grid;
        grid-template-columns: 1.66fr 1.2fr 3.5fr 2fr 1fr 1.1fr;
        padding: 19px 20px;
        cursor: pointer;

        &:not(:last-of-type) {
          border-bottom: 1px solid rgba(47, 108, 226, 0.28);

          @media (max-width: 899px) {
            margin-bottom: 34px;

            &::after {
              content: '';
              position: absolute;
              left: 50%;
              bottom: -17px;
              width: 77%;
              height: 1px;
              background-color: rgba(47, 108, 226, 0.3);
              transform: translateX(-50%);
            }
          }
        }

        @media (min-width: 899px) {
          &:hover {
            box-shadow: 5px 0 0 1px rgba(47, 108, 226, 1) inset;
          }
        }

        @media (max-width: 899px) {
          margin: 19px 11px;
          padding: 0 0 9px;
          grid-template-columns: 75% 25%;
          grid-template-rows: 30px auto 0.7fr;
          border: 1px solid rgba(63, 106, 190, 0.28);
          border-radius: 4px;
          box-shadow: 0px 1px 21px 1px rgba(12, 50, 123, 0.07);

          &::before {
            content: '';
            position: absolute;
            top: 40px;
            right: 25%;
            bottom: 15px;
            width: 1.5px;
            background-color: rgba(12, 50, 123, 0.07);
          }
        }

        .order-item {
          display: flex;
          padding: 0 25px;
          height: 74px;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 0.02em;
          color: #323232;

          @media (max-width: 899px) {
            height: auto;
            padding: 0;
          }

          &:not(:first-of-type) {
            @media (min-width: 900px) {
              border-left: 1px solid rgba(47, 108, 226, 0.28);
            }
          }

          &__date {
            flex-direction: column;
            justify-content: center;
            white-space: nowrap;

            @media (max-width: 899px) {
              grid-column: 2;
              grid-row: 2;
              max-height: 52px;
              margin-top: 3px;
              text-align: center;
            }

            div:last-child {
              font-weight: 400;
              font-size: 13px;
              line-height: 16px;
              letter-spacing: 0.02em;
              color: rgba(50, 50, 50, 0.7);

              @media (max-width: 899px) {
                display: none;
              }
            }

            h3 {
              display: none;
              font-weight: 600;
              font-size: 15px;
              line-height: 18px;
              letter-spacing: 0.02em;
              color: #323232;

              @media (max-width: 899px) {
                display: block;
              }
            }

            .date-time {
              br {
                display: none;
              }

              @media (max-width: 899px) {
                padding-bottom: 5px;
                text-align: center;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                letter-spacing: 0.02em;
                color: #323232;
                border-bottom: 1px solid rgba(47, 108, 226, 0.2);

                br {
                  display: block;
                }
              }
            }
          }
          &__order {
            justify-content: center;
            align-items: center;
            color: #3878f4;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.02em;
            color: #323232;

            span {
              display: none;

              @media (max-width: 899px) {
                display: inline;
                font-weight: 600;
                font-size: 17px;
                line-height: 21px;
              }
            }

            @media (max-width: 899px) {
              grid-column: 1;
              grid-row: 1;
              justify-content: start;
              padding-left: 16px;
              background-color: #e8effa;
              border-bottom: 1px solid rgba(47, 108, 226, 0.28);
              font-size: 15px;
              line-height: 18px;
              letter-spacing: 0.02em;
            }
          }
          &__description {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 899px) {
              grid-column: 1;
              grid-row: 3;
              font-size: 12px;
              line-height: 15px;
              letter-spacing: 0.02em;
              color: #323232;
            }

            span {
              max-height: 40px;
              text-overflow: ellipsis;
              overflow: hidden;

              @media (max-width: 899px) {
                padding-left: 16px;
                height: 32px;
              }
            }

            span:last-of-type {
              height: auto;
              margin-top: 5px;
              font-size: 13px;
              line-height: 16px;
              letter-spacing: 0.02em;
              color: rgba(50, 50, 50, 0.7);

              @media (max-width: 899px) {
                margin: 0;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.02em;
                color: rgba(50, 50, 50, 0.7);
              }
            }
          }
          &__owner {
            display: flex;
            align-items: center;

            @media (max-width: 899px) {
              margin-top: 3px;
            }
            &--photo {
              width: 45px;
              height: 45px;
              margin-right: 15px;
              border-radius: 50%;
              overflow: hidden;

              @media (max-width: 899px) {
                width: 34px;
                height: 34px;
                margin-left: 16px;
              }

              img {
                display: block;
                width: 100%;
                height: 100%;
              }
            }
            &--info {
              display: flex;
              flex-direction: column;
              font-weight: 600;

              @media (max-width: 899px) {
                margin-top: 7px;
              }

              span:last-of-type {
                margin-top: 3px;
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                color: rgba(50, 50, 50, 0.5);

                @media (max-width: 899px) {
                  margin-top: 0px;
                  font-size: 11px;
                  line-height: 13px;
                }
              }
            }
          }
          &__status {
            justify-content: center;
            align-items: center;
            padding: 0;
            font-weight: 600;
            color: #3878f4;

            @media (max-width: 899px) {
              grid-column: 2;
              grid-row: 1;
              background-color: #e8effa;
              border-bottom: 1px solid rgba(47, 108, 226, 0.28);
            }
          }
          &__price {
            justify-content: center;
            align-items: center;
            padding: 0;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.02em;

            & > span {
              display: none;
            }

            @media (max-width: 899px) {
              flex-direction: column;
              justify-content: flex-end;

              & > span {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

.deals-plug {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  font-size: 20px;
  color: rgba(50, 50, 50, 0.6);

  a {
    margin-left: 10px;
    color: var(--main-blue);
    text-decoration: none;
  }
}

.blue {
  color: #3878f4;
}

.red {
  color: #e83535 !important;
}

.gray {
  color: rgba(50, 50, 50, 0.5) !important;
  white-space: nowrap;
}

.show-more {
  display: none;
  justify-content: center;
  align-items: flex-start;
  height: 38px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: rgba(50, 50, 50, 0.7);

  @media (max-width: 599px) {
    display: flex;
  }
}

.scale-hor-leave-active {
  transition: all 0.3s ease 0.2s;
}

.scale-hor-leave-to {
  height: 0;
  opacity: 0;
  transform: translateY(-20px);
}
</style>
