<template>
  <TickerLoader v-if="loader" />
  <div class="settings-wrapper settings-active" v-else>
    <div class="info-block">
      <div class="info-block__data">
        <img :src="photo" alt="user" class="user-photo" />
        <div class="change-photo">
          <h3>Аватар</h3>
          <input
            type="file"
            ref="filePicker"
            class="file-picker"
            @change="changePhoto"
          />
          <button
            class="btn btn-primary-reverse update-photo-btn"
            @click="openFilePicker"
          >
            Выберите файл
          </button>
          <label class="flex align-center pointer">
            <input
              type="checkbox"
              :checked="deletePhotoFlag"
              @change="deletePhoto"
            />
            Удалить аватар совсем
          </label>
        </div>
      </div>
      <div class="name-field">
        <h3>Имя</h3>
        <input type="text" v-model="userName" />
      </div>
      <div class="info-block__description">
        <h3>Описание</h3>
        <textarea
          class="info-block__description--text"
          spellcheck="false"
          placeholder="Нет описания"
          @input="resize"
          v-model="userDescription"
          ref="descriptionEl"
        />
      </div>
    </div>
    <div class="password-block">
      <ChangePassword />
    </div>
    <div class="save-btn">
      <button class="btn btn-primary" @click="saveSettings">
        Сохранить изменения
      </button>
    </div>
  </div>
</template>

<script>
import { computed, inject, ref } from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'
import ChangePassword from './ChangePassword.vue'
import TickerLoader from '../wrappers/TickerLoader.vue'
export default {
  components: {
    ChangePassword,
    TickerLoader
  },
  setup() {
    const store = useStore()
    const router = useRouter()
    const addAlert = inject('addAlert')
    const loader = ref(false)
    const formData = new FormData()

    const userName = ref(store.state.user.name)
    const userDescription = ref(store.state.user.description)
    const deletePhotoFlag = ref(false)
    const filePicker = ref(filePicker)
    const photo = ref(store.state.user.photo)
    const isPhotoChanged = ref(false)

    const changePhoto = e => {
      deletePhotoFlag.value = false
      isPhotoChanged.value = true
      formData.append('photo', e.target.files[0], store.state.user.id)
      photo.value = URL.createObjectURL(e.target.files[0])
      store.state.user.photo = photo.value
    }

    const openFilePicker = () => {
      filePicker.value.value = ''
      formData.delete('photo')
      filePicker.value.click()
    }

    const deletePhoto = () => {
      deletePhotoFlag.value = !deletePhotoFlag.value
      photo.value = deletePhotoFlag.value
        ? '/images/user/default.webp'
        : store.state.user.photo
    }

    const isSettingsChanged = computed(() => {
      return (
        userDescription.value !== store.state.user.description ||
        userName.value !== store.state.user.name ||
        isPhotoChanged.value
      )
    })

    const saveSettings = async () => {
      console.log(filePicker.value.files)
      if (isSettingsChanged.value || deletePhotoFlag.value) {
        formData.set('name', userName.value)
        formData.set('description', userDescription.value)
        formData.set('deletePhoto', deletePhotoFlag.value)
        loader.value = true
        try {
          const user = await store.dispatch(
            'user/saveChangedUserProfile',
            formData
          )
          store.commit('user/userDataUpdate', {
            ...user.data,
            photo: photo.value
          })
          addAlert('success', 'Профиль изменен')
          router.push({ name: 'settings' })
        } catch (e) {
          loader.value = false
          addAlert('error', 'Ошибка.Попробуйте позже')
        }
      } else {
        router.push({ name: 'settings' })
      }
    }

    return {
      loader,
      userName,
      filePicker,
      openFilePicker,
      userDescription,
      deletePhotoFlag,
      changePhoto,
      deletePhoto,
      photo,
      saveSettings
    }
  }
}
</script>

<style lang="scss" scoped>
h3 {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.file-picker {
  display: none;
}

.settings-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 75px 65px 45px;
  min-height: 600px;

  @media (max-width: 899px) {
    grid-template-columns: 1fr;
    padding: 25px;
  }

  .info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 440px;
    padding-right: 55px;
    border-right: 1px solid rgba(56, 120, 244, 0.15);

    @media (max-width: 899px) {
      padding: 0 0 25px;
      border: none;
    }

    &__data {
      display: flex;
      align-items: center;
      margin-bottom: 35px;
      font-size: 15px;

      .user-photo {
        width: 120px;
        height: 120px;
        margin-right: 30px;
        border-radius: 50%;
        z-index: 10;

        @media (max-width: 899px) {
          width: 100px;
          height: 100px;
        }
      }

      .update-photo-btn {
        min-width: auto;
        padding: 8px 15px;
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: 200;
        border-width: 1px;

        &:hover {
          box-shadow: none;
        }
      }

      label {
        display: flex;
        color: #8e8e8e;
        line-height: 12px;

        input[type='checkbox'] {
          margin-top: -5px;
          margin-right: 8px;
        }
      }
    }

    &__description {
      position: relative;

      @media (max-width: 899px) {
        padding-top: 15px;
        h3 {
          margin-bottom: 10px;
        }
      }
    }
  }

  .password-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 65px;
  }

  .save-btn {
    display: flex;
    grid-column: 1/3;
    justify-content: center;
    margin-top: 50px;
    padding-top: 45px;
    border-top: 1px solid rgba(56, 120, 244, 0.15);

    button {
      padding: 14px 55px;
    }
  }
}
</style>