<template>
  <TickerLoader v-if="loader" />
  <div class="profile" v-else>
    <div class="profile-title">
      <div class="flex">
        <img
          :src="`/images/user/${$route.params.userid}.webp`"
          alt="user"
          class="user-foto"
        />
        <UserData :user="user" />
      </div>

      <div class="profile-title__description">
        <h3>Описание</h3>
        <p class="user-description" v-if="user.description">
          {{ user.description }}
        </p>
        <p class="user-description" v-else>Нет описания</p>
      </div>
    </div>
    <UserRewiews :rewiews="user.user_rewiews" />
    <div class="profile-orders">
      <div class="profile-orders__title">
        <h2>Объявления</h2>
        <div
          role="button"
          class="show-all-orders"
          @click="showAll"
          v-if="user.orders?.length > 6"
        >
          {{ offset === user.orders.length ? 'Скрыть' : 'Показать все' }}
        </div>
      </div>
      <transition-group
        tag="ul"
        class="profile-orders__list"
        name="list-dropdown"
        v-if="user.orders?.length"
        @click="goToOrderPage"
      >
        <UserOrders
          v-for="i in orders"
          :key="i.id"
          :category="i.category"
          :description="i.description"
          :game="i.game_.title"
          :price="i.price"
          :status="i.Deal.status"
          :data-order="i.id"
        />
      </transition-group>
      <div class="profile-orders__less" v-else>
        Нет опубликованных объявлений
      </div>
      <div
        class="show-more-orders"
        v-if="user.orders?.length > offset"
        @click="offset += 4"
      >
        Показать еще
      </div>
    </div>
    <router-link
      class="profile-btn"
      v-slot="{ navigate }"
      :to="{ name: 'settings' }"
      v-if="$route.params.userid === $store.state.user.id"
    >
      <button class="btn btn-primary" @click="navigate">
        Настройки профиля
      </button>
    </router-link>
  </div>
</template>

<script>
import { ref, inject, computed, watchEffect } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useStore } from 'vuex'
import AppIcon from '../iconsComponents/iconBase.vue'
import UserOrders from './UserOrders.vue'
import UserRewiews from './UserRewiews.vue'
import UserData from './UserData.vue'
import TickerLoader from '../wrappers/TickerLoader.vue'
import counterModificator from '../../utils/counterModificator'

export default {
  components: { AppIcon, UserOrders, UserData, UserRewiews, TickerLoader },
  setup() {
    const store = useStore()
    const route = useRoute()
    const router = useRouter()
    const user = ref()
    const addAlert = inject('addAlert')
    const loader = ref(true)

    watchEffect(() => {
      if (!route.params.userid) return
      if (route.params.userid === store.state.user.id) {
        user.value = store.state.user
        loader.value = false
        return
      }
      store
        .dispatch('user/getUserData', route.params.userid)
        .then(data => {
          user.value = data
          loader.value = false
        })
        .catch(e => addAlert('error', e))
    })

    const goToOrderPage = event => {
      router.push({
        name: 'order',
        params: {
          orderId: event.target
            .closest('[data-order]')
            .getAttribute('data-order')
        }
      })
    }

    const minVisibleOrdersCount = window.innerWidth > 900 ? 6 : 4
    const offset = ref(minVisibleOrdersCount)
    const orders = computed(() => user.value?.orders.slice(0, offset.value))

    const showAll = () => {
      if (offset.value >= user.value.orders.length) {
        offset.value = minVisibleOrdersCount
      } else {
        offset.value = user.value.orders.length
      }
    }

    return {
      counterModificator,
      user,
      loader,
      offset,
      goToOrderPage,
      showAll,
      orders
    }
  }
}
</script>

<style lang="scss" scoped>
.profile {
  display: flex;
  flex-direction: column;
  padding: 65px 0;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 15px;

  @media (max-width: 899px) {
    padding: 30px 0;
  }

  &-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 65px 65px;
    border-bottom: 2px solid rgba(56, 120, 244, 0.15);

    @media (max-width: 1199px) {
      flex-direction: column;
      padding: 0 25px;
      border: none;
    }

    @media (min-width: 1200px) {
      &::after {
        content: '';
        position: absolute;
        top: 10px;
        left: 50%;
        width: 1.5px;
        height: 170px;
        background-color: rgba(56, 120, 244, 0.149);
      }
    }

    .flex > .user-foto {
      width: 169px;
      height: 169px;
      margin-right: 50px;
      border-radius: 50%;
      aspect-ratio: 1/1;

      @media (max-width: 899px) {
        height: 100px;
        width: 100px;
        margin-right: 30px;
      }
    }

    &__description {
      width: 50%;
      max-height: 170px;
      padding: 15px 10px 20px 55px;
      overflow: hidden;
      scrollbar-width: thin;
      scrollbar-color: rgba(56, 120, 244, 0.249) rgba(56, 120, 244, 0.149);

      @media (max-width: 1199px) {
        width: 100%;
        padding: 22px 0 30px;
        border-bottom: 1px solid rgba(56, 120, 244, 0.25);
      }

      &:hover {
        overflow-y: auto;
      }

      &::-webkit-scrollbar {
        width: 3px;
      }
      &::-webkit-scrollbar {
        background-color: rgba(56, 120, 244, 0.149);
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(56, 120, 244, 0.249);
      }

      h3 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 9px;
      }

      .user-description {
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: rgba(50, 50, 50, 0.7);
      }
    }
  }

  &-orders {
    display: flex;
    flex-direction: column;
    padding: 45px 65px 0;

    @media (max-width: 899px) {
      padding: 31px 25px 0;
    }

    @media (max-width: 599px) {
      padding: 31px 13px 0;
    }

    &__title {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 31px;
      text-indent: 15px;

      .show-all-orders {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: rgba(50, 50, 50, 0.7);
        cursor: pointer;

        &:hover {
          color: var(--main-blue);
          text-shadow: 2px 2px 6px rgba(158, 179, 250, 0.575);
        }

        @media (max-width: 899px) {
          display: none;
        }
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 28px;
      grid-row-gap: 37px;

      @media (max-width: 899px) {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 15px;
      }

      @media (max-width: 599px) {
        grid-template-columns: 1fr;
      }
    }

    & .show-more-orders {
      display: none;
      @media (max-width: 899px) {
        display: flex;
        justify-content: center;
        padding: 31px 0 0;
        color: rgba(50, 50, 50, 0.7);
      }
    }

    &__less {
      color: rgba(50, 50, 50, 0.5);
    }
  }

  .profile-btn {
    margin: 50px auto 0;
  }
}

.fade-load-enter-from,
.fade-load-leave-to {
  opacity: 0;
}

.list-dropdown-leave-active,
.list-dropdown-enter-active {
  transition: all 0.3s linear;
}
.list-dropdown-enter-from,
.list-dropdown-leave-to {
  opacity: 0;
}

.list-dropdown-enter-to,
.list-dropdown-leave-from {
  opacity: 1;
}

.list-dropdown-move {
  @media (max-width: 899px) {
    transition: all 0.5s ease;
  }
  transition: all 0.2s ease;
}
</style>
