<template>
  <div class="settings-wrapper">
    <div class="info-block">
      <div class="info-block__data">
        <img
          :src="$store.state.user.photo"
          :alt="$store.state.user.login"
          class="user-photo"
        />
        <UserData :user="$store.state.user" />
      </div>

      <div class="info-block__description">
        <h3>Описание</h3>
        <textarea
          class="info-block__description--text"
          :class="{ 'no-events': !isDescriptionEditable }"
          spellcheck="false"
          placeholder="Нет описания"
          @input="resizeDescriptionField"
          v-model="userDescription"
          ref="descriptionEl"
        />
        <button
          class="info-block__description--btn btn btn-primary"
          @click="changeDescription"
        >
          {{ isDescriptionEditable ? 'Сохранить' : 'Изменить' }}
        </button>
      </div>
      <button
        class="btn btn-primary btn-settings"
        @click="$router.push({ name: 'settingsEdit' })"
      >
        Редактировать профиль
      </button>
    </div>
    <div class="password-block">
      <ChangePassword />
    </div>
    <div class="settings-block">
      <div class="notice push-notice">
        <svg
          class="notice-icon"
          width="85"
          height="85"
          viewBox="0 0 85 85"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            width="85"
            height="85"
            rx="42.5"
            fill="#3878F4"
            fill-opacity="0.01"
          />
          <rect
            x="0.75"
            y="0.75"
            width="83.5"
            height="83.5"
            rx="41.75"
            stroke="#3878F4"
            stroke-opacity="0.2"
            stroke-width="1.5"
          />
          <path
            d="M58.9492 53.8477C58.9492 50.2762 57.3497 46.9483 54.5609 44.7172L53.6921 44.0222L51.3136 35.7559C50.7573 33.8225 49.6138 32.1611 48.0065 30.9511C47.5528 30.6095 47.074 30.3151 46.5762 30.066V25H38.373V30.066C37.8753 30.3151 37.3965 30.6096 36.9427 30.9512C35.3355 32.1611 34.1919 33.8226 33.6356 35.7559L31.2571 44.0222L30.3883 44.7172C27.5995 46.9483 26 50.2762 26 53.8477V54.873H34.8711C35.4253 56.2355 36.3487 57.4479 37.5273 58.3404C38.9611 59.4261 40.6718 60 42.4746 60C44.2774 60 45.9881 59.4261 47.422 58.3404C48.6005 57.4479 49.524 56.2354 50.0782 54.873H58.9492V53.8477ZM40.4238 27.0508H44.5254V29.3318C43.8594 29.1804 43.1732 29.1016 42.4746 29.1016C41.776 29.1016 41.0899 29.1804 40.4238 29.3318V27.0508ZM35.6064 36.323C36.4824 33.2786 39.3068 31.1523 42.4746 31.1523C45.6425 31.1523 48.4668 33.2786 49.3428 36.323L51.4349 43.5938H33.5143L35.6064 36.323ZM42.4746 57.9492C40.2602 57.9492 38.2325 56.7352 37.1487 54.873H47.8005C46.7167 56.7352 44.689 57.9492 42.4746 57.9492ZM28.1045 52.8223C28.3732 50.2722 29.639 47.9429 31.6694 46.3186L32.512 45.6445H52.4372L53.2798 46.3186C55.3101 47.9429 56.576 50.2722 56.8446 52.8223H28.1045Z"
            fill="#3878F4"
          />
        </svg>
        <h3>Push-уведомления</h3>
        <p>
          Залогиньтесь с телефона, если хотите получать на нём уведомления.
          Работают в Chrome, Firefox и Chtomium-браузерах (Opera, Яндекс.
          Браузер) на компьютерах и Android-устройствах. Не работают на IOS.
        </p>
        <button class="btn btn-primary-reverse btn-notice">Включить</button>
      </div>
      <div class="notice email-notice">
        <svg
          class="notice-icon"
          width="85"
          height="85"
          viewBox="0 0 85 85"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            width="85"
            height="85"
            rx="42.5"
            fill="#3878F4"
            fill-opacity="0.01"
          />
          <rect
            x="0.75"
            y="0.75"
            width="83.5"
            height="83.5"
            rx="41.75"
            stroke="#3878F4"
            stroke-opacity="0.2"
            stroke-width="1.5"
          />
          <path
            d="M40.4995 25.1118C32.6056 25.9924 26.1944 32.2599 25.1562 40.1345C23.6853 51.2935 32.8082 60.7869 43.8586 59.9484C47.9235 59.6399 51.7284 57.8233 54.7097 55.043L54.9657 54.8042C55.2603 54.5296 55.2764 54.0682 55.0017 53.7737L54.0067 52.7068C53.7321 52.4122 53.2707 52.3962 52.9761 52.6708L52.4427 53.1683C49.1266 56.2603 44.5743 57.6514 39.9819 56.8693C33.4731 55.7608 28.4695 50.2349 27.9612 43.6519C27.2892 34.9468 34.311 27.6724 42.9323 27.9229C50.8817 28.154 57.0833 34.9377 57.0833 42.8904V43.9583C57.0833 45.6628 55.6145 47.0298 53.8758 46.8608C52.3606 46.7134 51.25 45.3515 51.25 43.829V37.3959C51.25 36.9931 50.9235 36.6667 50.5208 36.6667H49.0625C48.7697 36.6667 48.521 36.8417 48.405 37.0907C46.9377 35.4902 44.8373 34.4792 42.5 34.4792C38.0773 34.4792 34.4792 38.0773 34.4792 42.5C34.4792 46.9227 38.0773 50.5209 42.5 50.5209C45.286 50.5209 47.7425 49.0915 49.1809 46.9293C50.2638 48.7391 52.2759 49.9317 54.5662 49.7783C57.6631 49.5708 60 46.8562 60 43.7524V42.5C60 32.1915 51.0402 23.9359 40.4995 25.1118ZM42.5 47.6042C39.6859 47.6042 37.3958 45.3141 37.3958 42.5C37.3958 39.6858 39.6859 37.3958 42.5 37.3958C45.3142 37.3958 47.6042 39.6858 47.6042 42.5C47.6042 45.3141 45.3142 47.6042 42.5 47.6042Z"
            fill="#3878F4"
          />
        </svg>
        <h3>Оповещения<span class="hidden-m"> по электронной почте</span></h3>
        <p>
          Приходят на почту, привязанную к учетной записи. Настройте:
          автоматическую проверку почты на своём телефоне (Android, IOS и пр.),
          чтобы всегда быть на связи.
          <br class="hidden-m" />
          <br />
          <strong>Необходимо</strong> подтвердить адрес электронной почты
        </p>
        <button
          class="btn btn-primary-reverse btn-notice"
          @click="setEmailNotice"
        >
          {{ $store.state.user.isEmailNoticeOn ? 'Отключить' : 'Включить' }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { computed, defineComponent, inject, onMounted, ref, watch } from 'vue'
import { useStore } from 'vuex'
import ChangePassword from './ChangePassword.vue'
import UserData from '../user/UserData.vue'

export default defineComponent({
  components: {
    ChangePassword,
    UserData
  },
  setup() {
    const store = useStore()
    const addAlert = inject('addAlert')

    const formData = new FormData()
    formData.set('name', store.state.user.name)
    formData.set('deletePhoto', false)

    const isDescriptionEditable = ref(false)
    const descriptionEl = ref(null)
    const userDescription = computed({
      get() {
        return store.state.user.description
      },
      set(value) {
        store.state.user.description = value
      }
    })

    watch(
      () => userDescription.value,
      (newValue, oldValue) => {
        if (userDescription.value.length > 200) {
          userDescription.value = oldValue
          addAlert('error', 'Максимальная длинна описания 200 символов')
          descriptionEl.value.blur()
        }
      }
    )

    const resizeDescriptionField = () => {
      descriptionEl.value.style.minHeight = '0px'
      descriptionEl.value.style.minHeight = `${descriptionEl.value.scrollHeight}px`
    }
    const changeDescription = () => {
      resizeDescriptionField()
      isDescriptionEditable.value = !isDescriptionEditable.value
      if (isDescriptionEditable.value) {
        descriptionEl.value.focus()
      } else {
        formData.set('description', userDescription.value)
        console.log(formData)
        store.dispatch('user/saveChangedUserProfile', formData)
      }
    }

    const setEmailNotice = () => {
      if (!store.state.user.isEmailConfirmed) {
        store.dispatch('popupActions/openPopupComponent', 'confirmEmail')
        return
      }
    }

    onMounted(() => {
      resizeDescriptionField()
    })

    return {
      descriptionEl,
      userDescription,
      changeDescription,
      isDescriptionEditable,
      resizeDescriptionField,
      setEmailNotice
    }
  }
})
</script>

<style lang="scss" scoped>
h3 {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.hidden-m {
  @media (max-width: 1200px) {
    display: none;
  }
}

.settings-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  padding: 75px 65px;
  min-height: 600px;

  @media (max-width: 899px) {
    grid-template-columns: 1fr;
    padding: 25px;
  }

  .info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 440px;
    padding-right: 55px;
    border-right: 1px solid rgba(56, 120, 244, 0.15);

    @media (max-width: 899px) {
      min-height: auto;
      padding: 0 0 10px;
      border: none;
    }

    &__data {
      display: flex;
      align-items: center;
      margin-bottom: 35px;
      font-size: 15px;

      .user-photo {
        width: 120px;
        min-width: 120px;
        height: 120px;
        margin-right: 30px;
        border-radius: 50%;

        @media (max-width: 899px) {
          width: 100px;
          min-width: 100px;
          height: 100px;
        }
      }

      .user-data {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
      }
    }

    &__description {
      position: relative;

      @media (max-width: 899px) {
        padding-top: 15px;
        border-top: 1px solid rgba(56, 120, 244, 0.15);

        h3 {
          margin-bottom: 10px;
        }
      }
      &--text {
        max-height: 100px;
        margin: 0;
        padding: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #323232;
        white-space: pre-wrap;
        border: none;
        overflow: visible;

        @media (max-width: 899px) {
          height: auto;
          resize: none;
          font-size: 13px;
          line-height: 16px;
          caret-color: #3878f4;
        }
      }

      &--btn {
        display: none;

        @media (max-width: 899px) {
          position: absolute;
          display: block;
          right: 0;
          top: 12px;
          padding: 0 8px;
          max-width: 80px;
          min-width: auto;
          font-size: 11px;
          z-index: 99;
        }
      }
    }
  }

  .password-block {
    padding-top: 18px;
    margin-bottom: 30px;
    border-top: 1px solid rgba(56, 120, 244, 0.15);

    @media (min-width: 899px) {
      display: none;
    }
  }

  .settings-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 55px;

    @media (max-width: 899px) {
      padding: 25px 0 0;
      border-top: 1px solid rgba(56, 120, 244, 0.15);
    }

    .notice {
      display: grid;
      grid-auto-columns: 85px auto;
      grid-template-rows: 22px 100px 50px;
      grid-column-gap: 25px;
      grid-row-gap: 10px;

      @media (max-width: 899px) {
        grid-template-rows: 22px 100px;
        grid-column-gap: 12px;
        grid-row-gap: 25px;

        p {
          font-size: 11px !important;
        }
      }

      @media (max-width: 899px) {
        grid-auto-columns: 57px auto;
      }

      h3 {
        grid-column: 2/3;
        grid-row: 1/1;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;

        @media (max-width: 899px) {
          grid-column: 1/3;
        }
      }

      p {
        margin: 0;
        padding: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: rgba(50, 50, 50, 0.8);

        @media (max-width: 899px) {
        }
      }

      .notice-icon {
        grid-column: 1/2;
        grid-row: 1/4;

        @media (max-width: 899px) {
          width: 57px !important;
          height: 57px !important;
          grid-row: 2/4;
        }
      }

      .btn-notice {
        max-width: 145px;

        @media (max-width: 899px) {
          grid-column: 2/3;
          grid-row: 1/2;
          justify-self: end;
          padding: 0 8px;
          max-width: 80px;
          min-width: auto;
          font-size: 11px;
        }
      }
    }
  }

  .btn-settings {
    max-width: 300px;
    margin-top: 45px;

    @media (max-width: 899px) {
      display: none;
    }
  }

  .save-btn {
    display: flex;
    grid-column: 1/3;
    justify-content: center;
    margin-top: 50px;
    padding-top: 45px;
    border-top: 1px solid rgba(56, 120, 244, 0.15);

    button {
      padding: 14px 55px;
    }
  }
}

.settings-active {
  grid-template-columns: 1fr 1fr;
  padding-bottom: 45px;
}

.no-events {
  @media (max-width: 899px) {
    pointer-events: none;
  }
}
</style>