<template>
  <g style="transform: translate(0, 2px)">
    <path
      d="M15.8983 8.68906C15.7554 8.49353 12.3496 3.90137 7.99992 3.90137C3.65019 3.90137 0.244313 8.49353 0.101531 8.68888C-0.0338438 8.87438 -0.0338438 9.12597 0.101531 9.31147C0.244313 9.507 3.65019 14.0992 7.99992 14.0992C12.3496 14.0992 15.7554 9.50697 15.8983 9.31163C16.0339 9.12616 16.0339 8.87438 15.8983 8.68906ZM7.99992 13.0442C4.79588 13.0442 2.02085 9.99632 1.19938 8.99991C2.01979 8.00263 4.78901 4.95631 7.99992 4.95631C11.2038 4.95631 13.9787 8.00369 14.8005 9.00063C13.9801 9.99788 11.2108 13.0442 7.99992 13.0442Z"
      fill="black"
    />
    <path
      d="M7.99981 5.83545C6.25474 5.83545 4.83496 7.25523 4.83496 9.0003C4.83496 10.7454 6.25474 12.1651 7.99981 12.1651C9.74487 12.1651 11.1647 10.7454 11.1647 9.0003C11.1647 7.25523 9.74487 5.83545 7.99981 5.83545ZM7.99981 11.1102C6.83637 11.1102 5.88993 10.1637 5.88993 9.0003C5.88993 7.83689 6.8364 6.89042 7.99981 6.89042C9.16321 6.89042 10.1097 7.83689 10.1097 9.0003C10.1097 10.1637 9.16324 11.1102 7.99981 11.1102Z"
      fill="black"
    />
    <path
      d="M8.10468 2.6037C8.40789 2.6037 8.65371 2.34618 8.65371 2.02854V0.686492C8.65371 0.368848 8.40789 0.111328 8.10468 0.111328C7.80148 0.111328 7.55566 0.368848 7.55566 0.686492V2.02854C7.55566 2.34618 7.80148 2.6037 8.10468 2.6037Z"
      fill="black"
    />
    <path
      d="M13.0427 3.373C13.306 3.53029 13.6413 3.43439 13.7916 3.15832L14.5223 1.81627C14.6725 1.54034 14.5808 1.18911 14.3174 1.03171C14.0539 0.874342 13.7187 0.970394 13.5685 1.2464L12.8378 2.58844C12.6876 2.86433 12.7793 3.2156 13.0427 3.373Z"
      fill="black"
    />
    <path
      d="M2.64171 3.15831C2.79192 3.43423 3.12719 3.53032 3.39061 3.37296C3.65399 3.21559 3.74572 2.86432 3.5955 2.5884L2.86487 1.24635C2.71466 0.970425 2.37931 0.874335 2.11597 1.0317C1.85258 1.18906 1.76086 1.54034 1.91107 1.81626L2.64171 3.15831Z"
      fill="black"
    />
    <path
      d="M8.22051 15.3968C7.9173 15.3968 7.67149 15.6543 7.67149 15.9719L7.67149 17.314C7.67149 17.6316 7.9173 17.8892 8.22051 17.8892C8.52372 17.8892 8.76953 17.6316 8.76953 17.314L8.76953 15.9719C8.76953 15.6543 8.52372 15.3968 8.22051 15.3968Z"
      fill="black"
    />
    <path
      d="M3.28149 14.5831C3.01826 14.4258 2.68288 14.5217 2.53259 14.7977L1.80196 16.1398C1.65175 16.4157 1.74343 16.7669 2.00685 16.9243C2.27031 17.0817 2.6055 16.9857 2.75575 16.7097L3.48639 15.3676C3.6366 15.0917 3.54488 14.7405 3.28149 14.5831Z"
      fill="black"
    />
    <path
      d="M13.6825 14.7977C13.5323 14.5218 13.197 14.4257 12.9336 14.5831C12.6702 14.7405 12.5785 15.0917 12.7287 15.3677L13.4594 16.7097C13.6096 16.9856 13.9449 17.0817 14.2083 16.9244C14.4716 16.767 14.5634 16.4157 14.4131 16.1398L13.6825 14.7977Z"
      fill="black"
    />
  </g>
</template>
