<template>
  <div class="slider" v-if="slides.length">
    <h2 class="slider-title">Что о нас говорят</h2>
    <div class="slider-container no-select">
      <Swiper
        virtual
        :centeredSlides="true"
        :modules="swiperModules"
        :navigation="true"
        :breakpoints="sliderBreakpoints"
        :initialSlide="Math.floor(slides.length / 2)"
        @slideChange="sliderChange"
      >
        <SwiperSlide
          aria-hidden="true"
          v-for="(image, index) in slides"
          :key="index + 'swiper-img'"
          :virtualIndex="index"
          :class="{
            'start-slide': activeSlide == index + 3,
            'second-slide': activeSlide == index + 2,
            'prev-slide': activeSlide == index + 1,
            'active-slide': activeSlide == index,
            'next-slide': activeSlide == index - 1,
            'pre-end-slide': activeSlide == index - 2,
            'end-slide': activeSlide == index - 3
          }"
        >
          <img :src="slides[index].img" />
        </SwiperSlide>
      </Swiper>
    </div>
    <transition name="fade-home" mode="out-in">
      <div
        class="slider-description no-select"
        v-show="activeSlide + 1"
        :class="activeSlide"
        :key="'descr-key' + activeSlide"
      >
        <h3 class="slider-description__user">
          {{ slides[activeSlide].user }}
        </h3>
        <div class="slider-description__content">
          {{ slides[activeSlide].description }}
        </div>
      </div>
    </transition>
    <button class="btn btn-primary review-btn">Оставить отзыв</button>
  </div>
</template>


<script>
import { ref, computed, onBeforeMount } from 'vue'
import { Navigation, Virtual } from 'swiper'
import { Swiper, SwiperSlide } from 'swiper/vue/swiper-vue'
import 'swiper/swiper-bundle.min.css'
import { useStore } from 'vuex'

export default {
  components: {
    Swiper,
    SwiperSlide
  },
  setup() {
    const store = useStore()
    const activeSlide = ref(0)
    const sliderChange = v => {
      activeSlide.value = v.activeIndex
    }

    const slides = computed(() => store.state.info.reviews)

    const navigation = {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    }

    const swiperModules = [Navigation, Virtual]

    const sliderBreakpoints = computed(() => ({
      520: {
        slidesPerView: 1
      },
      899: {
        slidesPerView: 3
      },
      1023: {
        slidesPerView: 5
      },
      1360: {
        slidesPerView: 7
      }
    }))

    onBeforeMount(() => {
      store.dispatch('info/loadReviews')
    })

    return {
      slides,
      activeSlide,
      navigation,
      swiperModules,
      sliderChange,
      sliderBreakpoints
    }
  }
}
</script>

<style lang="scss" scoped>
.fade-home-enter-active,
.fade-home-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.fade-home-leave-from,
.fade-home-enter-to {
  opacity: 1;
}

.fade-home-enter-from,
.fade-home-leave-to {
  opacity: 0;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 100px;
  max-width: 1440px;

  @media (max-width: 1440px) {
    width: 90vw;
  }

  @media (max-width: 599px) {
  }

  &-title {
    margin-bottom: 65px;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
  }

  &-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 240px;
    width: 100%;
    margin-bottom: 30px;
  }

  &-description {
    display: flex;
    flex-direction: column;

    &__user {
      position: relative;
      display: flex;
      justify-content: center;
      margin-bottom: 32px;
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 47px;
      letter-spacing: 0.02em;

      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        width: 70px;
        height: 2px;
        background-color: var(--main-blue);
      }
    }

    &__content {
      display: -webkit-box;
      box-orient: vertical;
      -webkit-box-orient: vertical;
      max-width: 635px;
      height: 105px;
      margin-bottom: 30px;
      -webkit-line-clamp: 5;
      line-clamp: 2;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.02em;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
</style>


<style lang="scss" >
/* swiper styles */
.slider-container > .swiper {
  height: 240px;
  width: 100%;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;

    img {
      display: block;
      height: 100%;
      border-radius: 6px;
      user-select: none;
    }
  }

  &-button-disabled {
    visibility: hidden;
  }
}

.start-slide {
  transform: translateX(40px);
  opacity: 0.3 !important;
}

.second-slide {
  transform: translateX(-20px);
  opacity: 0.6 !important;
}

.prev-slide {
  transform: translateX(-60px) scale(1.4);
  opacity: 0.7 !important;
}

.active-slide {
  transform: scale(2.4);
  opacity: 1 !important;
}

.next-slide {
  transform: translateX(60px) scale(1.4);
  opacity: 0.7 !important;
}

.pre-end-slide {
  transform: translateX(20px);
  opacity: 0.6 !important;
}

.end-slide {
  transform: translateX(-40px);
  opacity: 0.3 !important;
}

@media (max-width: 1359px) {
  .start-slide {
    transform: translateX(0);
  }

  .second-slide {
    transform: translateX(20px);
  }

  .prev-slide {
    transform: translateX(-30px) scale(1.4);
  }

  .active-slide {
    transform: scale(2.4);
  }

  .next-slide {
    transform: translateX(30px) scale(1.4);
  }

  .pre-end-slide {
    transform: translateX(-20px);
  }

  .end-slide {
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .prev-slide {
    transform: translateX(30px) scale(1.4);
  }

  .active-slide {
    transform: scale(2.4);
  }

  .next-slide {
    transform: translateX(-30px) scale(1.4);
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--main-blue);

  &::after {
    font-size: 22px;
  }
}
</style>