@import 'normalize';

@font-face {
  src: local('Proxima Nova'),
    url('../public/fonts/proximanova-black.woff2') format('woff2'),
    url('../public/fonts/proximanova-black.woff') format('woff');
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  src: local('Proxima Nova'),
    url('../public/fonts/proximanova-800.woff2') format('woff2'),
    url('../public/fonts/proximanova-800.woff') format('woff');
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  src: local('Proxima Nova'),
    url('../public/fonts/proximanova-bold.woff2') format('woff2'),
    url('../public/fonts/proximanova-bold.woff') format('woff');
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: local('Proxima Nova'),
    url('../public/fonts/proximanova-semibold.woff2') format('woff2'),
    url('../public/fonts/proximanova-semibold.woff') format('woff');
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  src: local('Proxima Nova'),
    url('../public/fonts/proximanova-regular.woff2') format('woff2'),
    url('../public/fonts/proximanova-regular.woff') format('woff');
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url('../public/fonts/IstokWeb-Bold.woff');
  font-family: 'Istok';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url('../public/fonts/roboto-medium.woff2') format('woff2');
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  src: url('../public/fonts/montserrat-medium.woff2') format('woff2'),
    url('../public/fonts/montserrat-medium.woff') format('woff');
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

:root {
  --main-blue: #3878f4;
  --main-bg-gray: #fcfcfc;
}

* {
  font-family: 'Proxima', sans-serif;
  color: rgb(50, 50, 50);
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(56, 120, 244, 0.549) rgba(56, 120, 244, 0.149);
}

.reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
img {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.link {
  display: inline-block;
  color: var(--main-blue);
  font-family: Proxima;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    @media (min-width: 900px) {
      text-decoration: underline;
    }
  }
}

input::placeholder {
  font-family: Proxima;
  font-size: 15px;
  letter-spacing: 0.06em !important;
}

input[type='text'],
input[type='password'],
input[type='number'] {
  height: 46px;
  width: 100%;
  padding: 0 25px;
  border: 1.5px solid rgba(226, 234, 250, 1);
  outline: none;
  font-size: 15px;
  line-height: 18.27px;
  color: rgba(50, 50, 50, 1);

  &:focus {
    border: 1.5px solid rgba(49, 91, 173, 0.3);
  }

  &::placeholder {
    color: rgba(142, 142, 142, 1);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

input[type='password'] {
  letter-spacing: 0.16rem;
  font-size: 18px;
}

input[type='checkbox'] {
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  border: 1.5px solid rgba(105, 105, 105, 0.9);
  border-radius: 0;
  outline: none;
  font-size: 15px;
  line-height: 18.27px;
  color: rgba(50, 50, 50, 1);
  box-sizing: border-box;
  appearance: none;
  cursor: pointer;

  &:disabled {
    color: rgba(142, 142, 142, 0.808);
    border-color: rgba(142, 142, 142, 0.2);
    background-color: #fff;
    cursor: default;
  }

  &:checked {
    background: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%228%22%20viewBox%3D%220%200%2011%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1%202L5%206L10%201%22%20stroke%3D%22%233878F4%22%20stroke-width%3D%221.5%22%20%2F%3E%0A%3C%2Fsvg%3E')
      center center no-repeat;
  }
}

input[type='file'] {
  position: absolute;
  width: 0;
  height: 0;
}

textarea {
  width: 100%;
  height: 128px;
  padding: 14px 25px;
  background: #fff;
  outline: none;
  border: 1.5px solid #e2eafa;
  box-sizing: border-box;
  border-radius: 3px;
  resize: none;

  &:focus {
    border: 1.5px solid rgba(49, 91, 173, 0.3);
  }

  &::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.06em;
    color: #8e8e8e;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar {
    background-color: rgba(56, 120, 244, 0.149);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(56, 120, 244, 0.449);
    border-radius: 5px;
  }
}

.error {
  border: 1.5px solid #da2323 !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text--blue {
  color: var(--main-blue);
}

.pointer {
  cursor: pointer;
}

.border {
  border: 1.5px solid rgba(105, 105, 105, 0.9);
}

.border-light {
  border: 1.5px solid rgba(49, 91, 173, 0.3);
}

.border-round {
  border-radius: 3px;
}

.btn {
  min-width: 205px;
  margin: 0;
  padding: 12px 10px;
  box-sizing: border-box;
  border: 1.5px solid var(--main-blue);
  border-radius: 6px;
  outline: none;
  font-family: 'Proxima', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.49px;
  letter-spacing: 0.02em;
  text-align: center;
  transition: all 0.2s ease-out;
  cursor: pointer;

  &::after,
  &::before {
    font-family: 'Proxima', sans-serif;
  }

  &:disabled {
    color: rgba(142, 142, 142, 0.808);
    border-color: rgba(142, 142, 142, 0.2);
    background-color: #fff;
    cursor: default;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @media (max-width: 899px) {
      box-shadow: none;
    }

    &:disabled {
      box-shadow: none;
    }
  }

  &:active {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 6px;
    @media (max-width: 899px) {
      box-shadow: none;
    }
  }
}

.btn-gray {
  color: #323232;
  background-color: #fff;
  border: 1px solid rgba(49, 91, 173, 0.15);
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: var(--main-blue);
  outline: none;
}

.btn-primary-reverse {
  color: var(--main-blue);
  background-color: #fff;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.no-select {
  user-select: none;
}

.shake {
  animation: shake 0.4s ease-in-out;
}

@keyframes shake {
  20% {
    transform: translate3d(-2px, 0, 0);
  }

  40% {
    transform: translate3d(3px, 0, 0);
  }

  60% {
    transform: translate3d(-5px, 0, 0);
  }

  80% {
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes pulse {
  0% {
    left: -50%;
  }
  100% {
    left: 120%;
  }
}

// hide recaptcha badge
.grecaptcha-badge {
  display: none;
}
