<template>
  <div class="input-group">
    <input
      type="checkbox"
      :id="name"
      v-model="checkboxValue"
      @change="change"
    />
    <label
      :for="name"
      class="flex align-center"
      :style="{ color: labelColor }"
      v-html="label"
    />
  </div>
</template>

<script>
import { ref } from 'vue'
export default {
  name: 'AppCheckbox',
  props: {
    name: String,
    label: String,
    labelColor: { type: String, default: '#8e8e8e' },
    initValue: { type: Boolean, default: false }
  },
  emits: ['change'],
  setup(props, { emit }) {
    const checkboxValue = ref(props.initValue)
    const change = event => {
      emit('change', [props.name, event.target.checked])
    }

    return { checkboxValue, change }
  }
}
</script>

<style lang="scss" scoped>
.input-group {
  display: flex;
  align-items: center;
}
input {
  display: block;
  margin-right: 10px;
}

label {
  display: block;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  user-select: none;
}

p {
  flex-wrap: wrap;
}
</style>
