<template>
  <div class="input-group">
    <slot name="beforeSlot"></slot>
    <input-eyes
      :showPassword="passwordVisibility"
      @inputTypeChange="passwordVisibility = !passwordVisibility"
      v-if="passwordEyes && forDificultyValidator"
    />
    <input
      v-model="inputValue"
      :class="{ error: !!errorMessage, 'border-round': rounded }"
      :name="name"
      :type="inputType"
      :placeholder="placeholder"
      spellcheck="false"
      autocomplete="off"
      @change="emitValue"
      @blur="handleBlur"
      @input="emitValue"
    />
    <p
      class="help-message"
      v-show="errorMessage || meta.valid"
      :class="{ shake: !!errorMessage }"
    >
      {{ errorMessage || successMessage }}
    </p>
    <pass-dificulty-indicator
      v-if="dificulty"
      :validationValue="forDificultyValidator"
    />
    <slot name="afterSlot"></slot>
  </div>
</template>

<script>
import { ref, computed, defineAsyncComponent } from 'vue'
import { useField } from 'vee-validate'

const InputEyes = defineAsyncComponent(() =>
  import('../iconsComponents/InputTypeChange.vue')
)

const passDificultyIndicator = defineAsyncComponent(() =>
  import('../passDificultyIndicator.vue')
)

export default {
  components: {
    InputEyes,
    passDificultyIndicator
  },
  props: {
    type: {
      type: String,
      default: 'text'
    },
    modelValue: {
      type: [String, Number],
      required: false
    },
    modelModifiers: {
      default: () => ({})
    },
    name: {
      type: String,
      required: true
    },
    successMessage: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    passwordEyes: {
      type: Boolean,
      default: false
    },
    dificulty: {
      type: Boolean,
      default: false
    },
    checked: {
      type: Boolean,
      default: false
    },
    rounded: {
      type: Boolean,
      default: false
    }
  },
  emits: {
    'update:modelValue': null
  },
  setup(props, { emit }) {
    const {
      value: inputValue,
      errorMessage,
      handleBlur,
      meta
    } = useField(props.name, undefined, {
      initialValue: props.modelValue
    })

    const forDificultyValidator = ref('')
    const passwordVisibility = ref(false)

    const inputType = computed(() => {
      if (props.type === 'password' && passwordVisibility.value) return 'text'
      if (props.type === 'password' && !passwordVisibility.value)
        return 'password'
      if (props.modelModifiers.number) return 'number'
      return 'text'
    })

    const emitValue = e => {
      forDificultyValidator.value = e.target.value
      emit(
        'update:modelValue',
        inputType.value === 'number' ? Number(e.target.value) : e.target.value
      )
    }

    return {
      forDificultyValidator,
      passwordVisibility,
      handleBlur,
      errorMessage,
      inputValue,
      meta,
      inputType,
      emitValue
    }
  }
}
</script>

<style lang="scss">
.input-group {
  position: relative;

  @media (max-width: 899px) {
    margin-bottom: 13px;
  }
}

.help-message {
  position: absolute;
  bottom: -18px;
  left: 5px;
  margin: 0 !important;
  color: #da2323 !important;
  font: normal 'Proxima' 400;
  font-size: 12px !important;

  @media (max-width: 899px) {
    display: none;
  }
}
</style>
