<template>
  <div class="input-search">
    <div class="input-wrapper">
      <input
        type="text"
        spellcheck="false"
        autocomplete="off"
        :placeholder="inputPlaceholder"
        class="search-input"
        :class="{
          error: !!errorMessage && !searching && !focused,
          focused: focused && searchResult.length
        }"
        v-model="inputValue"
        @input="$emit('update:modelValue', inputValue)"
        @focus="focused = true"
        @touchstart="focused = true"
        @blur="onBlur"
        @keydown.enter="changeSearchValue"
      />
      <p
        class="help-message"
        :class="{ shake: !!errorMessage && !searching && !focused }"
      >
        {{ errorMessage }}
      </p>
      <SearchLoader
        :visibility="isSearchActive"
        :class="{ 'loader-with-btn-fix': searchBtn }"
      />
      <icon-base
        v-if="searchBtn"
        iconName="search"
        iconTitle="search"
        class="search-icon"
        @click="changeSearchValue"
        @touchend="changeSearchValue"
      />
    </div>
    <div
      class="search-dropdown"
      v-if="searchResult.length !== 0"
      :class="{ 'search-dropdown--open': focused }"
    >
      <div
        class="dropdown-item"
        v-for="item in searchResult"
        :key="item.id"
        @mousedown="chose(item)"
        @touchend="chose(item)"
      >
        <div class="item-title">{{ item.title }}</div>
        <div class="item-data">
          {{ item.meta }}
        </div>
      </div>
    </div>
    <div
      class="search-dropdown"
      v-else-if="searchResult.length == 0 && !!modelValue"
      :class="{ 'search-dropdown--open': focused }"
    >
      <div class="dropdown-item" @mousedown="chose('')">Ничего не найдено</div>
    </div>
  </div>
</template>
<script>
import {
  computed,
  defineComponent,
  defineAsyncComponent,
  ref,
  watch,
  onBeforeUnmount
} from 'vue'
import { useField } from 'vee-validate'

const iconBase = defineAsyncComponent(() =>
  import('../iconsComponents/iconBase.vue')
)

const SearchLoader = defineAsyncComponent(() => import('./SearchLoader.vue'))

export default defineComponent({
  props: {
    name: { type: String, default: () => 'search' },
    modelValue: { type: String },
    searchResult: { type: Array, default: () => [] },
    inputPlaceholder: { type: String },
    searchBtn: { type: Boolean, default: false },
    searching: { type: Boolean, default: false }
  },
  emits: {
    'update:modelValue': null,
    search: null,
    change: null
  },
  components: {
    iconBase,
    SearchLoader
  },
  setup(props, { emit }) {
    let timer = null

    const chose = item => {
      clearTimeout(timer)
      focused.value = false
      setErrors('')
      timer = setTimeout(() => {
        inputValue.value = item.title ?? item
        emit('update:modelValue', inputValue.value)
        emit('change', inputValue.value)
      }, 40)
    }

    const changeSearchValue = e => {
      e.target.blur()
      emit('change', inputValue.value)
    }

    const focused = ref(false)
    const onBlur = () => {
      focused.value = false
    }

    const isSearchActive = computed(() => {
      return !!props.modelValue && props.searching
    })

    const {
      errorMessage,
      value: inputValue,
      setErrors
    } = useField('search', undefined, {
      initialValue: props.modelValue
    })

    watch(
      () => props.modelValue,
      () => {
        clearTimeout(timer)
        timer = setTimeout(() => {
          emit('search')
        }, 400)
      }
    )

    onBeforeUnmount(() => {
      clearTimeout(timer)
    })

    return {
      onBlur,
      chose,
      focused,
      inputValue,
      errorMessage,
      isSearchActive,
      changeSearchValue
    }
  }
})
</script>

<style lang="scss" scoped>
.input-search {
  width: 100%;
  position: relative;

  .input-wrapper {
    position: relative;

    .search-icon {
      position: absolute;
      right: 15px;
      top: 13px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        @media (min-width: 900px) {
          transform: scale(1.2);
        }
      }

      &:active {
        transform: scale(1.1);
      }
    }

    .search-loader-icon {
      position: absolute;
      top: 12px;
      right: 23px;
      width: 22px;
      height: 22px;
      z-index: 2;
    }

    .search-input {
      border-radius: 3px;
    }

    .focused {
      border: 1.5px solid rgba(49, 91, 173, 0.3);
      border-radius: 3px 3px 0 0;
    }
  }
}

.search-dropdown {
  position: absolute;
  width: 100%;
  border-left: 1.5px solid rgba(49, 91, 173, 0.35);
  border-right: 1.5px solid rgba(49, 91, 173, 0.35);
  border-bottom: 1.5px solid rgba(49, 91, 173, 0.35);
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 999;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.2s ease;
  opacity: 0;

  &--open {
    transform: scaleY(1);
    opacity: 1;
  }
}

.dropdown-item {
  height: 38px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(56, 120, 244, 0.06);
  }
}

.item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-data {
  margin-left: 5px;
  color: #afafaf;
  white-space: nowrap;
}

.loader-with-btn-fix {
  right: 70px !important;
}
</style>
