<template>
  <div class="input-select">
    <input type="hidden" v-model="inputValue" :name="name" />
    <p class="help-message" :class="{ shake: !!errorMessage }">
      {{ errorMessage }}
    </p>
    <div
      class="select-emulation"
      :class="{
        'select-emulation--focus': focused,
        error: !!errorMessage && !focused
      }"
      @click="focused = !focused"
    >
      <span :class="{ 'small-font': smallFont && modelValue }">
        {{ selected || defaultPlaceholder }}
      </span>
      <svg
        class="i-select"
        :class="{ 'i-select--rotate': focused }"
        width="10"
        height="7"
        viewBox="0 0 10 7"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M9 1L5 5L1 1" stroke="#323232" stroke-width="1.5" />
      </svg>
    </div>
    <div
      class="select-dropdown"
      :class="{ 'select-dropdown--open': focused }"
      @mousedown="chose"
    >
      <div
        class="dropdown-item"
        :class="{
          'dropdown-item--selected': item === selected,
          'small-font': smallFont
        }"
        v-for="(item, idx) in options"
        :data-index="idx"
        :key="'select_item' + idx"
      >
        {{ item }}
      </div>
    </div>
  </div>
</template>
<script>
import {
  computed,
  defineComponent,
  onBeforeUnmount,
  onMounted,
  ref,
  watch
} from 'vue'
import { useField } from 'vee-validate'

export default defineComponent({
  props: {
    name: { type: String, default: () => 'select' },
    modelValue: { type: String, required: true },
    optionsList: { type: Array, required: true },
    defaultPlaceholder: { type: String, default: () => '' },
    smallFont: {
      type: Boolean,
      default: () => false
    }
  },
  emits: {
    'update:modelValue': null,
    change: null
  },
  setup(props, { emit }) {
    const focused = ref(false)
    const selected = ref('')
    const {
      value: inputValue,
      errorMessage,
      handleBlur,
      meta
    } = useField(props.name, undefined, {
      initialValue: props.modelValue
    })

    const options = computed(() => {
      return props.optionsList.map(el => {
        if (typeof el === 'string') return el
        return el.title
      })
    })

    let timer
    const chose = event => {
      clearTimeout(timer)
      const index = event.target.getAttribute('data-index')
      focused.value = false

      timer = setTimeout(() => {
        inputValue.value =
          props.optionsList[index]?.value ?? props.optionsList[index]
        selected.value =
          props.optionsList[index]?.title || props.optionsList[index]

        emit('update:modelValue', inputValue.value)
        emit('change', inputValue.value)
      }, 30)
    }

    watch(
      () => focused.value,
      focused => {
        if (!focused) {
          handleBlur()
        }
      }
    )

    onMounted(() => {
      if (props.modelValue !== '') {
        const selectData = props.optionsList.find(el => {
          if (el?.value === props.modelValue || el === props.modelValue) {
            return el
          }
        })
        selected.value = selectData?.title
        inputValue.value = selectData?.value
      }
    })

    onBeforeUnmount(() => {
      clearTimeout(timer)
    })

    return {
      options,
      chose,
      focused,
      selected,
      handleBlur,
      errorMessage,
      meta,
      inputValue
    }
  }
})
</script>

<style lang="scss" scoped>
.input-select {
  width: 100%;
  position: relative;

  .select-emulation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    border: 1.5px solid rgba(226, 234, 250, 1);
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 9999;

    &--focus {
      border: 1.5px solid rgba(49, 91, 173, 0.3);
      border-radius: 3px 3px 0 0;
    }

    & > span {
      max-width: 95%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media (max-width: 899px) {
      line-height: 15px;
    }

    .i-select {
      float: right;
      transition: all 0.3s ease;

      &--rotate {
        transform: rotateX(180deg);
      }
    }
  }
}

.select-dropdown {
  position: absolute;
  width: 100%;
  border-left: 1.5px solid rgba(49, 91, 173, 0.35);
  border-right: 1.5px solid rgba(49, 91, 173, 0.35);
  border-bottom: 1.5px solid rgba(49, 91, 173, 0.35);
  border-radius: 0 0 3px 3px;
  background-color: #fff;
  z-index: 999;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.2s ease;
  opacity: 0;

  &--open {
    transform: scaleY(1);
    opacity: 1;
  }
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  padding: 0 25px;
  font-size: 15px;
  line-height: 0;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: rgba(56, 120, 244, 0.06);
  }

  &--selected {
    background-color: rgba(56, 120, 244, 0.06);
  }
}

.small-font {
  @media (max-width: 600px) {
    font-size: 2.5vw !important;
  }
}
</style>
