<template>
  <div class="input-group">
    <input
      type="checkbox"
      :id="name"
      v-model="checkboxValue"
      @change="change"
      :class="[!!errorMessage && 'error']"
    />
    <label
      :for="name"
      class="flex align-center"
      :style="{ color: labelColor }"
      v-html="label"
    />
    <p class="help-message" :class="{ shake: !!errorMessage }">
      {{ errorMessage }}
    </p>
  </div>
</template>

<script>
import { useField } from 'vee-validate'

export default {
  props: {
    name: String,
    label: String,
    labelColor: { type: String, default: '#8e8e8e' },
    modelValue: { type: Boolean, default: false }
  },
  emits: ['update:modelValue', 'change'],
  setup(props, { emit }) {
    const { errorMessage, value: checkboxValue } = useField(
      props.name,
      undefined,
      {
        type: 'checkbox',
        initialValue: props.modelValue
      }
    )

    const change = event => {
      emit('update:modelValue', checkboxValue)
      emit('change', [props.name, checkboxValue.value])
    }

    return { checkboxValue, errorMessage, change }
  }
}
</script>

<style lang="scss" scoped>
.input-group {
  display: flex;
  align-items: center;
}
input {
  display: block;
  margin-right: 10px;
}

label {
  display: block;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;

  @media (max-width: 899px) {
    font-size: 10px;
  }
}

p {
  flex-wrap: wrap;
}
</style>
