<template>
  <ul class="buy-list" :class="{ 'search-active': searchStatus }">
    <li
      class="buy-list-item promotion"
      v-for="i in orders"
      :key="i"
      @click="
        $router.push({
          name: 'order',
          params: { orderId: i.id }
        })
      "
    >
      <div class="buy-list-item__game">
        {{ i.game_.title }}
        <div
          class="buy-list-item__type"
          :class="categoriesTextColors[i.category]"
        >
          {{ categories[i.category] }}
        </div>
      </div>
      <div class="buy-list-item__description" :class="{ gray: !i.description }">
        {{ i.description || 'Нет описания' }}
      </div>
      <div class="buy-list-item__owner">
        <img
          class="buy-list-item__owner--photo"
          :src="`/images/user/${i.owner}.webp`"
          alt="user"
        />
        <div class="buy-list-item__owner--login">{{ i.order_owner.login }}</div>
      </div>
      <div class="buy-list-item__price">{{ i.price }}&nbsp;&#8381;</div>
    </li>
    <li class="empty-search" v-if="orders.length === 0 && !searchStatus">
      Ничего не найдено
      <div class="clear-filters" @click="emit('resetFilters')">
        Очистить фильтры ?
      </div>
    </li>
    <li class="empty-search" v-if="orders.length === 0 && searchStatus">
      Объявления загружаются, подождите
    </li>
  </ul>
</template>

<script setup>
import { categories, categoriesTextColors } from '../../utils/listHelpers'

const props = defineProps({
  orders: { type: Array },
  searchStatus: { type: Boolean }
})

const emit = defineEmits(['resetFilters'])
</script>

<style lang="scss" scoped>
.buy-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  width: 100%;

  &-item {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 160px 1fr 120px 60px;
    grid-gap: 30px;
    align-items: center;
    width: 100%;
    padding: 23px 35px 23px 55px;
    background: #ffffff;
    border: 1.5px solid #dee5f8;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(12, 50, 123, 0.02);
    border-radius: 6px;
    cursor: pointer;

    @media (max-width: 1200px) {
      grid-template-columns: 140px 1fr 100px 60px;
      grid-column-gap: 10px;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: auto 2fr 1fr;
      grid-template-rows: 1fr 1.6fr;
      grid-gap: 0px;
      grid-row-gap: 10px;
      padding: 20px 25px 12px 20px;

      &__game {
        grid-column: 2/3;
        grid-row: 1/2;
      }

      &__description {
        grid-column: 1/4;
        grid-row: 2/3;
        height: 100%;
      }

      &__price {
        text-align: end;
      }
    }

    &.promotion::before {
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      bottom: -1px;
      width: 25px;
      background-color: #dbe6fb;
      border-radius: 6px 0px 0px 6px;

      @media (max-width: 600px) {
        height: 10px;
        width: calc(100% + 2px);
        border-radius: 6px 6px 0px 0px;
      }
    }

    &.promotion::after {
      content: '';
      display: none;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 78px;
      background-color: #dbe6fb;

      @media (max-width: 600px) {
        display: block;
      }
    }

    &__game {
      position: relative;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @media (max-width: 1024px) {
        font-size: 16px;
      }
    }

    &__type {
      margin-top: 5px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }

    &__description {
      display: -webkit-box;
      box-orient: vertical;
      -webkit-box-orient: vertical;
      max-height: 36px;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      text-overflow: ellipsis;
      overflow: hidden;

      @media (max-width: 1024px) {
        margin-top: 13px;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        max-height: 55px;
        font-size: 14px;
      }
    }

    &__owner {
      display: flex;
      align-items: center;
      text-overflow: ellipsis;
      overflow: hidden;

      &--photo {
        width: 38px;
        height: 38px;
        margin-right: 10px;
        border-radius: 50%;
        object-fit: cover;
      }

      &--login {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: rgba(50, 50, 50, 0.8);

        @media (max-width: 600px) {
          display: none;
        }
      }
    }

    &__price {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: right;
    }
  }
}

.empty-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  .clear-filters {
    margin-top: 10px;
    color: var(--main-blue);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }
}

.blue {
  color: var(--main-blue);
}
.green {
  color: #05dd78;
}
.red {
  color: red;
}
.gray {
  color: gray;
}

.search-active {
  transform: scaleX(0.99);
  opacity: 0.5;
  pointer-events: none;
}
</style>
