<template>
  <h2 class="sm-filters-title">
    Фильтр
    <span class="filters-close-btn" @click="$emit('close')">
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="0.305664"
          y="12.5425"
          width="17.7069"
          height="1.47558"
          transform="rotate(-45 0.305664 12.5425)"
          fill="#323232"
        />
        <rect
          x="1.04346"
          width="17.7069"
          height="1.47558"
          transform="rotate(45 1.04346 0)"
          fill="#323232"
        />
      </svg>
    </span>
  </h2>
  <slot></slot>
  <button
    class="btn btn-primary-reverse sell-btn-block__btn"
    @click="$emit('reset')"
  >
    Очистить фильтры
  </button>
</template>

<script setup>
defineEmits(['reset', 'close'])
</script>

<style lang="scss" scoped>
.sm-filters-title {
  position: relative;
  display: none;
  z-index: 99999999;

  @media (max-width: 1024px) {
    display: block;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
  }

  .filters-close-btn {
    position: absolute;
    top: 0;
    right: 20px;
  }
}
</style>
