<template>
  <ul class="pagination-container">
    <li
      class="pagination-arrow pagination-arrow__prev"
      :class="{ disabled: currentPage <= 1 }"
      @click="changePage(currentPage - 1)"
    >
      <svg
        width="22"
        height="13"
        viewBox="0 0 22 13"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7.5 12L1.5 6.5M1.5 6.5L7.5 1M1.5 6.5L22 6.5"
          stroke="#3878F4"
          stroke-width="1.5"
        />
      </svg>
    </li>
    <li
      class="pagination-item"
      :class="{ 'active-page': page == currentPage }"
      @click="changePage(page)"
      v-for="page in currentPagesList"
      :key="'page' + page"
    >
      {{ page }}
    </li>

    <li
      class="pagination-arrow pagination-arrow__next"
      :class="{ disabled: currentPage >= pagesCount }"
      @click="changePage(currentPage + 1)"
    >
      <svg
        width="22"
        height="13"
        viewBox="0 0 22 13"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14.5 1L20.5 6.5M20.5 6.5L14.5 12M20.5 6.5L0 6.5"
          stroke="#3878F4"
          stroke-width="1.5"
        />
      </svg>
    </li>
  </ul>
</template>

<script setup>
import { computed } from 'vue'
import { useRoute } from 'vue-router'
const route = useRoute()

const props = defineProps({ pagesCount: { type: Number, default: 0 } })
const emit = defineEmits({ changePage: page => typeof page === 'number' })

const VISIBLE_PAGES_COUNT = 4

const currentPage = computed(() => +route.query?.page || 1)

const allPages = Array.from({ length: props.pagesCount }).map((_, i) => i + 1)

const pagesList = []
for (let i = 0; i < props.pagesCount; i += VISIBLE_PAGES_COUNT) {
  let subArray = allPages.slice(i, i + VISIBLE_PAGES_COUNT)
  if (
    subArray.length < VISIBLE_PAGES_COUNT &&
    allPages.length > VISIBLE_PAGES_COUNT
  ) {
    subArray = allPages.slice(allPages.length - VISIBLE_PAGES_COUNT)
  }
  pagesList.push(subArray)
}

const currentPagesList = computed(() => {
  let currentPages = [...pagesList.find(el => el.includes(currentPage.value))]

  // check pages count greater then visible pages count
  if (allPages.length <= VISIBLE_PAGES_COUNT + 1) {
    return allPages
  }

  // check end of pages
  if (currentPages.includes(props.pagesCount) && currentPages.at(0) != 1) {
    currentPages.unshift(1, '...')
  }

  // check more pages
  if (
    !currentPages.includes(props.pagesCount) &&
    currentPages.at(-1) != props.pagesCount
  ) {
    currentPages.push('...', props.pagesCount)
  }

  return currentPages
})

const changePage = async pageNumber => {
  if (typeof pageNumber === 'string') return
  emit('changePage', pageNumber)
}
</script>

<style lang="scss" scoped>
.pagination-container {
  display: flex;
  max-width: 200px;
  margin-top: 82px;
  line-height: 12px;

  @media (max-width: 899px) {
    margin-top: 70px;
  }
}

.pagination-item {
  padding: 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  cursor: pointer;
  user-select: none;
  box-sizing: content-box;
}

.pagination-arrow {
  line-height: 21px;
  cursor: pointer;

  &__prev {
    margin-right: 45px;
  }

  &__next {
    margin-left: 45px;
  }

  &.disabled {
    visibility: hidden;
  }
}

.active-page {
  color: var(--main-blue);
}
</style>
