<template>
  <article class="rules-table">
    <div class="rules-table__section">
      <h2 class="rules-table__section--title">Правила для продавцов</h2>
      <div class="table-label">
        <h3 class="table-label--violation">Нарушение</h3>
        <h3 class="table-label--sanctions">Санкции</h3>
      </div>
      <div
        class="rules-table__section--description"
        v-for="idx in 9"
        :key="idx"
      >
        <div class="violation">
          <div class="scelet-row" v-for="i in 2" :key="'01' + i"></div>
        </div>
        <div class="sanctions">
          <div class="scelet-row" v-for="i in 2" :key="'02' + i"></div>
        </div>
      </div>
    </div>
    <div class="rules-table__confirmation"></div>
  </article>
</template>

<style lang="scss" scoped>
.scelet-row {
  position: relative;
  align-self: start;
  height: 16px;
  background-color: rgba(238, 238, 238, 0.5);
  border-radius: 4px;
  overflow: hidden;

  &:nth-of-type(1) {
    width: 100%;
    margin-bottom: 6px;
  }
  &:nth-of-type(2) {
    width: 90%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    background-color: rgba(255, 255, 255, 0.466);
    animation: pulse 2s ease-in-out infinite;
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.466);
  }
}

.rules-table {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 10px 65px 0px #0c327b0f;
  z-index: 999;

  @media (max-width: 899px) {
    border-radius: 0;
    padding: 0 15px;
  }

  @media (min-width: 899px) {
    margin-bottom: 215px;
  }

  &__section {
    &--title {
      margin-bottom: 30px;
      padding-left: 45px;
      padding-top: 35px;

      @media (max-width: 899px) {
        margin-bottom: 15px;
        padding-top: 25px;
        padding-left: 15px;
      }
    }

    &--description {
      display: flex;
      padding: 0 45px;
      min-height: 100px;
      border-top: 1px solid #dbe6fa;

      &:last-child {
        border-bottom: 1px solid #dbe6fa;
      }

      & .violation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 8px;
        padding-right: 10%;
        padding-bottom: 8px;
        width: 60%;

        @media (max-width: 899px) {
          width: 52%;
          padding: 8px 12px 8px 15px;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: 12px;
          letter-spacing: 0.02em;
          text-align: left;
        }
      }

      & .sanctions {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        padding-left: 45px;

        &::before {
          content: '';
          position: absolute;
          width: 1px;
          top: 20%;
          bottom: 20%;
          left: 0;
          background-color: #2f6ce221;
        }

        @media (max-width: 899px) {
          width: 45%;
          padding: 0 10px 0 18px;
        }
      }

      @media (max-width: 899px) {
        padding: 0;
      }
    }

    & .table-label {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      padding: 0 45px;

      & h3 {
        width: 60%;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0.02em;
        text-align: left;

        &:last-child {
          width: 40%;
          padding-left: 45px;
        }
      }

      @media (max-width: 899px) {
        display: none;
      }
    }
  }
}
</style>