<template>
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-top flex align-center">
        <div class="footer-nav__wraper flex align-center">
          <span class="footer-logo" aria-label="на главную" role="navigation"
            >Vabao</span
          >
          <nav class="footer-nav">
            <ul class="footer-menu flex">
              <li
                class="footer-menu__item"
                :aria-label="item.text"
                v-for="item in footerMenu"
                :key="item.text"
                @click="item.handler"
              >
                {{ item.text }}
              </li>
            </ul>
          </nav>
        </div>
        <div class="contacts">
          <ul class="footer-contacts flex">
            <li
              v-for="(item, index) in footerContacts"
              :key="index"
              class="footer-contacts__item"
              custom
            >
              <p class="footer-contacts__title">
                {{ item.title }}
              </p>
              <span v-if="!item.data" class="contacts-img flex align-center">
                <svg
                  width="47"
                  height="14"
                  viewBox="0 0 47 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g opacity="0.5">
                    <path
                      d="M17.2334 13.6335L19.6207 0.439941H23.3509L21.0382 13.6335H17.2334Z"
                      fill="#3C58BF"
                    />
                    <path
                      d="M17.2334 13.6335L20.2921 0.439941H23.3509L21.0382 13.6335H17.2334Z"
                      fill="#293688"
                    />
                    <path
                      d="M34.5412 0.586379C33.7952 0.293189 32.6016 0 31.1095 0C27.3793 0 24.6936 1.83244 24.6936 4.47115C24.6936 6.45018 26.5587 7.47634 28.0508 8.13602C29.5428 8.7957 29.9904 9.23548 29.9904 9.82186C29.9904 10.7014 28.7968 11.1412 27.7523 11.1412C26.2603 11.1412 25.4397 10.9213 24.1714 10.4082L23.6492 10.1883L23.127 13.1935C24.0222 13.56 25.6635 13.9265 27.3793 13.9265C31.3333 13.9265 33.9444 12.0941 33.9444 9.30878C33.9444 7.76953 32.9746 6.59677 30.7365 5.64391C29.3936 4.98423 28.573 4.61774 28.573 3.95806C28.573 3.37168 29.2444 2.7853 30.7365 2.7853C32.0047 2.7853 32.9 3.0052 33.5714 3.29839L33.9444 3.44498L34.5412 0.586379Z"
                      fill="#3C58BF"
                    />
                    <path
                      d="M34.5412 0.586379C33.7952 0.293189 32.6016 0 31.1095 0C27.3793 0 25.365 1.83244 25.365 4.47115C25.365 6.45018 26.5587 7.47634 28.0508 8.13602C29.5428 8.7957 29.9904 9.23548 29.9904 9.82186C29.9904 10.7014 28.7968 11.1412 27.7523 11.1412C26.2603 11.1412 25.4397 10.9213 24.1714 10.4082L23.6492 10.1883L23.127 13.1935C24.0222 13.56 25.6635 13.9265 27.3793 13.9265C31.3333 13.9265 33.9444 12.0941 33.9444 9.30878C33.9444 7.76953 32.9746 6.59677 30.7365 5.64391C29.3936 4.98423 28.573 4.61774 28.573 3.95806C28.573 3.37168 29.2444 2.7853 30.7365 2.7853C32.0047 2.7853 32.9 3.0052 33.5714 3.29839L33.9444 3.44498L34.5412 0.586379Z"
                      fill="#293688"
                    />
                    <path
                      d="M40.9568 0.439941C40.0616 0.439941 39.3901 0.51324 39.0171 1.39281L33.4219 13.6335H37.4504L38.1965 11.4346H42.9711L43.4187 13.6335H46.9997L43.8663 0.439941H40.9568ZM39.2409 9.23564C39.4647 8.57596 40.733 5.35087 40.733 5.35087C40.733 5.35087 41.0314 4.5446 41.2552 4.03152L41.479 5.27758C41.479 5.27758 42.225 8.57596 42.3743 9.30894H39.2409V9.23564Z"
                      fill="#3C58BF"
                    />
                    <path
                      d="M41.852 0.439941C40.9568 0.439941 40.2854 0.51324 39.9124 1.39281L33.4219 13.6335H37.4504L38.1965 11.4346H42.9711L43.4187 13.6335H46.9997L43.8663 0.439941H41.852ZM39.2409 9.23564C39.5393 8.50266 40.733 5.35087 40.733 5.35087C40.733 5.35087 41.0314 4.5446 41.2552 4.03152L41.479 5.27758C41.479 5.27758 42.225 8.57596 42.3743 9.30894H39.2409V9.23564Z"
                      fill="#293688"
                    />
                    <path
                      d="M10.3697 9.67537L9.99664 7.76963C9.32521 5.57071 7.16172 3.15189 4.77441 1.97913L8.13156 13.7067H12.1601L18.203 0.513184H14.1744L10.3697 9.67537Z"
                      fill="#3C58BF"
                    />
                    <path
                      d="M10.3697 9.67537L9.99664 7.76963C9.32521 5.57071 7.16172 3.15189 4.77441 1.97913L8.13156 13.7067H12.1601L18.203 0.513184H14.9204L10.3697 9.67537Z"
                      fill="#293688"
                    />
                    <path
                      d="M0 0.439941L0.671429 0.586537C5.44603 1.686 8.72857 4.4713 9.99682 7.76969L8.65397 1.5394C8.43016 0.659834 7.75873 0.439941 6.9381 0.439941H0Z"
                      fill="#FFBC00"
                    />
                    <path
                      d="M0 0.439941C4.7746 1.5394 8.72857 4.39801 9.99682 7.69639L8.72857 2.49227C8.50476 1.6127 7.75873 1.09962 6.9381 1.09962L0 0.439941Z"
                      fill="#F7981D"
                    />
                    <path
                      d="M0 0.439941C4.7746 1.5394 8.72857 4.39801 9.99682 7.69639L9.10159 4.83779C8.87778 3.95822 8.57936 3.07865 7.53492 2.71216L0 0.439941Z"
                      fill="#ED7C00"
                    />
                    <path
                      d="M14.1004 9.23551L11.5639 6.7434L10.3702 9.5287L10.0718 7.69626C9.4004 5.49734 7.23691 3.07852 4.84961 1.90576L8.20675 13.6334H12.2353L14.1004 9.23551Z"
                      fill="#051244"
                    />
                    <path
                      d="M21.0382 13.6343L17.8302 10.4092L17.2334 13.6343H21.0382Z"
                      fill="#051244"
                    />
                    <path
                      d="M29.6174 9.08887C29.9158 9.38206 30.065 9.60195 29.9904 9.89514C29.9904 10.7747 28.7968 11.2145 27.7524 11.2145C26.2603 11.2145 25.4397 10.9946 24.1714 10.4815L23.6492 10.2616L23.127 13.2668C24.0222 13.6333 25.6635 13.9998 27.3793 13.9998C29.7666 13.9998 31.7063 13.3401 32.8254 12.1674L29.6174 9.08887Z"
                      fill="#051244"
                    />
                    <path
                      d="M33.9453 13.6337H37.4517L38.1977 11.4348H42.9723L43.4199 13.6337H47.0009L45.7326 8.28299L41.2564 4.03174L41.4802 5.2045C41.4802 5.2045 42.2263 8.50288 42.3755 9.23586H39.2421C39.5405 8.50288 40.7342 5.35109 40.7342 5.35109C40.7342 5.35109 41.0326 4.54482 41.2564 4.03174"
                      fill="#051244"
                    />
                  </g>
                </svg>
                <svg
                  width="38"
                  height="22"
                  viewBox="0 0 38 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g opacity="0.5">
                    <path
                      d="M38.0002 11C38.0002 17.0529 32.9335 22 26.6002 22C20.3272 22 15.2002 17.0529 15.2002 11C15.2002 4.94709 20.2669 0 26.5399 0C32.9335 0 38.0002 4.94709 38.0002 11Z"
                      fill="#FFB600"
                    />
                    <path
                      d="M26.6002 0C32.8732 0 38.0002 4.94709 38.0002 11C38.0002 17.0529 32.9335 22 26.6002 22C20.3272 22 15.2002 17.0529 15.2002 11"
                      fill="#F7981D"
                    />
                    <path
                      d="M26.5996 0C32.8726 0 37.9996 4.94709 37.9996 11C37.9996 17.0529 32.9329 22 26.5996 22"
                      fill="#FF8500"
                    />
                    <path
                      d="M11.2794 0C5.06666 0.0582011 0 4.94709 0 11C0 17.0529 5.06666 22 11.4 22C14.3555 22 17.0095 20.8942 19.0603 19.1481C19.4825 18.7989 19.8444 18.3915 20.2063 17.9841H17.854C17.5524 17.6349 17.2508 17.2275 17.0095 16.8783H21.0508C21.2921 16.5291 21.5333 16.1217 21.7143 15.7143H16.346C16.1651 15.3651 15.9841 14.9577 15.8635 14.5503H22.1365C22.4984 13.4444 22.7397 12.2804 22.7397 11.0582C22.7397 10.2434 22.619 9.48677 22.4984 8.73016H15.5016C15.5619 8.32275 15.6825 7.97354 15.8032 7.56614H22.0762C21.9555 7.15873 21.7746 6.75132 21.5936 6.40212H16.2857C16.4667 5.99471 16.7079 5.6455 16.9492 5.23809H20.9905C20.7492 4.83069 20.4476 4.42328 20.0857 4.07407H17.854C18.2159 3.66667 18.5778 3.31746 19 2.96825C17.0095 1.16402 14.2952 0.116402 11.3397 0.116402C11.3397 -1.12744e-07 11.3397 0 11.2794 0Z"
                      fill="#FF5050"
                    />
                    <path
                      d="M0 10.9998C0 17.0527 5.06666 21.9998 11.4 21.9998C14.3555 21.9998 17.0095 20.894 19.0603 19.148C19.4825 18.7987 19.8444 18.3913 20.2063 17.9839H17.854C17.5524 17.6347 17.2508 17.2273 17.0095 16.8781H21.0508C21.2921 16.5289 21.5333 16.1215 21.7143 15.7141H16.346C16.1651 15.3649 15.9841 14.9575 15.8635 14.5501H22.1365C22.4984 13.4443 22.7397 12.2802 22.7397 11.058C22.7397 10.2432 22.619 9.48658 22.4984 8.72997H15.5016C15.5619 8.32256 15.6825 7.97335 15.8032 7.56595H22.0762C21.9555 7.15854 21.7746 6.75113 21.5936 6.40193H16.2857C16.4667 5.99452 16.7079 5.64531 16.9492 5.2379H20.9905C20.7492 4.8305 20.4476 4.42309 20.0857 4.07388H17.854C18.2159 3.66648 18.5778 3.31727 19 2.96806C17.0095 1.16383 14.2952 0.116211 11.3397 0.116211H11.2794"
                      fill="#E52836"
                    />
                    <path
                      d="M11.3999 21.9998C14.3555 21.9998 17.0095 20.894 19.0602 19.148C19.4825 18.7987 19.8444 18.3913 20.2063 17.9839H17.8539C17.5523 17.6347 17.2507 17.2273 17.0095 16.8781H21.0507C21.292 16.5289 21.5333 16.1215 21.7142 15.7141H16.346C16.165 15.3649 15.9841 14.9575 15.8634 14.5501H22.1364C22.4983 13.4443 22.7396 12.2802 22.7396 11.058C22.7396 10.2432 22.619 9.48658 22.4983 8.72997H15.5015C15.5618 8.32256 15.6825 7.97335 15.8031 7.56595H22.0761C21.9555 7.15854 21.7745 6.75113 21.5936 6.40193H16.2856C16.4666 5.99452 16.7079 5.64531 16.9491 5.2379H20.9904C20.7491 4.8305 20.4475 4.42309 20.0856 4.07388H17.8539C18.2158 3.66648 18.5777 3.31727 18.9999 2.96806C17.0095 1.16383 14.2952 0.116211 11.3396 0.116211H11.2793"
                      fill="#CB2026"
                    />
                    <path
                      d="M15.4416 13.7936L15.6225 12.8041C15.5622 12.8041 15.4416 12.8624 15.321 12.8624C14.8987 12.8624 14.8384 12.6295 14.8987 12.5131L15.2606 10.4761H15.9241L16.1051 9.37029H15.5019L15.6225 8.67188H14.4162C14.4162 8.67188 13.6924 12.5131 13.6924 12.9788C13.6924 13.6772 14.1146 13.9682 14.6575 13.9682C15.0194 13.9682 15.321 13.8518 15.4416 13.7936Z"
                      fill="white"
                    />
                    <path
                      d="M15.8633 11.9311C15.8633 13.5607 17.0093 13.9681 17.9744 13.9681C18.8792 13.9681 19.2411 13.7935 19.2411 13.7935L19.4823 12.6877C19.4823 12.6877 18.8188 12.9787 18.2157 12.9787C16.8887 12.9787 17.1299 12.0475 17.1299 12.0475H19.603C19.603 12.0475 19.7839 11.2909 19.7839 10.9999C19.7839 10.2433 19.3617 9.31205 18.0347 9.31205C16.768 9.19565 15.8633 10.4761 15.8633 11.9311ZM17.9744 10.2433C18.6379 10.2433 18.5172 10.9999 18.5172 11.0581H17.1903C17.1903 10.9999 17.3109 10.2433 17.9744 10.2433Z"
                      fill="white"
                    />
                    <path
                      d="M25.6348 13.7934L25.8761 12.513C25.8761 12.513 25.2729 12.804 24.8507 12.804C24.0063 12.804 23.6444 12.1638 23.6444 11.4654C23.6444 10.0686 24.3682 9.31197 25.2126 9.31197C25.8158 9.31197 26.2983 9.66117 26.2983 9.66117L26.4793 8.43895C26.4793 8.43895 25.7555 8.14795 25.092 8.14795C23.7047 8.14795 22.3174 9.31197 22.3174 11.5236C22.3174 12.9786 23.0412 13.968 24.4888 13.968C24.9713 13.968 25.6348 13.7934 25.6348 13.7934Z"
                      fill="white"
                    />
                    <path
                      d="M8.80671 9.1958C7.96227 9.1958 7.35909 9.42861 7.35909 9.42861L7.17814 10.418C7.17814 10.418 7.721 10.1852 8.50512 10.1852C8.92734 10.1852 9.28925 10.2434 9.28925 10.5926C9.28925 10.8254 9.22893 10.8836 9.22893 10.8836C9.22893 10.8836 8.86703 10.8836 8.68607 10.8836C7.66068 10.8836 6.51465 11.291 6.51465 12.6297C6.51465 13.6773 7.23846 13.9101 7.66068 13.9101C8.50512 13.9101 8.86703 13.3863 8.92734 13.3863L8.86703 13.8519H9.95274L10.4353 10.6508C10.4353 9.254 9.22893 9.1958 8.80671 9.1958ZM9.04798 11.8149C9.04798 11.9895 8.92734 12.9207 8.20353 12.9207C7.84163 12.9207 7.721 12.6297 7.721 12.4551C7.721 12.1641 7.90195 11.7567 8.80671 11.7567C8.98766 11.8149 9.04798 11.8149 9.04798 11.8149Z"
                      fill="white"
                    />
                    <path
                      d="M11.5807 13.9102C11.8822 13.9102 13.3902 13.9684 13.3902 12.397C13.3902 10.9419 11.9426 11.2329 11.9426 10.6509C11.9426 10.3599 12.1838 10.2435 12.6061 10.2435C12.787 10.2435 13.4505 10.3017 13.4505 10.3017L13.6315 9.2541C13.6315 9.2541 13.2092 9.1377 12.4854 9.1377C11.5807 9.1377 10.6759 9.4869 10.6759 10.6509C10.6759 11.9895 12.1838 11.8731 12.1838 12.397C12.1838 12.7462 11.7616 12.8044 11.46 12.8044C10.9172 12.8044 10.3743 12.6298 10.3743 12.6298L10.1934 13.6774C10.2537 13.7938 10.5553 13.9102 11.5807 13.9102Z"
                      fill="white"
                    />
                    <path
                      d="M35.6481 8.26562L35.4068 9.83705C35.4068 9.83705 34.9242 9.25504 34.2608 9.25504C33.175 9.25504 32.21 10.5355 32.21 12.0487C32.21 12.9799 32.6925 13.9693 33.7179 13.9693C34.4417 13.9693 34.8639 13.5037 34.8639 13.5037L34.8036 13.9111H36.01L36.9147 8.32383L35.6481 8.26562ZM35.1052 11.3503C35.1052 11.9905 34.8036 12.8053 34.1401 12.8053C33.7179 12.8053 33.4766 12.4561 33.4766 11.8741C33.4766 10.9429 33.8988 10.3609 34.4417 10.3609C34.8639 10.3609 35.1052 10.6519 35.1052 11.3503Z"
                      fill="white"
                    />
                    <path
                      d="M2.23197 13.8529L2.95578 9.66245L3.07641 13.8529H3.92086L5.48911 9.66245L4.82562 13.8529H6.09228L7.05736 8.26562H5.06689L3.86054 11.6995L3.80022 8.26562H2.05102L1.08594 13.8529H2.23197Z"
                      fill="white"
                    />
                    <path
                      d="M20.9305 13.8522C21.2924 11.9316 21.3527 10.3601 22.1972 10.6511C22.3178 9.89451 22.4988 9.60351 22.6194 9.3125C22.6194 9.3125 22.5591 9.3125 22.3781 9.3125C21.8353 9.3125 21.413 10.0109 21.413 10.0109L21.5337 9.3707H20.3876L19.6035 13.9104H20.9305V13.8522Z"
                      fill="white"
                    />
                    <path
                      d="M28.4092 9.1958C27.5648 9.1958 26.9616 9.42861 26.9616 9.42861L26.7807 10.418C26.7807 10.418 27.3235 10.1852 28.1077 10.1852C28.5299 10.1852 28.8918 10.2434 28.8918 10.5926C28.8918 10.8254 28.8315 10.8836 28.8315 10.8836C28.8315 10.8836 28.4696 10.8836 28.2886 10.8836C27.2632 10.8836 26.1172 11.291 26.1172 12.6297C26.1172 13.6773 26.841 13.9101 27.2632 13.9101C28.1077 13.9101 28.4696 13.3863 28.5299 13.3863L28.4696 13.8519H29.5553L30.0378 10.6508C30.0981 9.254 28.8315 9.1958 28.4092 9.1958ZM28.7108 11.8149C28.7108 11.9895 28.5902 12.9207 27.8664 12.9207C27.5045 12.9207 27.3839 12.6297 27.3839 12.4551C27.3839 12.1641 27.5648 11.7567 28.4696 11.7567C28.6505 11.8149 28.6505 11.8149 28.7108 11.8149Z"
                      fill="white"
                    />
                    <path
                      d="M31.0633 13.8522C31.4252 11.9316 31.4855 10.3601 32.33 10.6511C32.4506 9.89451 32.6316 9.60351 32.7522 9.3125C32.7522 9.3125 32.6919 9.3125 32.5109 9.3125C31.9681 9.3125 31.5458 10.0109 31.5458 10.0109L31.6665 9.3707H30.5205L29.7363 13.9104H31.0633V13.8522Z"
                      fill="white"
                    />
                    <path
                      d="M13.5713 12.9788C13.5713 13.6772 13.9935 13.9682 14.5364 13.9682C14.9586 13.9682 15.3205 13.8518 15.4411 13.7936L15.6221 12.8041C15.5618 12.8041 15.4411 12.8624 15.3205 12.8624C14.8983 12.8624 14.838 12.6295 14.8983 12.5131L15.2602 10.4761H15.9237L16.1046 9.37029H15.5014L15.6221 8.67188"
                      fill="#DCDFE5"
                    />
                    <path
                      d="M16.4668 11.9311C16.4668 13.5607 17.0097 13.9681 17.9747 13.9681C18.8795 13.9681 19.2414 13.7935 19.2414 13.7935L19.4827 12.6877C19.4827 12.6877 18.8192 12.9787 18.216 12.9787C16.889 12.9787 17.1303 12.0475 17.1303 12.0475H19.6033C19.6033 12.0475 19.7843 11.2909 19.7843 10.9999C19.7843 10.2433 19.362 9.31205 18.035 9.31205C16.7684 9.19565 16.4668 10.4761 16.4668 11.9311ZM17.9747 10.2433C18.6382 10.2433 18.7589 10.9999 18.7589 11.0581H17.1906C17.1906 10.9999 17.3112 10.2433 17.9747 10.2433Z"
                      fill="#DCDFE5"
                    />
                    <path
                      d="M25.6352 13.7934L25.8765 12.513C25.8765 12.513 25.2733 12.804 24.8511 12.804C24.0066 12.804 23.6447 12.1638 23.6447 11.4654C23.6447 10.0686 24.3685 9.31197 25.213 9.31197C25.8161 9.31197 26.2987 9.66117 26.2987 9.66117L26.4796 8.43895C26.4796 8.43895 25.7558 8.14795 25.0923 8.14795C23.705 8.14795 22.9209 9.31197 22.9209 11.5236C22.9209 12.9786 23.0415 13.968 24.4892 13.968C24.9717 13.968 25.6352 13.7934 25.6352 13.7934Z"
                      fill="#DCDFE5"
                    />
                    <path
                      d="M7.17814 10.4765C7.17814 10.4765 7.721 10.2437 8.50512 10.2437C8.92734 10.2437 9.28925 10.3019 9.28925 10.6511C9.28925 10.8839 9.22893 10.9421 9.22893 10.9421C9.22893 10.9421 8.86703 10.9421 8.68607 10.9421C7.66068 10.9421 6.51465 11.3495 6.51465 12.6882C6.51465 13.7358 7.23846 13.9686 7.66068 13.9686C8.50512 13.9686 8.86703 13.4448 8.92734 13.4448L8.86703 13.9104H9.95274L10.4353 10.7093C10.4353 9.3707 9.22893 9.3125 8.74639 9.3125L7.17814 10.4765ZM9.65115 11.8151C9.65115 11.9897 8.92734 12.921 8.20353 12.921C7.84163 12.921 7.721 12.63 7.721 12.4554C7.721 12.1643 7.90195 11.7569 8.80671 11.7569C8.98766 11.8151 9.65115 11.8151 9.65115 11.8151Z"
                      fill="#DCDFE5"
                    />
                    <path
                      d="M10.2539 13.7938C10.2539 13.7938 10.6158 13.9102 11.6412 13.9102C11.9428 13.9102 13.4507 13.9684 13.4507 12.397C13.4507 10.9419 12.0031 11.2329 12.0031 10.6509C12.0031 10.3599 12.2444 10.2435 12.6666 10.2435C12.8476 10.2435 13.511 10.3017 13.511 10.3017L13.692 9.2541C13.692 9.2541 13.2698 9.1377 12.546 9.1377C11.6412 9.1377 11.3396 9.4869 11.3396 10.6509C11.3396 11.9895 12.2444 11.8731 12.2444 12.397C12.2444 12.7462 11.8222 12.8044 11.5206 12.8044"
                      fill="#DCDFE5"
                    />
                    <path
                      d="M35.4066 9.83598C35.4066 9.83598 34.9241 9.25397 34.2606 9.25397C33.1749 9.25397 32.813 10.5344 32.813 12.0476C32.813 12.9788 32.6923 13.9682 33.7177 13.9682C34.4415 13.9682 34.8638 13.5026 34.8638 13.5026L34.8034 13.91H36.0098L36.9146 8.32275L35.4066 9.83598ZM35.3463 11.3492C35.3463 11.9894 34.8034 12.8042 34.14 12.8042C33.7177 12.8042 33.4765 12.455 33.4765 11.873C33.4765 10.9418 33.8987 10.3598 34.4415 10.3598C34.8638 10.3598 35.3463 10.6508 35.3463 11.3492Z"
                      fill="#DCDFE5"
                    />
                    <path
                      d="M2.23197 13.8529L2.95578 9.66245L3.07641 13.8529H3.92086L5.48911 9.66245L4.82562 13.8529H6.09228L7.05736 8.26562H5.54943L3.86054 11.6995L3.80022 8.26562H3.13673L1.08594 13.8529H2.23197Z"
                      fill="#DCDFE5"
                    />
                    <path
                      d="M19.6641 13.8522H20.9307C21.2926 11.9316 21.353 10.3601 22.1974 10.6511C22.318 9.89451 22.499 9.60351 22.6196 9.3125C22.6196 9.3125 22.5593 9.3125 22.3783 9.3125C21.8355 9.3125 21.4133 10.0109 21.4133 10.0109L21.5339 9.3707"
                      fill="#DCDFE5"
                    />
                    <path
                      d="M26.7807 10.4765C26.7807 10.4765 27.3235 10.2437 28.1077 10.2437C28.5299 10.2437 28.8918 10.3019 28.8918 10.6511C28.8918 10.8839 28.8315 10.9421 28.8315 10.9421C28.8315 10.9421 28.4696 10.9421 28.2886 10.9421C27.2632 10.9421 26.1172 11.3495 26.1172 12.6882C26.1172 13.7358 26.841 13.9686 27.2632 13.9686C28.1077 13.9686 28.4696 13.4448 28.5299 13.4448L28.4696 13.9104H29.5553L30.0378 10.7093C30.0378 9.3707 28.8315 9.3125 28.3489 9.3125L26.7807 10.4765ZM29.2537 11.8151C29.2537 11.9897 28.5299 12.921 27.8061 12.921C27.4442 12.921 27.3235 12.63 27.3235 12.4554C27.3235 12.1643 27.5045 11.7569 28.4092 11.7569C28.6505 11.8151 29.2537 11.8151 29.2537 11.8151Z"
                      fill="#DCDFE5"
                    />
                    <path
                      d="M29.7969 13.8522H31.0635C31.4254 11.9316 31.4858 10.3601 32.3302 10.6511C32.4508 9.89451 32.6318 9.60351 32.7524 9.3125C32.7524 9.3125 32.6921 9.3125 32.5112 9.3125C31.9683 9.3125 31.5461 10.0109 31.5461 10.0109L31.6667 9.3707"
                      fill="#DCDFE5"
                    />
                  </g>
                </svg>
              </span>
              <h3 v-else class="footer-contacts__data">
                {{ item.data }}
              </h3>
            </li>
          </ul>
        </div>
      </div>
      <span class="footer-delimiter"></span>
      <div class="footer-bottom flex align-center">
        <strong class="all-rights">2020 © Все права защищены</strong>
        <div class="socials">
          <icon-base :iconName="icon" v-for="icon of footerIcons" :key="icon" />
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import { defineAsyncComponent } from 'vue'

const iconBase = defineAsyncComponent(() =>
  import('./iconsComponents/iconBase.vue')
)

export default {
  components: {
    iconBase
  },
  data() {
    return {
      footerMenu: [
        {
          text: 'О сайте',
          handler: () => this.$router.push('/')
        },
        {
          text: 'Купить',
          handler: () => this.$router.push('/buy')
        },
        {
          text: 'Продать',
          handler: () =>
            this.$store.dispatch(
              'popupActions/openPrivatPopup',
              this.$store.state.popupActions.popupComponentsList.sell
            )
        },
        {
          text: 'Правила',
          handler: () => this.$router.push('/rules')
        },
        {
          text: 'Тех. поддержка',
          handler: () => this.$router.push('/support')
        }
      ],
      footerContacts: [
        {
          title: 'По любым вопросам:',
          data: '+ 7 (495) 662 66 23'
        },
        {
          title: 'Пишите нам:',
          data: 'future@vabao.sell'
        },
        {
          title: 'Принимаем к оплате:',
          data: ''
        }
      ],
      footerIcons: ['fbFooter', 'vkFooter', 'instaFooter', 'painterestFooter']
    }
  }
}
</script>

<style lang="scss">
.footer {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(230, 236, 243);

  &-delimiter {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(56, 120, 244, 0.2);
  }
}

.footer-container {
  position: static;
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: 1400px) {
    margin: 0 80px;
  }

  @media screen and (max-width: 899px) {
    margin: 0 60px;
  }

  @media screen and (max-width: 599px) {
    margin: 0 20px;
    padding: 0;
  }
}

.footer-top {
  box-sizing: border-box;
  min-height: 138px;
  justify-content: space-between;

  @media (max-width: 899px) {
    padding: 40px 0;
  }
}

.footer-bottom {
  height: 56px;
  justify-content: space-between;

  .all-rights {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
    white-space: nowrap;
  }

  .socials {
    display: flex;

    & > svg:not(:last-child) {
      margin-right: 11px;

      @media (max-width: 599px) {
        margin-right: 6px;
      }
    }
  }
}

.footer-nav__wraper {
  @media (max-width: 899px) {
    flex-direction: column;
  }
}

.footer-logo {
  color: var(--main-blue);
  font-size: 40px;
  font-family: 'Istok';
  font-style: normal;
  font-weight: 700;
  margin-right: 90px;

  @media screen and (max-width: 1400px) {
    margin-right: 30px;
  }

  @media screen and (max-width: 899px) {
    margin-bottom: 18px;
  }
}

.footer-nav {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.02rem;
  text-align: left;

  .footer-menu {
    @media (max-width: 899px) {
      flex-direction: column;
      align-items: start;
    }

    &__item {
      height: 100%;
      width: 100%;
      list-style: none;
      white-space: nowrap;
      cursor: pointer;

      @media (max-width: 899px) {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }

  .footer-menu__item {
    margin-right: 35px;
    @media (max-width: 1400px) and (min-width: 900px) {
      display: none;
      visibility: hide;
      margin-right: 15px;
    }
  }
}

.footer-contacts {
  list-style: none;
  white-space: nowrap;
  @media (max-width: 899px) {
    flex-direction: column;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(50, 50, 50, 0.8);
  }

  &__data {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(50, 50, 50, 1);
  }

  &__item:not(:last-child) {
    margin-right: 75px;
    @media (max-width: 1400px) {
      margin-right: 15px;
    }

    @media (max-width: 899px) {
      margin-bottom: 30px;
    }
  }
}

.contacts-img {
  img:not(:last-child) {
    margin-right: 14px;
  }
}
</style>
