<template>
  <header class="header">
    <div class="header-container">
      <header-menu />
      <div class="flex left-menu-wrapper">
        <svg
          class="burger-svg"
          width="22"
          height="16"
          viewBox="0 0 22 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          alt="menu"
          aria-label="меню"
          @click="toggleLeftMenu"
        >
          <rect width="22" height="2" fill="#323232" />
          <rect y="7" width="16" height="2" fill="#323232" />
          <rect y="14" width="22" height="2" fill="#323232" />
        </svg>
        <ul class="flex header-nav__left align-center">
          <router-link
            v-for="(item, i) in leftMenuItems"
            :key="i"
            v-slot="{ isExactActive, navigate }"
            :to="item.link"
            custom
          >
            <li
              class="menu-item__left flex align-center"
              :class="[isExactActive && 'menu-active']"
              @click="navigate"
            >
              {{ item.title }}
            </li>
          </router-link>
          <li class="menu-item__left flex align-center" @click="openSellPopup">
            Продать
          </li>
        </ul>
      </div>
      <router-link v-slot="{ navigate }" to="/" custom>
        <h1 class="flex align-center header-label" @click="navigate">VABAO</h1>
      </router-link>
      <div class="right-menu-wrapper flex">
        <ul class="header-nav__right flex align-center">
          <router-link v-slot="{ isExactActive, navigate }" to="/rules" custom>
            <li
              class="flex align-center rules-link"
              :class="[isExactActive && 'menu-active']"
              @click="navigate"
            >
              Правила
            </li>
          </router-link>
          <li class="flex align-center" @click="openSearchPopup">
            <svg
              width="19"
              height="21"
              viewBox="0 0 19 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                width="1.5"
                height="8.10313"
                rx="0.75"
                transform="matrix(0.76468 -0.64441 0.644412 0.764678 11.953 14.1567)"
                fill="#323232"
              />
              <rect
                x="0.75"
                y="0.86972"
                width="14.5"
                height="14.5"
                rx="7.25"
                stroke="#323232"
                stroke-width="1.5"
              />
            </svg>
          </li>
          <router-link
            v-slot="{ isExactActive, navigate }"
            to="/support"
            custom
          >
            <li
              class="flex align-center relative"
              :class="[isExactActive && 'menu-active']"
              @click="navigate"
            >
              <svg
                width="18"
                height="20"
                viewBox="0 0 18 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="search-svg"
              >
                <path
                  d="M5.05371 16.25H0.803711V0.75H16.3037V16.25H12.0537H11.7763L11.5656 16.4306L8.55371 19.0122L5.5418 16.4306L5.33115 16.25H5.05371Z"
                  stroke="#323232"
                  stroke-width="1.5"
                />
                <path
                  d="M6.47971 5.11C6.61571 4.99 6.76371 4.876 6.92371 4.768C7.08771 4.66 7.26371 4.566 7.45171 4.486C7.63971 4.406 7.84371 4.344 8.06371 4.3C8.28371 4.252 8.52171 4.228 8.77771 4.228C9.12571 4.228 9.44171 4.276 9.72571 4.372C10.0137 4.468 10.2597 4.606 10.4637 4.786C10.6677 4.962 10.8257 5.176 10.9377 5.428C11.0497 5.68 11.1057 5.962 11.1057 6.274C11.1057 6.578 11.0617 6.842 10.9737 7.066C10.8857 7.286 10.7757 7.478 10.6437 7.642C10.5117 7.806 10.3657 7.948 10.2057 8.068C10.0497 8.188 9.90171 8.302 9.76171 8.41C9.62171 8.514 9.49971 8.618 9.39571 8.722C9.29571 8.822 9.23571 8.936 9.21571 9.064L9.07771 9.94H8.06371L7.96171 8.962C7.93771 8.774 7.96371 8.61 8.03971 8.47C8.11971 8.326 8.22371 8.196 8.35171 8.08C8.48371 7.96 8.62971 7.846 8.78971 7.738C8.94971 7.626 9.09971 7.506 9.23971 7.378C9.37971 7.246 9.49571 7.1 9.58771 6.94C9.68371 6.776 9.73171 6.582 9.73171 6.358C9.73171 6.214 9.70371 6.086 9.64771 5.974C9.59571 5.858 9.52171 5.76 9.42571 5.68C9.32971 5.596 9.21371 5.532 9.07771 5.488C8.94571 5.444 8.80171 5.422 8.64571 5.422C8.41771 5.422 8.22371 5.448 8.06371 5.5C7.90771 5.548 7.77371 5.604 7.66171 5.668C7.55371 5.728 7.46171 5.784 7.38571 5.836C7.30971 5.884 7.24171 5.908 7.18171 5.908C7.03771 5.908 6.93371 5.848 6.86971 5.728L6.47971 5.11ZM7.61371 12.184C7.61371 12.06 7.63571 11.942 7.67971 11.83C7.72771 11.718 7.79171 11.622 7.87171 11.542C7.95171 11.462 8.04771 11.398 8.15971 11.35C8.27171 11.302 8.39171 11.278 8.51971 11.278C8.64771 11.278 8.76571 11.302 8.87371 11.35C8.98571 11.398 9.08171 11.462 9.16171 11.542C9.24571 11.622 9.31171 11.718 9.35971 11.83C9.40771 11.942 9.43171 12.06 9.43171 12.184C9.43171 12.312 9.40771 12.432 9.35971 12.544C9.31171 12.652 9.24571 12.746 9.16171 12.826C9.08171 12.906 8.98571 12.968 8.87371 13.012C8.76571 13.06 8.64771 13.084 8.51971 13.084C8.39171 13.084 8.27171 13.06 8.15971 13.012C8.04771 12.968 7.95171 12.906 7.87171 12.826C7.79171 12.746 7.72771 12.652 7.67971 12.544C7.63571 12.432 7.61371 12.312 7.61371 12.184Z"
                  fill="#323232"
                />
              </svg>
            </li>
          </router-link>
        </ul>
        <div
          v-if="isAuthenticated"
          class="user-menu flex align-center"
          @click="toggleRightMenu"
        >
          <img
            :src="$store.state.user.photo"
            alt="user"
            aria-label="меню пользователя"
            class="menu-item__right user-menu--avatar"
          />
          <svg
            width="10"
            height="7"
            viewBox="0 0 10 7"
            fill="none"
            style="margin-left: 10px; transition: transform 0.5s"
            xmlns="http://www.w3.org/2000/svg"
            alt="arrow"
            aria-label="hiden"
            :class="[visibleRightMenu && 'rotate-header--v']"
          >
            <path d="M9 1L5 5L1 1" stroke="#323232" stroke-width="1.5" />
          </svg>
        </div>
        <div
          v-else
          class="user-menu--notlogged flex align-center"
          @click="login"
        >
          <svg
            width="17"
            height="20"
            viewBox="0 0 17 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            alt="log in"
            aria-label="войти"
          >
            <path
              d="M11.9968 5.12082C12.0593 2.98029 11.2273 0.962584 8.4584 1.00053C5.68954 1.03847 4.88359 3.19151 5.01313 5.12082C5.14266 7.05013 5.95774 8.86745 8.4584 8.9939C10.9591 9.12036 11.9343 7.26135 11.9968 5.12082Z"
              stroke="#323232"
              stroke-width="1.4"
            />
            <path
              d="M5.59025 11C4.64903 11.5942 2.84353 12.4645 1.79957 12.8272C1.08886 13.0741 0.851925 15.642 1.08884 16.8272C1.32576 18.0123 5.11641 19 8.43327 19C11.7501 19 15.5408 18.0123 15.8725 16.8272C16.2042 15.642 15.8725 13.0741 15.067 12.8272C14.2614 12.5803 12.7048 11.9037 11.2763 11"
              stroke="#323232"
              stroke-width="1.4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapActions, mapState } from 'vuex'

const HeaderMenu = defineAsyncComponent(() => import('./HeaderMenu.vue'))

export default {
  components: {
    HeaderMenu
  },
  data() {
    return {
      leftMenuItems: [
        { title: 'О сервисе', link: '/' },
        { title: 'Купить', link: '/buy' }
      ]
    }
  },

  methods: {
    ...mapActions('headerMenus', [
      'toggleLeftMenu',
      'toggleRightMenu',
      'hideMenus'
    ]),
    ...mapActions('popupActions', ['openPopupComponent', 'openPrivatPopup']),
    login() {
      this.openPopupComponent(this.popupComponents.login)
    },
    openSellPopup() {
      this.openPrivatPopup(this.popupComponents.sell)
    },
    openSearchPopup() {
      this.openPopupComponent(this.popupComponents.search)
    }
  },
  computed: {
    isAuthenticated() {
      return this.$store.state.user.auth.isLoggedIn
    },
    ...mapState('popupActions', {
      popupComponents: state => state.popupComponentsList
    }),
    visibleRightMenu() {
      return this.$store.getters['headerMenus/rightMenuVisibility']
    }
  }
}
</script>

<style lang="scss">
.header {
  height: 70px;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  background-color: #fff;
  border-bottom: 1.5px solid rgba(73, 128, 234, 0.15);
  box-sizing: border-box;
}

.header-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1640px;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 25px;
  font-family: 'Proxima';
  font-size: 15px;
  user-select: none;
}

.left-menu-wrapper {
  justify-items: flex-start;

  svg {
    width: 32px;
    height: 32px;
    align-self: center;
    margin-right: 45px;
    padding: 8px 5px 8px 0;
    cursor: pointer;

    @media (max-width: 899px) {
      margin: 0;
    }
  }
}

.right-menu-wrapper {
  justify-content: flex-end;
}

.header-nav__left {
  li {
    list-style: none;
    height: 100%;
    white-space: nowrap;
    letter-spacing: 0.02em;
    cursor: pointer;

    @media (max-width: 899px) {
      display: none;
    }
  }

  li:not(:last-child) {
    margin-right: 35px;
  }

  @media (max-width: 899px) {
    display: none;
  }
}

.header-label {
  justify-content: center;
  margin-left: 6px;
  padding-top: 4px;
  font-size: 40px;
  line-height: 48.72px;
  font-weight: 800;
  color: var(--main-blue);
  letter-spacing: 0.11em;
  cursor: pointer;

  @media (min-width: 900px) {
    margin-left: 40px;
  }
}

.header-nav__right {
  justify-content: flex-end;

  li {
    height: 100%;
    list-style: none;
    white-space: nowrap;
    letter-spacing: 0.02em;
    margin-right: 45px;
    cursor: pointer;

    @media (max-width: 899px) {
      display: none;
    }
  }
}

.rules-link {
  color: rgba(50, 50, 50, 0.6);
}

.burger-svg:hover {
  & rect {
    fill: var(--main-blue);
  }
}

.burger-active {
  & rect {
    fill: var(--main-blue);
  }
}

.menu-active {
  color: var(--main-blue);

  & svg path {
    &:first-child {
      stroke: var(--main-blue) !important;
    }

    &:last-child {
      fill: var(--main-blue);
    }
  }
}

.user-menu {
  cursor: pointer;

  &--avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
  }

  &--notlogged {
    cursor: pointer;

    @media (max-width: 899px) {
      width: auto;
    }
  }

  @media (max-width: 899px) {
    justify-content: flex-end;
    min-width: auto;

    &--arrow {
      display: none;
    }
  }
}

.rotate-header--v {
  transform: rotateX(180deg);
}
</style>
