<template>
  <transition name="fade">
    <div
      class="popup-backdrop"
      :class="[centeredPopup && 'centered']"
      v-if="popupVisibility"
      @mousedown="clearPopupsChain"
      @mousewheel="scrollPopup"
      @wheel="scrollPopup"
    >
      <transition name="scale">
        <div
          class="popup-container flex align-center column"
          @mousedown.stop
          v-if="currentPopupComponent"
          ref="popupContainer"
          @touchstart="addFirstTouch"
          @touchmove="movePopup"
        >
          <div class="popup-container__title flex">
            <div
              class="popup-container__title--close-btn"
              @click="clearPopupsChain"
            >
              <svg
                width="14"
                height="14"
                viewBox="0 0 14 14"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="0.305664"
                  y="12.5425"
                  width="17.7069"
                  height="1.47558"
                  transform="rotate(-45 0.305664 12.5425)"
                  fill="#323232"
                />
                <rect
                  x="1.04346"
                  width="17.7069"
                  height="1.47558"
                  transform="rotate(45 1.04346 0)"
                  fill="#323232"
                />
              </svg>
            </div>
          </div>
          <keep-alive>
            <component
              :is="currentPopupComponent"
              @centered="centeredPopup = true"
            />
          </keep-alive>
        </div>
      </transition>
      <transition name="fade">
        <div class="loader" v-if="loaderVisibility && !currentPopupComponent">
          <div class="loader-block">
            <span class="letter">L</span>
            <span class="letter">o</span>
            <span class="letter">a</span>
            <span class="letter">d</span>
            <span class="letter">i</span>
            <span class="letter">n</span>
            <span class="letter">g</span>
          </div>
        </div>
      </transition>
      <transition name="fade">
        <img class="fullscreen-order-image" :src="image" v-if="image" />
      </transition>
    </div>
  </transition>
</template>

<script>
import { mapState, mapActions } from 'vuex'

import loginPopup from './popups/loginPopup.vue'
import registerPopup from './popups/registerPopup.vue'
import registerSuccessPopup from './popups/registrationSuccess.vue'
import passRecoveryPopup from './popups/passRecoveryPopup.vue'
import changePasswordPopup from './popups/changePasswordPopup.vue'
import confirmEmail from './popups/confirmEmail.vue'
import SellPopup from './popups/SellPopup.vue'
import SearchPopup from './popups/SearchPopup.vue'
import AdvOnModeration from './popups/AnnouncementOnModeration.vue'
import PaymentPopup from './popups/PaymentPopup.vue'
import SuccessSupportRequest from './popups/SuccessSupportRequest.vue'

export default {
  components: {
    loginPopup,
    registerPopup,
    registerSuccessPopup,
    passRecoveryPopup,
    changePasswordPopup,
    confirmEmail,
    SellPopup,
    SearchPopup,
    AdvOnModeration,
    PaymentPopup,
    SuccessSupportRequest
  },
  data: () => ({
    centeredPopup: false,
    scroll: 0,
    firstTouch: 0
  }),
  computed: {
    ...mapState('popupActions', {
      image: state => state.img,
      popupVisibility: state => state.visible,
      currentPopupComponent: state => state.popupComponent
    }),
    loaderVisibility() {
      return this.$store.getters['popupActions/getLoaderVisibility']
    }
  },
  methods: {
    addFirstTouch(e) {
      this.firstTouch = e.touches[0].screenY
    },
    movePopup(e) {
      if (!this.popupVisibility || this.image) return
      const { height } = this.$refs.popupContainer.getBoundingClientRect()
      if (window.innerHeight < height) {
        const { screenY } = e.touches[0]
        this.scroll += screenY - this.firstTouch
        this.$refs.popupContainer.style.transform = `translateY(${this.scroll}px)`
        this.firstTouch = screenY
      } else {
        this.$refs.popupContainer.style.transform = 'translateY(0)'
      }
    },
    scrollPopup(e) {
      if (!this.popupVisibility || this.image) return
      const { height } = this.$refs.popupContainer.getBoundingClientRect()
      if (window.innerHeight < height) {
        this.scroll -= e.deltaY / 2
        this.$refs.popupContainer.style.transform = `translateY(${this.scroll}px)`
      } else {
        this.$refs.popupContainer.style.transform = 'translateY(0)'
      }
    },
    ...mapActions('popupActions', ['openPopupComponent', 'clearPopupsChain']),
    ...mapActions('headerMenus', ['hideMenus'])
  },
  watch: {
    currentPopupComponent() {
      this.scroll = 0
    },
    popupVisibility(newValue) {
      this.scroll = 0
      if (newValue) {
        const paddingValue =
          window.innerWidth - document.documentElement.offsetWidth
        document.body.style.paddingRight = `${paddingValue}px`
        document.body.style.overflow = 'hidden'
      } else {
        document.body.style.paddingRight = 0
        document.body.style.overflow = 'visible'
        this.centeredPopup = false
      }
    }
  }
}
</script>

<style lang="scss">
.popup-backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 102vh;
  background-color: rgba(17, 20, 37, 0.7);
  z-index: 9999999;

  @media (max-width: 599px) {
    align-items: flex-start;
  }
}

.popup-container {
  height: fit-content;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;

  &__title {
    width: 100%;
    height: auto;
    justify-content: flex-end;
    padding: 29px 30px 33px;

    @media (max-width: 899px) {
      padding: 20px;
    }

    &--close-btn {
      line-height: 0;
      cursor: pointer;

      &:hover > svg > rect {
        fill: var(--main-blue);
      }
    }
  }
}

.popup-content {
  padding: 5px 45px 50px;
  max-width: 540px;
}

.centered {
  justify-content: center;
  align-items: center;

  & > .popup-container {
    max-width: 90%;
  }

  & > * {
    margin-bottom: 15vh;
  }
}

.loader {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-45%, -50%);
  font-size: 40px;
  color: #fff;
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.2s cubic-bezier(0, 0, 0.5, 1.6);
}

.scale-enter-from,
.scale-leave-to {
  will-change: transform, opacity;
  opacity: 0;
  transform: scale(0.6);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  will-change: opacity;
  opacity: 0;
}

.loader-block {
  margin-top: -180px;
  font-family: Roboto, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 4px;

  & > .letter {
    color: inherit;
    animation: 1.4s loader infinite;

    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 0.1s;
    }
    &:nth-child(3) {
      animation-delay: 0.2s;
    }
    &:nth-child(4) {
      animation-delay: 0.3s;
    }
    &:nth-child(5) {
      animation-delay: 0.4s;
    }
    &:nth-child(6) {
      animation-delay: 0.5s;
    }
    &:nth-child(7) {
      animation-delay: 0.6s;
    }
  }
}

@keyframes loader {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.fullscreen-order-image {
  display: block;
  justify-self: center;
  align-self: center;
  max-width: 100vw;
  max-height: 100vh;
  padding-bottom: 20px;
  cursor: zoom-out;
}
</style>
