<template>
  <div class="btn-block">
    <transition name="slide" mode="out-in">
      <div class="confirm-buttons" v-if="status && isConfirm">
        <div class="half-btn accept-btn" @click="accept">Подтвердить</div>
        <div class="half-btn cancel-btn" @click="cancel">Отмена</div>
      </div>
      <button :class="btnClass" @click="isConfirm = !isConfirm" v-else>
        <slot>Click me</slot>
      </button>
    </transition>
  </div>
</template>

<script>
import { ref } from 'vue'
export default {
  props: {
    btnClass: {
      type: String,
      default: () => ''
    },
    status: {
      type: Boolean,
      default: true
    },
    handler: {
      type: Function
    }
  },
  emits: ['btnAcepted'],
  setup(props) {
    const isConfirm = ref(false)

    const accept = () => {
      props.handler()
    }

    const cancel = () => {
      isConfirm.value = false
    }

    return { accept, cancel, isConfirm }
  }
}
</script>

<style lang="scss" scoped>
.btn-block {
  display: flex;
  width: calc(100% + 40px);
  padding: 20px;
  transform: translate(-20px, -20px);
  box-sizing: border-box;
  overflow: hidden;
}

.confirm-buttons {
  display: flex;
  width: 100%;
  border-radius: 7px;

  .half-btn {
    flex-grow: 0;
    text-align: center;
    border: none;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
    cursor: pointer;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      @media (max-width: 899px) {
        box-shadow: none;
      }
    }

    &:active {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 6px;
      @media (max-width: 899px) {
        box-shadow: none;
      }
    }
  }

  .accept-btn {
    padding: 14px;
    background-color: rgba(14, 238, 152, 0.7);
    border-radius: 5px 0 0 5px;
  }

  .cancel-btn {
    padding: 14px;
    color: #fff;
    background-color: rgba(238, 14, 14, 0.7);
    border-radius: 0 5px 5px 0;
  }
}
</style>
