<template>
  <div
    class="input-group--file"
    ref="dragArea"
    @drag.prevent
    @dragstart.prevent
    @dragend.prevent
    @dragover.prevent
    @dragenter.prevent.capture="paintUploadArea"
    @dragleave.prevent.capture="paintUploadArea"
    @drop.prevent="dragAndDropFile"
  >
    <input
      type="file"
      ref="fileInputEl"
      multiple
      @change="addFiles"
      accept=".jpg,.jpeg,.png,.gif"
    />
    <span class="upload-action">
      <span @click="openFilePickerWindow">Добавить файл</span>
      <span>&nbsp;или перетащите файлы сюда</span>
    </span>
    <transition-group
      name="list-complete"
      tag="ul"
      class="upload-preview"
      :class="previewClass"
    >
      <li
        class="upload-preview__item list-complete-item"
        v-for="(fileList, key) in uploadFiles"
        :key="fileList.file.name"
        @click="removePrevewImage(key)"
      >
        <img class="upload-preview__item--img" :src="fileList.fileData" />
        <span>
          {{ fileList.file.name }}
        </span>
      </li>
    </transition-group>
  </div>
</template>

<script>
export default {
  props: {
    previewClass: { type: String, default: '' }
  },
  emits: {
    setFiles: Array
  },
  inject: ['addAlert'],
  data: () => ({
    uploadFiles: []
  }),
  methods: {
    openFilePickerWindow() {
      this.$refs.fileInputEl.click()
    },
    uploadFilesCount(filesArrayLength) {
      const filesCount = filesArrayLength + this.uploadFiles.length
      if (filesCount > 10) {
        this.addAlert('error', 'Максимальное количество файлов 10')
        this.$refs.fileInputEl.value = null
        return true
      }
      return false
    },
    addFiles() {
      if (this.uploadFilesCount(this.$refs.fileInputEl.files.length)) return
      Array.from(this.$refs.fileInputEl.files).forEach(f => {
        if (/\.(jpe?g|png|gif)$/i.test(f.name)) {
          this.createPreviewList(f)
        } else {
          this.addAlert(
            'error',
            `Выбран недопустимый тип файла ${f.name}, допустимые форматы - jpg,jpeg,png,gif`
          )
        }
      })
    },

    dragAndDropFile(e) {
      this.$refs.dragArea.classList.remove('drag-over')
      if (this.uploadFilesCount(e.dataTransfer.files.length)) return
      this.$refs.fileInputEl.files = e.dataTransfer.files
      Array.from(e.dataTransfer.files).forEach(file => {
        if (/\.(jpe?g|png|gif)$/i.test(file.name)) {
          this.createPreviewList(file)
        } else {
          this.addAlert(
            'error',
            'Выбран недопустимый тип файла, допустимые форматы - jpg,jpeg,png,gif'
          )
        }
      })
    },
    removePrevewImage(idx) {
      this.$refs.fileInputEl.value = null
      this.uploadFiles.splice(idx, 1)
      const files = this.uploadFiles.map(el => el.file)
      this.$emit('setFiles', files)
    },
    createPreviewList(file) {
      const preview = URL.createObjectURL(file)
      this.uploadFiles.push({ file, fileData: preview })
      const files = this.uploadFiles.map(el => el.file)
      this.$emit('setFiles', files)
    },
    paintUploadArea() {
      this.$refs.dragArea.classList.toggle('drag-over')
    }
  }
}
</script>

<style lang="scss">
.input-group--file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 46px;
  border: 1.5px solid #e2eafa;
  border-radius: 3px;
  box-sizing: border-box;
  transition: all 0.5s ease;

  & .upload-action {
    display: flex;
    justify-content: center;
    margin: 12px auto;
    color: var(--main-blue);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
    user-select: none;

    & > span {
      color: inherit;
      z-index: 0;
    }

    & > span:last-child {
      color: #8e8e8e;
      cursor: default;
      z-index: 0;

      @media (max-width: 899px) {
        display: none;
      }
    }
  }
}

.drag-over {
  border: 1.5px solid var(--main-blue);
  background-color: rgba(56, 120, 244, 0.03);
}

.upload-preview {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  padding: 0 10px;
  overflow: hidden;

  &__item {
    position: relative;
    display: block;
    justify-self: center;
    width: 90px;
    box-sizing: border-box;
    font-size: 14px;
    color: #8e8e8e;
    white-space: nowrap;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.5s ease;
    margin-bottom: 5px;

    &::after {
      opacity: 0;
      content: url('../assets/img/delete.svg');
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 60px;
      top: 0;
      border-radius: 5px;
      font-size: 40px;
      color: #fff;
      background-color: #111;
      transition: all 0.3s ease-in-out;
    }

    @media (min-width: 900px) {
      &:hover::after {
        opacity: 0.7;
      }
    }

    &--img {
      display: block;
      width: 90px;
      height: 60px;
      margin: 0 auto 5px;
      border-radius: 5px;
      pointer-events: all;
    }

    & > span {
      display: block;
      margin-right: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.list-complete-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.list-complete-leave-to {
  opacity: 0;
  transform: scale(0.6);
}

.list-complete-move {
  transition: all 0.6s ease-in-out;
}
</style>
