<template>
  <transition name="blur-overlay">
    <div class="menu-overlay" v-if="visible" @click="hideMenus"></div>
  </transition>
  <left-menu />
  <right-menu />
</template>

<script>
import { defineAsyncComponent } from 'vue'
import { mapState, mapActions } from 'vuex'

const leftMenu = defineAsyncComponent(() =>
  import('./heaaderMenus/HeaderLeftMenu')
)

const rightMenu = defineAsyncComponent(() =>
  import('./heaaderMenus/HeaderRightMenu')
)

export default {
  components: {
    leftMenu,
    rightMenu
  },
  data: () => ({
    blurOverlay: false
  }),
  computed: {
    ...mapState('headerMenus', {
      visible: state => state.left.visible || state.right.visible,
      menuComponent: state => state.menuComponent
    })
  },
  methods: {
    ...mapActions('headerMenus', ['hideMenus'])
  },
  watch: {
    visible(newValue) {
      if (newValue && document.body.offsetWidth < 900) {
        document.body.style.overflow = 'hidden'
        this.blurOverlay = true
      } else {
        document.body.style.overflow = 'visible'
        this.blurOverlay = false
      }
    }
  }
}
</script>

<style lang="scss">
.menu-overlay {
  position: absolute;
  display: none;
  left: 0;
  top: -10px;
  right: 0;
  bottom: -40px;
  min-height: 102vh;
  background-color: rgba(17, 20, 37, 0.4);
  z-index: 998;

  @media (max-width: 899px) {
    display: block;
  }
}

.blur-overlay-enter-active {
  transition: 0.3s ease;
}

.blur-overlay-leave-active {
  transition: 0.3s ease;
}

.blur-overlay-enter-from,
.blur-overlay-leave-to {
  opacity: 0;
}
.blur-overlay-leave-from,
.blur-overlay-enter-to {
  opacity: 1;
}
</style>
