<template>
  <div class="password-difficulty">
    <span
      class="password-dificulty--value"
      :class="[passwordDifuciltyValidator == 1 && 'password-dificulty--active']"
    ></span>
    <span
      class="password-dificulty--value"
      :class="[passwordDifuciltyValidator == 2 && 'password-dificulty--active']"
    ></span>
    <span
      class="password-dificulty--value"
      :class="[passwordDifuciltyValidator == 3 && 'password-dificulty--active']"
    ></span>
  </div>
</template>

<script>
export default {
  props: {
    validationValue: {
      type: String,
      default: ''
    }
  },
  computed: {
    passwordDifuciltyValidator() {
      let dificulty = 0
      const numsTest = this.validationValue.match(/[0-9]/)
      const smallLetters = this.validationValue.match(/[a-z]/)
      const bigLetters = this.validationValue.match(/[A-Z]/)
      const specialTest = this.validationValue.match(
        /[`,.'"{}!@#$%^&*()-+=_/\\|]/
      )
      if (numsTest || smallLetters || bigLetters) dificulty = 1
      if (
        smallLetters &&
        (numsTest || bigLetters || specialTest) &&
        this.validationValue.length > 5
      )
        dificulty = 2
      if (
        smallLetters &&
        (numsTest || bigLetters) &&
        specialTest &&
        this.validationValue.length > 7
      ) {
        dificulty = 3
      }
      if (this.validationValue.length === 0) dificulty = 0
      return dificulty
    }
  }
}
</script>

<style lang="scss">
.password-dificulty {
  display: inline-block;
  &--value {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 3px;
    margin-top: 20px;
    background-color: #c4c4c4;
    box-sizing: border-box;
    transition: all 0.25s ease-in-out;

    &::before {
      position: absolute;
      top: -17px;
      width: 100%;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      opacity: 0;
      transition: all 0.4s ease;
    }

    &:nth-child(1) {
      &::before {
        content: 'Слабый';
      }
    }

    &:nth-child(2) {
      &::before {
        content: 'Средний';
      }
    }

    &:nth-child(3) {
      &::before {
        content: 'Надежный';
      }
    }

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &--active {
    &:nth-child(1) {
      background-color: #da2323;

      &::before {
        opacity: 1;
      }
    }

    &:nth-child(2) {
      background-color: #eeb41f;

      &::before {
        opacity: 1;
      }
    }

    &:nth-child(3) {
      background-color: #179c25;

      &::before {
        opacity: 1;
      }
    }
  }
}
</style>
