<template>
  <div
    id="g-recaptcha"
    class="g-recaptcha"
    ref="recaptchaContainer"
    :key="'captcha-reset-key' + resetKey"
  ></div>
</template>

<script setup>
import { ref, nextTick } from 'vue'
import { load } from 'recaptcha-v3'

const emit = defineEmits(['verify'])

const captcha = ref(null)
const resetKey = ref(0)
const recaptchaContainer = ref(null)

const captchaExecute = (token = '') => {
  emit('verify', token)
}

const captchaReset = e => {
  captcha.value.reset()
  resetKey.value += 1
  nextTick(() => {
    renderCaptcha(recaptchaContainer.value, captcha.value)
  })
  emit('verify', '')
}

const renderCaptcha = (container, instance) => {
  instance.render(container, {
    sitekey: process.env.VUE_APP_CAPTCHA_KEY,
    callback: captchaExecute,
    'expired-callback': captchaReset,
    'error-callback': captchaReset
  })
}

load(process.env.VUE_APP_CAPTCHA_KEY).then(instance => {
  resetKey.value = instance.recaptchaID
  captcha.value = instance.recaptcha
  renderCaptcha(recaptchaContainer.value, captcha.value)
})
</script>

<style lang="scss">
.g-recaptcha {
  position: relative;
}
</style>
