<template>
  <div class="price-filter--wrapper">
    <h4 class="price-title">Цена, ₽</h4>
    <div class="input-group">
      <input
        type="number"
        placeholder="от"
        v-model.lazy.number="priceRange[0]"
        @keydown.enter.prevent="$event.target.blur()"
        @change="changePrice(priceRange)"
      />
      <input
        type="number"
        placeholder="до"
        v-model.lazy.number="priceRange[1]"
        @keydown.enter.prevent="$event.target.blur()"
        @change="changePrice(priceRange)"
      />
    </div>
    <div class="range-slider">
      <Slider
        v-model="priceRange"
        :min="min"
        :max="max"
        :lazy="false"
        :tooltips="false"
        @change="changePrice"
      />
    </div>
  </div>
</template>

<script>
import Slider from '@vueform/slider'
export default {
  components: {
    Slider
  }
}
</script>

<script setup>
import { ref } from 'vue'

const props = defineProps({
  modelValue: { type: Array, required: true },
  min: Number,
  max: Number
})

const emit = defineEmits(['update:modelValue', 'changePrice'])

const priceRange = ref(props.modelValue) // temporary variable for inputs sync

const changePrice = value => {
  priceRange.value = value
  emit('update:modelValue', value)
  emit('changePrice', value)
}
</script>


<style src="@vueform/slider/themes/default.css"></style>

<style>
:root {
  --slider-connect-bg: var(--main-blue);
  --slider-height: 1px;
  --slider-handle-shadow: none;
  --slider-handle-shadow-active: none;
  --slider-handle-border: 1px solid var(--main-blue);
}

.slider-handle-upper {
  background-color: var(--main-blue);
}
</style>

<style lang="scss" scoped>
.price-filter--wrapper {
  padding: 25px 25px 42px;
  border-bottom: 1px solid rgba(49, 91, 173, 0.25);
}

.price-title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #323232;
}

.input-group {
  display: flex;
  justify-content: space-between;

  input {
    border-radius: 4px;

    &:focus {
      border-color: var(--main-blue);
    }
  }

  input:first-child {
    margin-right: 10px;
  }
}

.range-slider {
  padding: 5px 5px 0;
}
</style>
