<template>
  <div class="type-filter--wrapper">
    <h3 class="type-title">Тип объявления</h3>
    <AppCheckbox
      name="account"
      :initValue="filters.account"
      @change="changeType"
      :labelColor="'#323232'"
      :label="'Аккаунты'"
    />
    <AppCheckbox
      name="item"
      :initValue="filters.item"
      @change="changeType"
      :labelColor="'#323232'"
      :label="'Предметы'"
    />
    <AppCheckbox
      name="service"
      :initValue="filters.service"
      @change="changeType"
      :labelColor="'#323232'"
      :label="'Услуги'"
    />
    <AppCheckbox
      name="other"
      :initValue="filters.other"
      @change="changeType"
      :labelColor="'#323232'"
      :label="'Прочее'"
    />
  </div>
</template>

<script>
export default {
  name: 'TypeFilter'
}
</script>

<script setup>
import { computed, ref } from 'vue'
import { useRoute } from 'vue-router'
import AppCheckbox from '@/components/inputComponents/AppCheckbox.vue'
import { getFilters } from '../../../utils/LocalStorageHelpers'

const emit = defineEmits(['changeTypeFilter'])
const route = useRoute()

const accountFilter = computed(() => {
  if (route.query.type) {
    return route.query.type.includes('account')
  }
  if (getFilters()?.type) {
    return getFilters().type.includes('account')
  }
  return true
})

const itemFilter = computed(() => {
  if (route.query.type) {
    return route.query.type.includes('item')
  }
  if (getFilters()?.type) {
    return getFilters().type.includes('item')
  }
  return true
})

const serviceFilter = computed(() => {
  if (route.query.type) {
    return route.query.type.includes('service')
  }
  if (getFilters()?.type) {
    return getFilters().type.includes('service')
  }
  return true
})

const otherFilter = computed(() => {
  if (route.query.type) {
    return route.query.type.includes('other')
  }
  if (getFilters()?.type) {
    return getFilters().type.includes('other')
  }
  return true
})

const filters = ref({
  account: accountFilter.value,
  item: itemFilter.value,
  service: serviceFilter.value,
  other: otherFilter.value
})

const changeType = val => {
  const [key, value] = val
  filters.value[key] = value
  emit('changeTypeFilter', filtersState.value)
}

const filtersState = computed(() => {
  const allTypes = Object.keys(filters.value)
  const currTypes = allTypes.filter(key => filters.value[key])
  return currTypes.length ? currTypes : allTypes
})
</script>

<style lang="scss" scoped>
.type-filter--wrapper {
  display: flex;
  flex-direction: column;
  padding: 22px 32px;
}

.type-title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}

.input-group {
  margin-bottom: 15px;

  label {
    color: #323232 !important;
  }
}
</style>
