<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    :width="width"
    :height="height"
    :viewBox="`0 0 ${width} ${height}`"
    :aria-label="iconTitle"
    role="navigation"
  >
    <title :id="iconTitle">
      {{ iconTitle }}
    </title>
    <g :fill="iconColor">
      <component :is="iconName + 'Icon'" />
    </g>
  </svg>
</template>

<script>
import vkFooterIcon from './footerIcons/vkIcon.vue'
import fbFooterIcon from './footerIcons/fbFooterIcon.vue'
import instaFooterIcon from './footerIcons/instaFooterIcon.vue'
import painterestFooterIcon from './footerIcons/painterestFooterIcon.vue'
import vkMenuIcon from './menuIcons/vkMenuIcon.vue'
import instaMenuIcon from './menuIcons/instaMenuIcon.vue'
import googleMenuIcon from './menuIcons/googleMenuIcon.vue'
import fbMenuIcon from './menuIcons/fbMenuIcon.vue'
import openEyeIcon from './supportIcons/OpenEyeIcon.vue'
import closeEyeIcon from './supportIcons/CloseEyeIcon.vue'
import searchIcon from './supportIcons/searchIcon.vue'
import starIcon from './supportIcons/StarIcon.vue'

export default {
  components: {
    vkFooterIcon,
    fbFooterIcon,
    instaFooterIcon,
    painterestFooterIcon,
    vkMenuIcon,
    instaMenuIcon,
    fbMenuIcon,
    googleMenuIcon,
    openEyeIcon,
    closeEyeIcon,
    searchIcon,
    starIcon
  },
  props: {
    iconName: {
      type: String,
      default: ''
    },
    width: {
      type: [Number, String],
      default: 24
    },
    height: {
      type: [Number, String],
      default: 24
    },
    iconColor: {
      type: String,
      default: 'currentColor'
    },
    iconTitle: {
      default: 'icon'
    }
  }
}
</script>

<style scoped>
svg {
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: -2px;
}
</style>
