<template>
  <div
    class="eye-wrapper"
    @mousedown.prevent="$emit('inputTypeChange')"
    @mouseup.prevent
  >
    <icon-base
      :width="width"
      :height="height"
      :iconTitle="'hide password'"
      :iconName="'closeEye'"
      v-if="showPassword"
    />
    <icon-base
      :width="width"
      :height="height + 12"
      :iconTitle="'show password'"
      :iconName="'openEye'"
      v-else
    />
  </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'

const iconBase = defineAsyncComponent(() => import('./iconBase.vue'))

export default {
  components: { iconBase },
  props: {
    showPassword: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    width: 16,
    height: 12
  })
}
</script>

<style lang="scss">
.eye-wrapper {
  position: absolute;
  top: 12px;
  right: 25px;
  width: 12px;
  height: 16px;
  cursor: pointer;
  z-index: 99;
}
</style>
