<template :class="[isOverlayActive && 'scroll-blocked']">
  <app-alerts-block :alerts="alerts" />
  <app-popup />
  <app-header />
  <router-view v-slot="{ Component }">
    <transition name="fade-main">
      <component :is="Component" />
    </transition>
  </router-view>
  <app-footer />
</template>



<script>
import {
  defineAsyncComponent,
  reactive,
  provide,
  computed,
  onBeforeMount
} from 'vue'
import { useStore } from 'vuex'
import appAlertsBlock from './components/alerts/AppAlertsBlock.vue'

const AppHeader = defineAsyncComponent(() =>
  import('./components/AppHeader.vue')
)
const AppFooter = defineAsyncComponent(() =>
  import('./components/AppFooter.vue')
)
const AppPopup = defineAsyncComponent(() => import('./components/AppPopup.vue'))

export default {
  components: {
    AppHeader,
    AppFooter,
    AppPopup,
    appAlertsBlock
  },
  setup() {
    const store = useStore()
    const alerts = reactive(new Map())

    const addAlert = (type, message) => {
      if (!message) return
      const id = Date.now() + Math.ceil(Math.random() * 1000)
      alerts.set(id, { type, message, id })
    }

    const closeAlert = alertId => {
      alerts.delete(alertId)
    }

    const getBodyWidth = () => {
      return document.body.offsetWidth
    }

    const isOverlayActive = computed(() => {
      return (
        (store.state.headerMenus.left.visible ||
          store.state.headerMenus.right.visible) &&
        getBodyWidth() < 900
      )
    })

    provide('closeAlert', closeAlert)
    provide('addAlert', addAlert)

    onBeforeMount(() => {
      store.dispatch('games/getOftenGames')
      store
        .dispatch('user/auth/checkTokenValid')
        .then(() => {
          if (store.state.user.auth.isLoggedIn) {
            return store.dispatch('user/getUserData', store.state.user.id)
          }
          return Promise.reject()
        })
        .then(user => {
          if (!user) return Promise.reject()
          store.commit('user/userDataUpdate', user)
        })
        .catch(e => {
          if (e) {
            addAlert('error', e)
          }
        })
    })

    return { alerts, isOverlayActive }
  }
}
</script>

<style lang="scss">
body {
  &::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(56, 120, 244, 0.149);
    box-sizing: border-box;
  }

  &::-webkit-scrollbar-thumb {
    border-left: 4px solid #3878f4;
  }

  &::-webkit-scrollbar-track {
    background-color: #f4f7fb;
  }
}

@import 'styles/main.scss';

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

.scroll-blocked {
  overflow: hidden;
}

.application {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fade-main-enter-active {
  transition: all 0.15s ease-out 0.15s;
}
.fade-main-leave-active {
  transition: all 0.15s ease-out;
}

.fade-main-enter-to {
  opacity: 1;
}

.fade-main-enter-from,
.fade-main-leave-to {
  opacity: 0;
}
</style>
