<template>
  <div class="buy-page--container">
    <header class="buy-page--header">
      Найденые объявления
      <div class="buy-page--header__filter-buttons">
        <button class="btn btn-gray filter-btn" @click="toggleFilters">
          Фильтры
          <svg
            width="13"
            height="12"
            viewBox="0 0 13 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.6823 1.8388H5.05892C4.87683 1.29797 4.36528 0.907227 3.76382 0.907227C3.16237 0.907227 2.65082 1.29797 2.46873 1.8388H1.43487C1.19471 1.8388 1 2.03351 1 2.27367C1 2.51383 1.19471 2.70854 1.43487 2.70854H2.46875C2.65085 3.24937 3.1624 3.64012 3.76385 3.64012C4.3653 3.64012 4.87685 3.24937 5.05895 2.70854H11.6823C11.9225 2.70854 12.1172 2.51383 12.1172 2.27367C12.1172 2.03351 11.9225 1.8388 11.6823 1.8388ZM3.76382 2.77038C3.48994 2.77038 3.26712 2.54755 3.26712 2.27367C3.26712 1.99979 3.48994 1.77696 3.76382 1.77696C4.0377 1.77696 4.26053 1.99979 4.26053 2.27367C4.26053 2.54755 4.0377 2.77038 3.76382 2.77038Z"
              fill="#323232"
              stroke="#323232"
              stroke-width="0.1"
            />
            <path
              d="M11.6823 5.56512H10.6484C10.4663 5.02429 9.95473 4.63354 9.35331 4.63354C8.75188 4.63354 8.24033 5.02429 8.05824 5.56512H1.43487C1.19471 5.56512 1 5.75983 1 5.99999C1 6.24015 1.19471 6.43486 1.43487 6.43486H8.05824C8.24033 6.97569 8.75191 7.36643 9.35334 7.36643C9.95476 7.36643 10.4663 6.97569 10.6484 6.43486H11.6823C11.9225 6.43486 12.1172 6.24015 12.1172 5.99999C12.1172 5.75983 11.9225 5.56512 11.6823 5.56512ZM9.35334 6.4967C9.07946 6.4967 8.85663 6.27387 8.85663 5.99999C8.85663 5.72611 9.07946 5.50328 9.35334 5.50328C9.62722 5.50328 9.85004 5.72611 9.85004 5.99999C9.85004 6.27387 9.62722 6.4967 9.35334 6.4967Z"
              fill="#323232"
              stroke="#323232"
              stroke-width="0.1"
            />
            <path
              d="M11.6823 9.29144H6.9221C6.74001 8.75061 6.22846 8.35986 5.627 8.35986C5.02555 8.35986 4.514 8.75061 4.33191 9.29144H1.43487C1.19471 9.29144 1 9.48614 1 9.72631C1 9.96647 1.19471 10.1612 1.43487 10.1612H4.33191C4.514 10.702 5.02555 11.0928 5.627 11.0928C6.22846 11.0928 6.74001 10.702 6.9221 10.1612H11.6823C11.9225 10.1612 12.1172 9.96647 12.1172 9.72631C12.1172 9.48614 11.9225 9.29144 11.6823 9.29144ZM5.627 10.223C5.35312 10.223 5.1303 10.0002 5.1303 9.72634C5.1303 9.45246 5.35312 9.22963 5.627 9.22963C5.90088 9.22963 6.12371 9.45243 6.12371 9.72631C6.12371 10.0002 5.90088 10.223 5.627 10.223Z"
              fill="#323232"
              stroke="#323232"
              stroke-width="0.1"
            />
          </svg>
        </button>
        <button class="btn btn-primary-reverse sell-btn" @click="openSellPopup">
          Подать объявление
        </button>
      </div>
    </header>
    <main class="orders">
      <OrdersList
        :orders="ordersList"
        @resetFilters="clearFilters"
        :searchStatus="loading"
      />
      <PagePagination
        :pagesCount="pagesCount"
        @changePage="changePage"
        v-if="pagesCount"
        :key="resetKey + 'pagination'"
      />
    </main>
    <aside
      class="orders-filters"
      :class="{ 'orders-filters__sm-visible': smFiltersVisibility }"
    >
      <BuyOrdersFilter @reset="clearFilters" @close="toggleFilters">
        <SearchInput
          :inputPlaceholder="'Я ищу...'"
          :searching="gameSerching"
          searchBtn
          v-model="gameSearchString"
          v-model:searchResult="games"
          @search="searchGameHandler"
          @change="filterByGame"
          :key="resetKey + 20"
        />
        <SelectElement
          class="orders-filters--select"
          :optionsList="sortOptions"
          defaultPlaceholder="По умолчанию"
          v-model="sortValue"
          @change="changeSort"
          :key="resetKey + 1"
        />
        <div class="price-type-block">
          <PriceFilter
            :min="minPrice"
            :max="maxPrice"
            v-model="priceRange"
            @changePrice="changePrice"
            :key="resetKey + 2"
          />
          <TypeFilter @changeTypeFilter="changeType" :key="resetKey + 4" />
        </div>
      </BuyOrdersFilter>
      <div class="sell-btn-block">
        <h3 class="sell-btn-block__title">Хотите продать?</h3>
        <button
          class="btn btn-primary sell-btn-block__btn"
          @click="openSellPopup"
        >
          Подать объявление
        </button>
      </div>
    </aside>
  </div>
</template>

<script>
import {
  defineAsyncComponent,
  computed,
  defineComponent,
  inject,
  onBeforeUnmount,
  ref,
  watchEffect
} from 'vue'
import { useStore } from 'vuex'
import { useRouter, useRoute } from 'vue-router'
import { debounce } from '../utils/debounce'
import { getFilters, saveFilters } from '../utils/LocalStorageHelpers'

const PagePagination = defineAsyncComponent(() =>
  import('@/components/ByPage/PagePagination.vue')
)
import OrdersList from '@/components/ByPage/BuyOrdersList.vue'
import BuyOrdersFilter from '@/components/ByPage/BuyOrdersFilter.vue'
import SearchInput from '@/components/inputComponents/SearchInput.vue'
import SelectElement from '@/components/inputComponents/SelectElement.vue'
import TypeFilter from '../components/ByPage/Filters/TypeFilter.vue'
import PriceFilter from '../components/ByPage/Filters/PriceFilter.vue'

export default defineComponent({
  components: {
    OrdersList,
    BuyOrdersFilter,
    PagePagination,
    SelectElement,
    SearchInput,
    PriceFilter,
    TypeFilter
  },
  setup() {
    const addAlert = inject('addAlert')
    const router = useRouter()
    const route = useRoute()
    const store = useStore()
    const axios = store.axios

    const loading = ref(true)
    const resetKey = ref(Math.floor(Math.random() * 99))

    const smFiltersVisibility = ref(false)
    const toggleFilters = () => {
      smFiltersVisibility.value = !smFiltersVisibility.value
    }

    const openSellPopup = () =>
      store.dispatch(
        'popupActions/openPrivatPopup',
        store.state.popupActions.popupComponentsList.sell
      )

    if (getFilters()) {
      router.push({
        query: getFilters()
      })
    }

    const updateSearchParams = async newSearchParams => {
      if (newSearchParams == null) {
        saveFilters(null)
        await router.push({ query: null })
        gameSearchString.value = ''
        return
      }

      const updatedFilters = {
        sortBy: route.query.sortBy,
        priceRange: route.query.priceRange,
        type: route.query.type,
        game: route.query.game,
        ...newSearchParams
      }

      saveFilters(updatedFilters)
      await router.push({ query: updatedFilters })
    }

    const sortValue = computed({
      get: () => route.query?.sortBy || getFilters()?.sortBy || '',
      set: value => {
        updateSearchParams({ sortBy: value })
      }
    })

    const sortOptions = [
      { title: 'Сначала новые', value: 'new' },
      { title: 'По возрастанию цены ', value: 'priceUp' },
      { title: 'По убыванию цены', value: 'priceDown' },
      { title: 'Сначала платныe', value: 'vip' }
    ]
    const changeSort = async sortType => {
      sortValue.value = sortType
    }

    const minPrice = computed(() => store.state.orders.minPrice)
    const maxPrice = computed(() => store.state.orders.maxPrice)

    const priceRange = computed({
      get: () =>
        route.query?.priceRange ||
        getFilters()?.priceRange?.map(el => +el) || [
          minPrice.value,
          maxPrice.value
        ],
      set: value => {
        updateSearchParams({ priceRange: value })
      }
    })

    const changePrice = async price => {
      priceRange.value = price
    }

    const changeType = type => {
      updateSearchParams({ type })
    }

    const gameSearchString = ref(route.query.game || getFilters()?.game || '')
    const games = ref(store.state.games.oftenGames)
    const gameSerching = ref(false)

    const filterByGame = game => {
      updateSearchParams({ game })
    }

    const searchGameRequest = async game => {
      if (!gameSearchString.value.length) {
        games.value = store.state.games.oftenGames
        return
      }

      if (games.value.some(el => el.title === game)) {
        return
      }
      gameSerching.value = true
      const { data } = await axios.get('api/games/search', {
        params: { game }
      })
      games.value = data
      gameSerching.value = false
    }

    const searchGameHandler = async () => {
      if (games.value.some(el => el.title === gameSearchString.value)) {
        games.value = [
          games.value.find(el => el.title == gameSearchString.value)
        ]
        filterByGame(games.value[0].title)
        return
      }

      try {
        searchGameRequest(gameSearchString.value)
      } catch (e) {
        addAlert('error', 'Ошибка запроса')
      }
    }

    const clearFilters = async () => {
      updateSearchParams(null)
      resetKey.value += 1
      smFiltersVisibility.value = false
    }

    const debouncedSearch = debounce(async searchParams => {
      try {
        loading.value = true
        await store.dispatch('orders/getOrders', searchParams)
        if (pagesCount.value < route.query.page) {
          await router.replace({ query: { ...route.query, page: 1 } })
        }
        store.dispatch('orders/getPriceRange')
        loading.value = false
        gameSearchString.value = route.query.game || ''
        searchGameRequest(gameSearchString.value)
        resetKey.value += 1
      } catch (e) {
        addAlert('error', 'Что то пошло не так')
      }
    }, 700)

    const ordersList = computed(() => store.state.orders.ordersList)
    const itemsOnPage = +process.env.VUE_APP_ITEMS_ON_PAGE
    const pagesCount = computed(() =>
      Math.ceil(store.state.orders.searchedOrdersCount / itemsOnPage)
    )
    const changePage = async page => {
      await router.push({ query: { ...route.query, page } })
    }

    const queryWatcher = watchEffect(
      () => {
        debouncedSearch(route.query)
      },
      { flush: 'post' }
    )

    onBeforeUnmount(() => {
      queryWatcher()
    })

    return {
      resetKey,
      toggleFilters,
      smFiltersVisibility,
      clearFilters,
      changePage,
      games,
      gameSearchString,
      gameSerching,
      searchGameHandler,
      filterByGame,
      openSellPopup,
      loading,
      ordersList,
      pagesCount,
      sortOptions,
      sortValue,
      changeSort,
      priceRange,
      changePrice,
      changeType,
      minPrice,
      maxPrice
    }
  }
})
</script>

<style lang="scss" scoped>
.buy-page--container {
  display: grid;
  grid-template-rows: 45px max-content;
  grid-template-columns: 73.5% auto;
  grid-column-gap: 40px;
  min-height: calc(100vh);
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  padding: 120px 20px 80px;

  @media (max-width: 1440px) {
    grid-template-columns: 1fr 0.3fr;
  }

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 65px;
  }
}

.buy-page--header {
  grid-column: 1/2;
  grid-row: 1/2;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;

  @media (max-width: 1440px) {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 44px;
  }

  &__filter-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;

    @media (max-width: 1024px) {
      padding-bottom: 25px;
    }

    .filter-btn {
      display: none;
      min-width: 140px;
      padding: 0 20px;

      @media (max-width: 1024px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
      }
    }

    .sell-btn {
      display: none;

      &::after {
        content: '';
      }

      @media (max-width: 1024px) {
        display: block;
        margin: 0;
      }
    }
  }
}

.orders {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 45px 0 0;

  @media (max-width: 1024px) {
    grid-column: 1/3;
    margin: 0;
  }
}

.orders-filters {
  grid-row: 1/3;
  position: relative;
  display: grid;
  grid-template-rows: 46px min-content min-content min-content;
  grid-row-gap: 15px;
  transition: all 0.4s ease-in-out;

  @media (max-width: 1024px) {
    padding: 20px;
    position: absolute;
    grid-template-rows: 46px min-content min-content min-content;
    grid-row-gap: 15px;
    max-width: 425px;
    top: -100%;
    left: 0;
  }

  &__sm-visible {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 425px;
    background-color: #fff;
    will-change: transform;
    z-index: 2;
  }

  &--select {
    @media screen and (min-width: 1024px) {
      position: absolute;
      width: 245px;
      top: 0;
      right: calc(100% + 40px);
    }
  }

  .price-type-block {
    background: #ffffff;
    border: 1px solid rgba(49, 91, 173, 0.25);
    border-radius: 6px;
  }

  .sell-btn-block {
    padding: 35px 37px;
    background: #ffffff;
    border: 1px solid rgba(49, 91, 173, 0.25);
    border-radius: 6px;

    @media (max-width: 1024px) {
      display: none;
    }

    &__title {
      margin-bottom: 25px;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      text-align: center;
      letter-spacing: 0.02em;
    }

    &__btn {
      width: 265px;
    }
  }
}
</style>