<template>
  <AppWrapper :key="$route.fullPath">
    <div class="forbiden">
      <h2>You have not rights for acces on this page.</h2>
      <button @click="$router.go(-1)">◄ back</button>
    </div>
  </AppWrapper>
</template>

<script>
import AppWrapper from '../components/wrappers/CenterTickerWrapper.vue'

export default {
  components: { AppWrapper }
}
</script>

<style lang="scss"></style>
