<template>
  <main v-cloak>
    <section-offer />
    <section-description />
    <section-info />
    <section-sell />
    <section-delimiter />
    <section-buy />
    <section-delimiter class="sm-delimiter" />
    <ReviewsSlider />
  </main>
</template>

<script>
import { defineAsyncComponent } from 'vue'

import sectionOffer from '../components/homepage/sectionOffer.vue'

const sectionDescription = defineAsyncComponent(() =>
  import('../components/homepage/sectionDescription.vue')
)

const sectionInfo = defineAsyncComponent(() =>
  import('../components/homepage/sectionInfo.vue')
)

const sectionSell = defineAsyncComponent(() =>
  import('../components/homepage/sectionSell.vue')
)

const sectionDelimiter = defineAsyncComponent(() =>
  import('../components/homepage/sectionDelimiter.vue')
)

const sectionBuy = defineAsyncComponent(() =>
  import('../components/homepage/sectionBuy.vue')
)

const ReviewsSlider = defineAsyncComponent(() =>
  import('../components/homepage/slider/ReviewsSlider.vue')
)

export default {
  components: {
    sectionOffer,
    sectionDescription,
    sectionInfo,
    sectionSell,
    sectionDelimiter,
    sectionBuy,
    ReviewsSlider
  },
  data: () => ({
    searchText: ''
  }),
  methods: {
    search() {}
  }
}
</script>
<style lang="scss">
[v-cloak] {
  display: none;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (max-width: 899px) {
  .container {
    margin: 0 60px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0;
  }
}
</style>
