<template>
  <main class="rules">
    <div class="rules-delimiter"></div>
    <div class="rules-container">
      <div class="rules-title">
        <h1>Правила</h1>
        <p>
          Запрещена продажа товаров, полученных неправомерным путем (взломом,
          брутом, кардингом и&nbsp;т.&nbsp;д.). Запрещено оказание услуг
          по&nbsp;обучению какой-либо неправомерной деятельности или продажа
          информации о&nbsp;ней. Запрещено просить покупателей подтверждать
          заказ до&nbsp;его фактического выполнения. Запрещено мошенничество.
          Запрещено проведение лотерей и&nbsp;розыгрышей. Запрещено использовать
          свой аватар нетрадиционным способом (текст, реклама, акции и&nbsp;др.)
        </p>
        <p>
          В&nbsp;том случае, если на&nbsp;вас поступит жалоба от&nbsp;другого
          пользователя, администрация может временно приостановить вывод средств
          с&nbsp;вашего аккаунта или временно заблокировать его для проведения
          соответствующего разбирательства.
        </p>
        <p>
          Блокировки аккаунтов осуществляются без предупреждений
          и&nbsp;уведомлений. Администрация оставляет за&nbsp;собой право
          на&nbsp;связь с&nbsp;продавцами под видом покупателей с&nbsp;целью
          выявления нарушений.
        </p>
      </div>
      <article class="rules-table" v-if="rulesData">
        <div class="rules-table__section">
          <h2 class="rules-table__section--title">Правила для продавцов</h2>
          <div class="table-label">
            <h3 class="table-label--violation">Нарушение</h3>
            <h3 class="table-label--sanctions">Санкции</h3>
          </div>
          <div
            class="rules-table__section--description"
            v-for="(rule, idx) in rulesData.forSellers"
            :key="idx"
          >
            <div
              class="violation"
              v-html="`${idx + 1}. ${rule.violation}`"
            ></div>
            <div class="sanctions" v-html="rule.sanctions"></div>
          </div>
        </div>
        <div class="rules-table__section">
          <h2 class="rules-table__section--title">
            Правила для продавцов и покупателей
          </h2>
          <div
            class="rules-table__section--description"
            v-for="(rule, idx) in rulesData.forSellersAndBuyers"
            :key="idx"
          >
            <div
              class="violation"
              v-html="
                `${idx + 1 + rulesData.forSellers.length}. ${rule.violation}`
              "
            ></div>
            <div class="sanctions" v-html="rule.sanctions"></div>
          </div>
        </div>
        <div class="rules-table__section">
          <h2 class="rules-table__section--title">Ответственность продавцов</h2>
          <div
            class="rules-table__section--description"
            v-for="(rule, idx) in rulesData.sellersliability"
            :key="idx"
          >
            <div
              class="violation"
              v-html="`${idx + 1 + sellersAndBuyersLength}. ${rule.violation}`"
            ></div>
            <div class="sanctions" v-html="rule.sanctions"></div>
          </div>
        </div>
        <div class="rules-table__confirmation">
          <h4 v-html="rulesData.confirmation"></h4>
          <button class="btn btn-primary">Принять условия</button>
        </div>
      </article>
    </div>
  </main>
</template>

<script>
export default {
  computed: {
    sellersLength() {
      return this.rulesData.forSellers.length
    },
    sellersAndBuyersLength() {
      return (
        this.rulesData.forSellers.length +
        this.rulesData.forSellersAndBuyers.length
      )
    },
    rulesData() {
      return this.$store.state.info.rules
    }
  },
  beforeMount() {
    this.$store.dispatch('info/loadRules')
  }
}
</script>

<style lang="scss" scoped>
.rules {
  position: relative;
  background-color: #fcfcfc;
  z-index: 0;

  &-delimiter {
    position: absolute;
    height: 275px;
    top: 395px;
    left: 0;
    right: 0;
    background: #f4f7fb;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
    z-index: -1;

    @media (max-width: 899px) {
      display: none;
    }
  }

  &-container {
    margin: 0 auto;
    max-width: 1080px;

    @media screen and (max-width: 1200px) {
      margin: 0 60px;
      padding: 0 20px;
    }

    @media screen and (max-width: 899px) {
      margin: 0;
      padding: 0;
    }

    @media screen and (max-width: 600px) {
      margin: 0;
      padding: 0;
    }
  }
  &-title {
    padding-top: 82.5px;
    margin-bottom: 120px;
    & > h1 {
      margin-bottom: 28px;
      font-size: 36px;
      font-style: normal;
      font-weight: 800;
      line-height: 44px;
      letter-spacing: 0.02em;
      text-align: left;
    }

    & > p {
      margin-bottom: 20px;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.02em;
      text-align: left;

      &:last-child {
        margin-bottom: 56px;
      }
    }

    @media screen and (max-width: 899px) {
      display: none;
    }
  }
  &-table {
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 10px 65px 0px #0c327b0f;
    z-index: 999;

    @media (max-width: 899px) {
      border-radius: 0;
      padding: 0 15px;
    }

    @media (min-width: 899px) {
      margin-bottom: 215px;
    }

    &__section {
      &--title {
        margin-bottom: 30px;
        padding-left: 45px;
        padding-top: 35px;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.02em;
        text-align: left;

        @media (max-width: 899px) {
          margin-bottom: 15px;
          padding-top: 25px;
          padding-left: 15px;
          font-size: 17px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0.02em;
          text-align: left;
        }
      }

      &--description {
        display: flex;
        padding: 0 45px;
        min-height: 100px;
        border-top: 1px solid #dbe6fa;

        &:last-child {
          border-bottom: 1px solid #dbe6fa;
        }

        & .violation {
          display: flex;
          align-items: center;
          padding-top: 8px;
          padding-right: 10%;
          padding-bottom: 8px;
          width: 60%;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.02em;
          text-align: left;

          @media (max-width: 899px) {
            width: 52%;
            padding: 8px 12px 8px 15px;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 0.02em;
            text-align: left;
          }
        }

        & .sanctions {
          position: relative;
          display: flex;
          align-items: center;
          width: 40%;
          padding-left: 45px;
          // border-left: 1px solid #2f6ce221;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.02em;
          text-align: left;

          &::before {
            content: '';
            position: absolute;
            width: 1px;
            top: 20%;
            bottom: 20%;
            left: 0;
            background-color: #2f6ce221;
          }

          @media (max-width: 899px) {
            width: 45%;
            padding: 0 10px 0 18px;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 0.02em;
            text-align: left;
          }
        }

        @media (max-width: 899px) {
          padding: 0;
        }
      }

      & .table-label {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 0 45px;

        & h3 {
          width: 60%;
          font-size: 17px;
          font-style: normal;
          font-weight: 600;
          line-height: 21px;
          letter-spacing: 0.02em;
          text-align: left;

          &:last-child {
            width: 40%;
            padding-left: 45px;
          }
        }

        @media (max-width: 899px) {
          display: none;
        }
      }
    }

    &__confirmation {
      padding: 30px 29px 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0.02em;
      text-align: left;

      & h4 {
        margin-bottom: 30px;
        font-size: 17px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0.02em;
        text-align: left;
      }

      @media (max-width: 899px) {
        padding: 20px 15px;

        & h4 {
          font-size: 11px;
          font-style: normal;
          font-weight: 600;
          line-height: 13px;
          letter-spacing: 0.02em;
          text-align: left;
        }

        & button {
          margin-bottom: 205px;
        }
      }
    }
  }
}
</style>
