<template>
  <main class="supprt-wrapper flex column">
    <div class="support-container">
      <h2>Отправить запрос</h2>
      <form @submit.prevent="sendRequest">
        <div class="support-inputs">
          <AppInput
            name="email"
            type="text"
            placeholder="Адресс эл. почты"
            v-model="requestData.email"
          />
          <div class="input-group">
            <select-component
              name="select"
              smallFont
              :optionsList="requestThemes"
              :defaultPlaceholder="'Тема сообщения'"
              v-model="requestData.theme"
            />
          </div>
          <AppInput
            name="login"
            type="text"
            placeholder="Логин"
            v-model="requestData.login"
          />
          <div class="input-group mb-10">
            <input
              type="text"
              placeholder="Номер заказа"
              v-model="requestData.orderId"
            />
          </div>
          <p>
            Если ваш запрос не&nbsp;связан с&nbsp;заказом, оставьте поле пустым
          </p>
          <div class="input-group mb-10">
            <Field
              name="textarea"
              v-model="requestData.description"
              type="textarea"
              v-slot="{ errors, handleChange }"
            >
              <textarea
                name="textarea"
                placeholder="Ваше сообщение"
                :class="{ error: errors.length }"
                @input="handleChange"
              ></textarea>
            </Field>
          </div>
          <p>
            Постарайтесь описать всё как можно подробнее и&nbsp;указать все
            детали (это позволит решить проблему быстрее)
          </p>
          <div class="input-group mb-10 fileinput">
            <file-upload-field
              :previewClass="'support-upload-preview'"
              @setFiles="updateFilesToSend"
            />
          </div>
          <p>При необходимости прикрипите файлы (необязательно)</p>
          <div class="input-group mb-10">
            <Field
              name="captcha"
              type="text"
              v-model="requestData.captcha"
              v-slot="{ errors, handleChange }"
            >
              <re-captcha
                @verify="handleChange"
                :class="{ 'error-child': errors.length }"
              />
              <ErrorMessage
                name="captcha"
                class="help-message"
                :class="{ shake: !!errors.length }"
              />
            </Field>
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-submit"
            :class="{ 'button-loading': isRequestInProcess }"
            :disabled="isRequestInProcess"
          ></button>
        </div>
      </form>
    </div>
  </main>
</template>

<script>
import { defineAsyncComponent, onBeforeMount, reactive, ref, inject } from 'vue'
import { useRoute } from 'vue-router'
import { useStore } from 'vuex'
import { Field, ErrorMessage, useForm } from 'vee-validate'

import FileUploadField from '@/components/FileUploadField.vue'
import SelectComponent from '@/components/inputComponents/SelectElement.vue'
import AppInput from '../components/inputComponents/AppInput.vue'
const ReCaptcha = defineAsyncComponent(() =>
  import('@/components/ReCaptcha.vue')
)
import { validators } from '../validators/yupValidators'

export default {
  name: 'support',
  components: {
    AppInput,
    SelectComponent,
    FileUploadField,
    ReCaptcha,
    Field,
    ErrorMessage
  },
  setup() {
    const store = useStore()
    const route = useRoute()
    const addAlert = inject('addAlert')

    const refreshKey = ref('support-form')

    const requestThemes = [
      'Мой VABAO аккаунт заблокирован',
      'Покупатель забыл оплатить заказ',
      'У меня есть проблемы с покупателем',
      'Восстановить доступ к аккаунту VABAO',
      'Проблемы с платежем или выводом денег',
      'Пожаловаться на нарушение правил в чате',
      'Я оплатил заказ, но продавец не отвечает',
      'Пожаловаться на нарушение правил в таблице предложений',
      'Я недоволен выполнением заказа, хочу пожаловаться на продавца',
      'Прочее'
    ]

    const files = ref([])
    const requestData = reactive({
      email: '',
      theme: '',
      login: '',
      orderId: '',
      description: '',
      captcha: ''
    })

    const updateFilesToSend = filesArray => {
      files.value = filesArray
    }

    const useFormData = useForm({
      validationSchema: {
        email: validators.email,
        login: validators.required,
        select: validators.select,
        textarea: validators.textarea,
        captcha: validators.captcha
      }
    })

    const isRequestInProcess = ref(false)

    const sendRequest = async () => {
      useFormData.setErrors({})
      const { valid } = await useFormData.validate()
      if (!valid) return
      try {
        store.dispatch(
          'popupActions/openPopupComponent',
          store.state.popupActions.popupComponentsList.supportDone
        )
        store.dispatch('popupActions/showLoader')
        const { data: result } = await store.dispatch('support/sendForm', [
          'support',
          requestData,
          files.value
        ])
        if (result.error) {
          store.dispatch('popupActions/closeLoaderAsResolve')
          addAlert('error', result.error)
        } else {
          store.dispatch(
            'popupActions/appendPopup',
            store.state.popupActions.popupComponentsList.supportDone
          )
          store.dispatch('popupActions/closeLoaderAsResolve')
        }
      } catch (e) {
        console.log(e)
        addAlert('error', 'Что то пошло не так')
      }
    }

    onBeforeMount(() => {
      Object.keys(route.query).forEach(key => {
        if (key in requestData) {
          requestData[key] = route.query[key]
        }
      })
    })

    return {
      refreshKey,
      requestThemes,
      requestData,
      updateFilesToSend,
      isRequestInProcess,
      sendRequest
    }
  }
}
</script>

<style lang="scss">
.support-container {
  max-width: 900px;
  margin: 0 auto;

  @media (max-width: 600px) {
    padding-top: 22px;
    margin: 0 20px;
  }

  & h2 {
    margin-top: 120px;
    margin-bottom: 55px;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;

    @media (max-width: 899px) {
      margin-top: 22px;
      margin-bottom: 20px;
    }
  }

  & button {
    display: block;
    margin: 30px auto 160px;

    @media (max-width: 899px) {
      margin-bottom: 100px;
    }
  }
}

.support-inputs {
  margin-bottom: 35px;

  @media (max-width: 899px) {
    width: 520px;
  }

  @media (max-width: 600px) {
    width: auto;
  }

  & .input-group {
    position: relative;
    margin-bottom: 25px;
    width: 100% !important;
    box-sizing: border-box;

    @media (max-width: 899px) {
      margin-bottom: 12px;
    }

    & input {
      border-radius: 3px;
    }
  }

  & p {
    width: 650px;
    margin-bottom: 25px;
    color: rgba(50, 50, 50, 0.8);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    @media (max-width: 899px) {
      width: 350px;
      margin-bottom: 22px;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
    }
  }
}

.support-upload-preview {
  grid-template-columns: repeat(5, 1fr);

  @media (max-width: 899px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 599px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.btn-submit {
  &::before {
    content: 'Отправить';
    color: #fff;
  }
}

.button-loading {
  &::before {
    content: 'Loading...';
    width: 100%;
    color: rgba(138, 138, 138, 0.6);
    text-align: center;
  }
}

.error {
  border: 1px solid red !important;
}

.error-child > div {
  filter: drop-shadow(0 0 1px red);
}
</style>
