<template>
  <AppWrapper>
    <router-view v-slot="{ Component }">
      <transition name="fade-main" mode="out-in">
        <component :is="Component" :key="$route.fullPath" />
      </transition>
    </router-view>
  </AppWrapper>
</template>

<script>
import AppWrapper from '../components/wrappers/CenterTickerWrapper.vue'

export default {
  name: 'UserLayout',
  components: {
    AppWrapper
  }
}
</script>
